Repository vmware/clarity, pull requests merged in 2019-12, with the labels that each got.

#4045 feat(date-picker): adds min/max date boundries for datepicker
  gemini/dark-screens/datepicker/datepicker nested in table/default/chrome.png
  gemini/dark-screens/datepicker/datepicker/default/chrome.png
  gemini/dark-screens/datepicker/layout/default/chrome.png
  gemini/screens/datepicker/datepicker nested in table/default/chrome.png
  gemini/screens/datepicker/datepicker/default/chrome.png
  gemini/screens/datepicker/layout/default/chrome.png
  golden/clr-angular.d.ts
  src/clr-angular/forms/datepicker/_datepicker.clarity.scss
  src/clr-angular/forms/datepicker/calendar.ts
  src/clr-angular/forms/datepicker/date-input.spec.ts
  src/clr-angular/forms/datepicker/date-input.ts
  src/clr-angular/forms/datepicker/day.spec.ts
  src/clr-angular/forms/datepicker/day.ts
  src/clr-angular/forms/datepicker/interfaces/date-range.interface.ts
  src/clr-angular/forms/datepicker/model/calendar-view.model.spec.ts
  src/clr-angular/forms/datepicker/model/calendar-view.model.ts
  src/clr-angular/forms/datepicker/model/day-view.model.ts
  src/clr-angular/forms/datepicker/monthpicker.spec.ts
  src/clr-angular/forms/datepicker/monthpicker.ts
  src/clr-angular/forms/datepicker/providers/date-io.service.spec.ts
  src/clr-angular/forms/datepicker/providers/date-io.service.ts
  src/clr-angular/forms/datepicker/yearpicker.spec.ts
  src/dev/src/app/datepicker/datepicker-min-max.html
  src/dev/src/app/datepicker/datepicker-min-max.ts
  src/dev/src/app/datepicker/datepicker.demo.html
  src/dev/src/app/datepicker/datepicker.demo.module.ts
  src/dev/src/app/datepicker/datepicker.demo.routing.ts
  src/website/src/app/documentation/demos/datepicker/datepicker.demo.html
  src/website/src/app/documentation/demos/datepicker/demos/datepicker-api.demo.html
  src/website/src/app/documentation/demos/datepicker/demos/datepicker-api.demo.ts
  src/website/src/app/documentation/demos/datepicker/demos/datepicker-enUS.demo.ts
  src/website/src/app/documentation/demos/datepicker/demos/datepicker-fr.demo.ts
  src/website/src/app/documentation/demos/datepicker/demos/datepicker-internationalization.demo.html
Labels: component: date-picker, target: master

#4058 fix(button): core button a11y fixes
  bundlesize.json
  src/clr-angular/data/tree-view/tree-node.spec.ts
  src/clr-angular/data/tree-view/tree-node.ts
  src/clr-angular/utils/focus/key-focus/key-focus.spec.ts
  src/clr-angular/utils/focus/key-focus/key-focus.ts
  src/clr-angular/utils/focus/key-focus/util.spec.ts
  src/clr-angular/utils/focus/key-focus/util.ts
  src/clr-core/button/button.element.scss
  src/clr-core/button/button.element.spec.ts
  src/clr-core/common/base/button.base.ts
  src/clr-core/common/enums/aria-roles.ts
  src/clr-core/common/enums/key-codes.ts
  src/clr-core/common/index.ts
  src/clr-core/common/utils/events.ts
  src/dev-core/src/app/button/button.demo.html
  src/dev-core/src/app/button/button.demo.module.ts
  src/dev-core/src/app/button/button.demo.ts
Labels: @clr/core

#4087 core: fix badge and tag to re-use same custom properties for its variations
  docs/core/cwc-badge.md
  docs/core/cwc-tag.md
  src/clr-angular/emphasis/_properties.label.scss
  src/clr-core/badge/_properties.scss
  src/clr-core/badge/badge.element.scss
  src/clr-core/badge/badge.element.ts
  src/clr-core/button/_properties.scss
  src/clr-core/tag/_properties.scss
  src/clr-core/tag/tag.element.scss
  src/clr-core/tag/tag.element.ts
  src/dev-core/src/app/badge/badge.demo.html
  src/dev-core/src/app/badge/badge.demo.scss
  src/dev-core/src/app/badge/badge.demo.ts
  src/dev-core/src/app/tag/tag.demo.html
Labels: @clr/core

#4063 fix(datagrid): clrDgActionOverflowOpenChange is not fire
  src/clr-angular/data/datagrid/datagrid-action-overflow.spec.ts
  src/clr-angular/data/datagrid/datagrid-action-overflow.ts
  src/dev/src/app/datagrid/full/full.html
  src/dev/src/app/datagrid/full/full.ts
Labels: component: datagrid, type: bug

#4069 fix(date-picker): prevent calling for focus, when date-picker is closed
  golden/clr-angular.d.ts
  src/clr-angular/forms/datepicker/date-container.spec.ts
  src/clr-angular/forms/datepicker/date-container.ts
Labels: component: date-picker, type: bug

#4132 fix(icons): css class collisions in icon error-danger classes
  docs/core/cwc-icon.md
  src/clr-core/icon/icon.element.scss
  src/clr-core/icon/icon.element.ts
  src/dev-core/src/app/icon/icon.demo.html
Labels: @clr/core, flag: deprecation, type: bug

#4139 fix: style issues in vertical nav
  src/clr-angular/layout/vertical-nav/_vertical-nav.clarity.scss
  src/website/src/app/documentation/documentation.component.html
  src/website/src/styles/global.scss
Labels: target: master

#4138 fix: make sidenav collapsible group trigger focusable again
  gemini/dark-screens/landing-page/sidenav-clicked/chrome.png
  gemini/dark-screens/landing-page/sidenav-hovered/chrome.png
  gemini/screens/landing-page/sidenav-clicked/chrome.png
  gemini/screens/landing-page/sidenav-hovered/chrome.png
  src/clr-angular/layout/nav/_sidenav.clarity.scss
  src/clr-core/button/_variables.scss
  src/website/src/app/documentation/demos/sidenav/sidenav.html
  src/website/src/styles/global.scss
Labels: @clr/ui, target: master & n-1
