Repository vmware/clarity, pull requests merged in 2019-01, with the labels that each got.

#2988 [NG] datepicker fixes
  golden/clr-angular.d.ts
  src/clr-angular/forms/datepicker/date-input.spec.ts
  src/clr-angular/forms/datepicker/date-input.ts
  src/clr-angular/forms/datepicker/providers/datepicker-focus.service.spec.ts
  src/clr-angular/forms/datepicker/providers/datepicker-focus.service.ts
Labels: dco-required

#3053 [web] add icon download function
  netlify.toml
  package-lock.json
  package.json
  scripts/netlify/download-icon.js
  src/website/src/app/icons/icons-sets/icon-detail-card/icon-detail-card.component.ts
  src/website/src/environments/environment.prod.ts
  src/website/src/sitemap.xml
Labels: Website

#3064 [web] run functions properly and update readme
  README.md
  package.json
  src/website/src/community/contributors.json
Labels: Chore, Website

#3076 [DOCS] Missing link in Tree View documentation
  src/website/src/app/documentation/demos/tree-view/tree-view.demo.html
Labels: Website
