Repository vmware/clarity, pull requests merged in 2019-11, with the labels that each got.

#3873 feat(timeline): add angular components
  gemini/dark-screens/timeline/angular/default/chrome.png
  gemini/dark-screens/timeline/default/chrome.png
  gemini/dark-screens/timeline/static/default/chrome.png
  gemini/screens/timeline/angular/default/chrome.png
  gemini/screens/timeline/default/chrome.png
  gemini/screens/timeline/static/default/chrome.png
  gemini/tests/set4/timeline.js
  golden/clr-angular.d.ts
  src/clr-angular/clr-angular.module.ts
  src/clr-angular/index.ts
  src/clr-angular/timeline/all.spec.ts
  src/clr-angular/timeline/index.ts
  src/clr-angular/timeline/timeline-layout.enum.ts
  src/clr-angular/timeline/timeline-step-description.spec.ts
  src/clr-angular/timeline/timeline-step-description.ts
  src/clr-angular/timeline/timeline-step-header.spec.ts
  src/clr-angular/timeline/timeline-step-header.ts
  src/clr-angular/timeline/timeline-step-state.enum.ts
  src/clr-angular/timeline/timeline-step-title.spec.ts
  src/clr-angular/timeline/timeline-step-title.ts
  src/clr-angular/timeline/timeline-step.spec.ts
  src/clr-angular/timeline/timeline-step.ts
  src/clr-angular/timeline/timeline.module.ts
  src/clr-angular/timeline/timeline.spec.ts
  src/clr-angular/timeline/timeline.ts
  src/dev/src/app/timeline/angular/timeline-angular.html
  src/dev/src/app/timeline/angular/timeline-angular.ts
  src/dev/src/app/timeline/static/timeline-static.html
  src/dev/src/app/timeline/static/timeline-static.ts
  src/dev/src/app/timeline/timeline.demo.html
  src/dev/src/app/timeline/timeline.demo.module.ts
  src/dev/src/app/timeline/timeline.demo.routing.ts
  src/dev/src/app/timeline/timeline.demo.ts
  src/website/src/app/documentation/demos/timeline/timeline-component.html
  src/website/src/app/documentation/demos/timeline/timeline-component.ts
  src/website/src/app/documentation/demos/timeline/timeline-container-demo.ts
  src/website/src/app/documentation/demos/timeline/timeline-full-demo.component.html
  src/website/src/app/documentation/demos/timeline/timeline-full-demo.component.ts
  src/website/src/app/documentation/demos/timeline/timeline.demo.html
  src/website/src/app/documentation/demos/timeline/timeline.demo.module.ts
Labels: flag: watchlist, target: master

#3933 fix: templates for private/unused variables
  golden/clr-angular.d.ts
  src/clr-angular/utils/drag-and-drop/droppable/droppable.ts
  src/dev/src/app/datagrid/compact/compact.html
  src/dev/src/app/datagrid/hide-show-columns/hide-show.html
  src/dev/src/app/datagrid/kitchen-sink/kitchen-sink.ts
  src/dev/src/app/datagrid/responsive-footer/responsive-footer.html
  src/dev/tsconfig.dev.json
  tsconfig.json
Labels: target: master

#3926 refactor(datagrid): move row controls into sticky container
  .travis.yml
  cypress/integration/spec.js
  src/clr-angular/data/datagrid/_datagrid.clarity.scss
  src/clr-angular/data/datagrid/datagrid-row-detail.spec.ts
  src/clr-angular/data/datagrid/datagrid-row-detail.ts
  src/clr-angular/data/datagrid/datagrid-row.html
  src/clr-angular/data/datagrid/datagrid-row.spec.ts
  src/clr-angular/data/datagrid/datagrid.html
  src/clr-angular/utils/_layers.clarity.scss
  src/dev/src/app/datagrid/inventory/inventory.ts
  src/dev/src/app/datagrid/kitchen-sink/kitchen-sink-data.ts
  src/dev/src/app/datagrid/pagination/pagination.html
Labels: component: datagrid

#3993 fix(datepicker): prevent date input from displaying -1 day for specific timezones
  src/clr-angular/forms/datepicker/date-input.spec.ts
  src/clr-angular/forms/datepicker/date-input.ts
Labels: component: date-picker, status: ready to merge, target: master & n-1

#3992 fix(datepicker): prevent date from being deleted when selected on mobile
  src/clr-angular/forms/datepicker/date-input.spec.ts
  src/clr-angular/forms/datepicker/date-input.ts
Labels: component: date-picker, target: master & n-1

#3988 feat(button): core buttons
  bundlesize.json
  docs/core/cwc-button.md
  golden/clr-core.d.ts
  src/clr-core/button/button.element.scss
  src/clr-core/button/button.element.spec.ts
  src/clr-core/button/button.element.ts
  src/clr-core/common/base/button.base.ts
  src/clr-core/common/index.ts
  src/clr-core/common/utils/dom.spec.ts
  src/clr-core/common/utils/dom.ts
  src/clr-core/styles/_core-component.scss
  src/clr-core/styles/global.scss
  src/clr-ui/.stylelintrc
  src/dev-core/src/app/button/button.demo.html
  src/dev-core/src/app/button/button.demo.module.ts
  src/dev-core/src/app/button/button.demo.scss
  src/dev-core/src/app/button/button.demo.ts
Labels: @clr/core, component: button

#3948 fix: missing dependency for clr-tree-node
  src/website/src/app/documentation/demos/badges/badges.demo.html
  src/website/src/app/documentation/demos/tree-view/tree-view.demo.html
Labels: component: tree view, type: bug

#4000 fix: datagrid clrDgFilterOpenChange was not fired
  src/clr-angular/data/datagrid/datagrid-filter.spec.ts
  src/clr-angular/data/datagrid/datagrid-filter.ts
  src/dev/src/app/datagrid/filtering/filtering.html
  src/dev/src/app/datagrid/filtering/filtering.ts
Labels: component: datagrid, target: master & n-1, type: bug

#4028 fix: select-all checkmark position
  src/clr-angular/data/datagrid/_datagrid.clarity.scss
Labels: component: datagrid, target: master, type: bug

#3903 Tweak datagrid docs
  src/website/src/app/documentation/demos/datagrid/datagrid.demo.html
  src/website/src/app/documentation/demos/datagrid/datagrid.demo.module.ts
  src/website/src/app/documentation/demos/datagrid/filtering/examples.ts
  src/website/src/app/documentation/demos/datagrid/usage/usage.html
  src/website/src/app/documentation/demos/datagrid/usage/usage.ts
Labels: component: datagrid, type: website

#3934 feat: Aria live service to handle SR across browsers
  gemini/dark-screens/landing-page/default/chrome.png
  gemini/dark-screens/landing-page/setting-clicked/chrome.png
  gemini/dark-screens/landing-page/setting-hovered/chrome.png
  gemini/dark-screens/landing-page/sidenav-hovered/chrome.png
  gemini/dark-screens/wizard/basic/default/chrome.png
  gemini/dark-screens/wizard/static-wizard-shortcontent/default/chrome.png
  gemini/dark-screens/wizard/static-wizard/default/chrome.png
  gemini/screens/landing-page/default/chrome.png
  gemini/screens/landing-page/setting-clicked/chrome.png
  gemini/screens/landing-page/setting-hovered/chrome.png
  gemini/screens/landing-page/sidenav-hovered/chrome.png
  gemini/screens/wizard/basic/default/chrome.png
  gemini/screens/wizard/static-wizard-shortcontent/default/chrome.png
  gemini/screens/wizard/static-wizard/default/chrome.png
  golden/clr-angular.d.ts
  src/clr-angular/data/datagrid/datagrid-row.spec.ts
  src/clr-angular/emphasis/alert/alert-text.ts
  src/clr-angular/emphasis/alert/alert.html
  src/clr-angular/emphasis/alert/alert.module.ts
  src/clr-angular/emphasis/alert/alert.spec.ts
  src/clr-angular/emphasis/alert/alert.ts
  src/clr-angular/forms/common/error.spec.ts
  src/clr-angular/forms/common/error.ts
  src/clr-angular/forms/common/form.spec.ts
  src/clr-angular/forms/common/form.ts
  src/clr-angular/forms/datepicker/daypicker.html
  src/clr-angular/forms/datepicker/daypicker.spec.ts
  src/clr-angular/forms/datepicker/daypicker.ts
  src/clr-angular/forms/datepicker/yearpicker.spec.ts
  src/clr-angular/forms/datepicker/yearpicker.ts
  src/clr-angular/progress/progress-bars/progress-bar.spec.ts
  src/clr-angular/progress/progress-bars/progress-bar.ts
  src/clr-angular/progress/spinner/spinner.spec.ts
  src/clr-angular/progress/spinner/spinner.ts
  src/clr-angular/utils/a11y/aria-live.service.mock.ts
  src/clr-angular/utils/a11y/aria-live.service.spec.ts
  src/clr-angular/utils/a11y/aria-live.service.ts
  src/clr-angular/utils/toggle~Stashed changes
  src/dev/src/app/accessibility/accessibility.demo.module.ts
  src/dev/src/app/accessibility/accessibility.demo.routing.ts
  src/dev/src/app/accessibility/accessibility.demo.ts
  src/dev/src/app/accessibility/aria-live-service.demo.ts
  src/dev/src/app/app.routing.ts
Labels: type: accessibility

#4038 fix(build): stop csso from restructuring our styles
  package.json
Labels: @clr/ui, component: themes, type: build

#4040 feat(button): improvements to base button
  docs/core/cwc-button.md
  src/clr-core/button/button.element.scss
  src/clr-core/button/button.element.spec.ts
  src/clr-core/button/button.element.ts
  src/clr-core/common/base/button.base.ts
  src/dev-core/src/app/button/button.demo.html
Labels: @clr/core, component: button

#4050 fix: datagrid animation performance issues
  src/clr-angular/utils/animations/expandable-animation/expandable-animation.spec.ts
  src/clr-angular/utils/animations/expandable-animation/expandable-animation.ts
Labels: target: master & n-1

#4044 feat(badge): core badge, feat(tag): core tag
  docs/core/README.md
  docs/core/cwc-badge.md
  docs/core/cwc-tag.md
  src/clr-angular/emphasis/_badges.clarity.scss
  src/clr-angular/emphasis/_labels.clarity.scss
  src/clr-angular/utils/_components.clarity.scss
  src/clr-angular/utils/_variables.global.scss
  src/clr-core/badge/badge.element.scss
  src/clr-core/badge/badge.element.spec.ts
  src/clr-core/badge/badge.element.ts
  src/clr-core/badge/index.ts
  src/clr-core/badge/package.json
  src/clr-core/button/button.element.spec.ts
  src/clr-core/package.json
  src/clr-core/tag/index.ts
  src/clr-core/tag/package.json
  src/clr-core/tag/tag.element.scss
  src/clr-core/tag/tag.element.spec.ts
  src/clr-core/tag/tag.element.ts
  src/clr-ui/.stylelintrc
  src/dev-core/src/app/app-routing.module.ts
  src/dev-core/src/app/app.component.html
  src/dev-core/src/app/badge/badge.demo.html
  src/dev-core/src/app/badge/badge.demo.module.ts
  src/dev-core/src/app/badge/badge.demo.ts
  src/dev-core/src/app/tag/tag.demo.html
  src/dev-core/src/app/tag/tag.demo.module.ts
  src/dev-core/src/app/tag/tag.demo.ts
Labels: @clr/core
