Repository vmware/clarity, pull requests merged in 2020-07, with the labels that each got.

#4735 fix(a11y): let datagrid placeholder to be focusable from SR
  packages/angular/projects/clr-angular/src/data/datagrid/datagrid-placeholder.spec.ts
  packages/angular/projects/clr-angular/src/data/datagrid/datagrid-placeholder.ts
Labels: component: datagrid, type: accessibility

#4758 feat: enable SHIFT+TAB in focus trap
  packages/angular/projects/clr-angular/src/utils/focus-trap/focus-trap-config.interface.ts
  packages/angular/projects/clr-angular/src/utils/focus-trap/focus-trap.directive.spec.ts
  packages/angular/projects/clr-angular/src/utils/focus-trap/focus-trap.directive.ts
Labels: component: utilities

#4779 fix: core storybook API docs
  packages/core/.storybook/main.js
  packages/core/.storybook/manager-head.html
  packages/core/.storybook/manager.js
  packages/core/.storybook/preview.js
  packages/core/.storybook/public/demo.css
  packages/core/package.json
  packages/core/src/alert/alert-actions.element.spec.ts
  packages/core/src/alert/alert-actions.element.ts
  packages/core/src/alert/alert-group.element.spec.ts
  packages/core/src/alert/alert-group.element.ts
  packages/core/src/alert/alert-group.stories.mdx
  packages/core/src/alert/alert-group.stories.ts
  packages/core/src/alert/alert.element.spec.ts
  packages/core/src/alert/alert.element.ts
  packages/core/src/alert/alert.interfaces.ts
  packages/core/src/alert/alert.stories.mdx
  packages/core/src/alert/alert.stories.ts
  packages/core/src/badge/badge.element.ts
  packages/core/src/badge/badge.stories.ts
  packages/core/src/button/button.element.ts
  packages/core/src/button/button.stories.ts
  packages/core/src/button/icon-button.stories.ts
  packages/core/src/button/inline-button.stories.ts
  packages/core/src/checkbox/checkbox.stories.ts
  packages/core/src/datalist/datalist.element.ts
  packages/core/src/datalist/datalist.stories.ts
  packages/core/src/date/date.stories.ts
  packages/core/src/file/file.stories.ts
  packages/core/src/forms/control-group/control-group.element.ts
  packages/core/src/icon/icon.element.ts
  packages/core/src/icon/icon.stories.ts
  packages/core/src/input/input.stories.ts
  packages/core/src/internal-components/close-button/close-button.element.scss
  packages/core/src/internal-components/close-button/close-button.element.spec.ts
  packages/core/src/internal-components/close-button/close-button.element.ts
  packages/core/src/internal-components/close-button/close-button.stories.mdx
  packages/core/src/internal-components/close-button/close-button.stories.ts
  packages/core/src/internal-components/close-button/register.ts
  packages/core/src/internal/utils/metadata.ts
  packages/core/src/modal/modal.element.ts
  packages/core/src/modal/modal.stories.ts
  packages/core/src/password/password.stories.ts
  packages/core/src/radio/radio.stories.ts
  packages/core/src/range/range.stories.ts
  packages/core/src/search/search.element.ts
  packages/core/src/search/search.stories.ts
  packages/core/src/select/select.stories.ts
  packages/core/src/tag/tag.stories.ts
  packages/core/src/textarea/textarea.stories.ts
  packages/core/src/time/time.element.ts
  packages/core/src/time/time.stories.ts
  packages/core/src/toggle/toggle.stories.ts
Labels: @clr/core

#4767 fix(form): missing ng-touched on controls that are touched
  packages/angular/projects/clr-angular/src/forms/common/wrapped-control.spec.ts
  packages/angular/projects/clr-angular/src/forms/common/wrapped-control.ts
Labels: @clr/angular, component: forms

#4461 feat: introduce clr-form-placeholder solid color and set disabled opacity to 0.55
  packages/angular/projects/clr-angular/src/forms/styles/_containers.clarity.scss
  packages/angular/projects/clr-angular/src/forms/styles/_input-group.clarity.scss
  packages/angular/projects/clr-angular/src/forms/styles/_input.clarity.scss
  packages/angular/projects/clr-angular/src/forms/styles/_mixins.forms.scss
  packages/angular/projects/clr-angular/src/forms/styles/_properties.forms.scss
  packages/angular/projects/clr-angular/src/forms/styles/_variables.forms.scss
  packages/angular/projects/clr-angular/src/utils/_mixins.scss
  packages/angular/projects/clr-angular/src/utils/_overwrites.clarity.scss
  packages/angular/projects/clr-angular/src/utils/_theme.dark.clarity.scss
  packages/angular/projects/dev/src/app/forms/disabled/disabled.html
  packages/angular/projects/dev/src/app/forms/disabled/disabled.ts
Labels: component: forms, flag: breaking change, type: accessibility

#4788 fix: backport datagrid missing cells issue
  packages/angular/projects/clr-angular/src/data/datagrid/wrapped-cell.ts
  packages/angular/projects/clr-angular/src/data/datagrid/wrapped-column.ts
  packages/angular/projects/clr-angular/src/data/datagrid/wrapped-row.ts
  packages/angular/projects/clr-angular/src/utils/ivy/if-ivy-enabled.spec.ts
  packages/angular/projects/clr-angular/src/utils/ivy/if-ivy-enabled.ts
Labels: component: datagrid

#4787 Fix: backward compatibility for non Ivy build related to Datagrid
  src/clr-angular/data/datagrid/wrapped-cell.ts
  src/clr-angular/data/datagrid/wrapped-column.ts
  src/clr-angular/data/datagrid/wrapped-row.ts
  src/clr-angular/utils/ivy/if-ivy-enabled.spec.ts
  src/clr-angular/utils/ivy/if-ivy-enabled.ts
Labels: component: datagrid

#4774 fix(toggle): popover toggle prevents default behavior of arrow key events
  packages/angular/projects/clr-angular/src/utils/popover/popover-close-button.spec.ts
  packages/angular/projects/clr-angular/src/utils/popover/popover-close-button.ts
  packages/angular/projects/clr-angular/src/utils/popover/popover-content.spec.ts
  packages/angular/projects/clr-angular/src/utils/popover/popover-open-close-button.ts
  packages/angular/projects/clr-angular/src/utils/popover/providers/popover-toggle.service.spec.ts
  packages/angular/projects/clr-angular/src/utils/popover/providers/popover-toggle.service.ts
Labels: @clr/angular

#4798 docs: update modal documentation section about aria-hidden
  src/website/src/app/documentation/demos/modal/modal.demo.html
Labels: Documentation

#4799 fix(a11y): hidden button into vertical-nav from been tabbable
  packages/angular/projects/clr-angular/src/layout/vertical-nav/vertical-nav.html
  packages/angular/projects/clr-angular/src/layout/vertical-nav/vertical-nav.spec.ts
Labels: component: vertical-nav, target: master & n-1, type: accessibility

#4800 fix(a11y): hidden button into vertical-nav from been tabbable backpor…
  src/clr-angular/layout/vertical-nav/vertical-nav.html
  src/clr-angular/layout/vertical-nav/vertical-nav.spec.ts
Labels: v3

#4817 fix(form): if-error call on undefined ViewContainerRef throw error
  packages/angular/projects/clr-angular/src/forms/common/if-control-state/if-error.ts
Labels: component: forms, type: bug
