Repository vmware/clarity, pull requests merged in 2020-08, with the labels that each got.

#4858 fix: core esm treeshaking
  packages/core/docs/browser-support.stories.mdx
  packages/core/import-map.importmap
  packages/core/package.json
  packages/core/src/alert/alert.element.ts
  packages/core/src/alert/register.ts
  packages/core/src/badge/register.ts
  packages/core/src/button/button.element.ts
  packages/core/src/button/register.ts
  packages/core/src/datalist/datalist.element.ts
  packages/core/src/date/date.element.ts
  packages/core/src/file/file.element.ts
  packages/core/src/forms/control-action/control-action.element.ts
  packages/core/src/forms/control-group/control-group.element.ts
  packages/core/src/forms/control/control.element.ts
  packages/core/src/forms/utils/index.ts
  packages/core/src/icon/register.ts
  packages/core/src/internal-components/close-button/close-button.element.ts
  packages/core/src/internal/css-vars/css-vars.spec.ts
  packages/core/src/internal/css-vars/css-vars.ts
  packages/core/src/modal/modal.element.ts
  packages/core/src/modal/register.ts
  packages/core/src/password/password.element.ts
  packages/core/src/search/search.element.ts
  packages/core/src/select/select.element.ts
  packages/core/src/tag/register.ts
  packages/core/src/tag/tag.element.ts
  packages/core/src/test-dropdown/register.ts
  packages/core/src/time/time.element.ts
Labels: @clr/core

#4859 docs: fixes x-scrolling on smallest responsive screen
  apps/website/.vuepress/theme/components/Home.vue
Labels: type: website

#4863 fix: core icon color, website core icon load
  apps/website/.vuepress/public/demos/sidenav/icons-css.html
  apps/website/.vuepress/theme/core.js
  apps/website/data/icon-inventory.js
  packages/core/src/icon/icon.element.scss
Labels: @clr/core, type: website

#4886 fix(datagrid): disable whitespace wrap in column title
  src/clr-angular/data/datagrid/_datagrid.clarity.scss
Labels: component: datagrid

#4900 fix: handle stepper throwing TypeError
  src/clr-angular/accordion/stepper/models/stepper.model.spec.ts
  src/clr-angular/accordion/stepper/models/stepper.model.ts
Labels: component: stepper

#4888 revert: check is Ivy enabled or disabled (backport from v4)
  src/clr-angular/data/datagrid/wrapped-cell.ts
  src/clr-angular/data/datagrid/wrapped-column.ts
  src/clr-angular/data/datagrid/wrapped-row.ts
  src/clr-angular/utils/ivy/if-ivy-enabled.spec.ts
  src/clr-angular/utils/ivy/if-ivy-enabled.ts
Labels: component: datagrid, v3

#4887 revert: check is Ivy enabled or disabled
  packages/angular/projects/clr-angular/src/data/datagrid/wrapped-cell.ts
  packages/angular/projects/clr-angular/src/data/datagrid/wrapped-column.ts
  packages/angular/projects/clr-angular/src/data/datagrid/wrapped-row.ts
  packages/angular/projects/clr-angular/src/utils/ivy/if-ivy-enabled.spec.ts
  packages/angular/projects/clr-angular/src/utils/ivy/if-ivy-enabled.ts
Labels: component: datagrid

#4907 fix(core): form alignment issues
  packages/core/src/forms/control-action/control-action.element.scss
  packages/core/src/forms/control-label/control-label.element.scss
  packages/core/src/forms/utils/index.ts
  packages/core/src/icon/icon.element.ts
  packages/core/src/input/input-groups.stories.ts
  packages/core/src/internal/base/button.base.ts
Labels: @clr/core

#4918 fix(combobox): focus indicator was not animating
  packages/angular/golden/clr-angular.d.ts
  packages/angular/projects/clr-angular/src/forms/combobox/_combobox.clarity.scss
  packages/angular/projects/clr-angular/src/forms/combobox/combobox.html
  packages/angular/projects/clr-angular/src/forms/combobox/combobox.ts
Labels: v4

#4914 docs: core dev contributions
  docs/CODING_GUIDELINES_CORE.md
  packages/core/.storybook/manager-head.html
  packages/core/.storybook/preview.js
  packages/core/docs/development/accessibility.stories.mdx
  packages/core/docs/development/code-conventions.mdx
  packages/core/docs/development/component-code-conventions.stories.mdx
  packages/core/docs/development/component-registration.stories.mdx
  packages/core/docs/development/content-projection.stories.mdx
  packages/core/docs/development/demo-applications.stories.mdx
  packages/core/docs/development/getting-started.stories.mdx
  packages/core/docs/development/imports-and-dependencies.stories.mdx
  packages/core/docs/development/package.stories.mdx
  packages/core/docs/development/public-api.stories.mdx
  packages/core/docs/development/templates-and-styles.stories.mdx
  packages/core/docs/development/unit-testing.stories.mdx
  packages/core/docs/development/using-icons.stories.mdx
Labels: @clr/core, v4

#4917 fix: display helper subtext into form-containers when success-content is missing
  packages/angular/golden/clr-angular.d.ts
  packages/angular/projects/clr-angular/src/forms/checkbox/checkbox-container.spec.ts
  packages/angular/projects/clr-angular/src/forms/checkbox/checkbox-container.ts
  packages/angular/projects/clr-angular/src/forms/checkbox/toggle-container.spec.ts
  packages/angular/projects/clr-angular/src/forms/combobox/combobox-container.spec.ts
  packages/angular/projects/clr-angular/src/forms/combobox/combobox-container.ts
  packages/angular/projects/clr-angular/src/forms/common/abstract-container.ts
  packages/angular/projects/clr-angular/src/forms/common/control-container.spec.ts
  packages/angular/projects/clr-angular/src/forms/common/control-container.ts
  packages/angular/projects/clr-angular/src/forms/common/if-control-state/if-success.spec.ts
  packages/angular/projects/clr-angular/src/forms/common/if-control-state/if-success.ts
  packages/angular/projects/clr-angular/src/forms/datalist/datalist-container.spec.ts
  packages/angular/projects/clr-angular/src/forms/datalist/datalist-container.ts
  packages/angular/projects/clr-angular/src/forms/datepicker/date-container.spec.ts
  packages/angular/projects/clr-angular/src/forms/datepicker/date-container.ts
  packages/angular/projects/clr-angular/src/forms/input/input-container.spec.ts
  packages/angular/projects/clr-angular/src/forms/input/input-container.ts
  packages/angular/projects/clr-angular/src/forms/password/password-container.spec.ts
  packages/angular/projects/clr-angular/src/forms/password/password-container.ts
  packages/angular/projects/clr-angular/src/forms/radio/radio-container.spec.ts
  packages/angular/projects/clr-angular/src/forms/radio/radio-container.ts
  packages/angular/projects/clr-angular/src/forms/range/range-container.spec.ts
  packages/angular/projects/clr-angular/src/forms/range/range-container.ts
  packages/angular/projects/clr-angular/src/forms/select/select-container.spec.ts
  packages/angular/projects/clr-angular/src/forms/select/select-container.ts
  packages/angular/projects/clr-angular/src/forms/tests/container.spec.ts
  packages/angular/projects/clr-angular/src/forms/textarea/textarea-container.spec.ts
  packages/angular/projects/clr-angular/src/forms/textarea/textarea-container.ts
  packages/angular/projects/dev/src/app/forms/reset/reset.html
  packages/angular/projects/dev/src/app/forms/validation/validation.html
  packages/angular/projects/dev/src/app/forms/validation/validation.ts
Labels: component: forms, flag: regression, type: bug

#4912 fix: core docs forms, improved types
  packages/core/docs/welcome.stories.ts
  packages/core/src/forms/form-group/form-group.element.ts
  packages/core/src/forms/forms.stories.mdx
  packages/core/src/forms/forms.stories.ts
  packages/core/src/forms/utils/validate.ts
Labels: @clr/core, v4

#4916 fix(a11y): remove redundant title attribute from Stack View expand/collapse icon
  packages/angular/golden/clr-angular.d.ts
  packages/angular/projects/clr-angular/src/data/stack-view/stack-block.ts
Labels: needs: accessibility input, v3, v4, v5

#4939 fix: make sure that colType and field are set before trying to configure filters
  golden/clr-angular.d.ts
  src/clr-angular/data/datagrid/datagrid-column.spec.ts
  src/clr-angular/data/datagrid/datagrid-column.ts
Labels: component: datagrid, type: bug, v3

#4941 fix(datagrid): colType and field are set before trying to configure filters
  packages/angular/golden/clr-angular.d.ts
  packages/angular/projects/clr-angular/src/data/datagrid/datagrid-column.spec.ts
  packages/angular/projects/clr-angular/src/data/datagrid/datagrid-column.ts
Labels: component: datagrid, type: bug, v4

#4946 build: use action cache to improve CI build time
  .github/workflows/build.yml
  .github/workflows/dev.yml
  .github/workflows/website.yml
Labels: type: build, v4

#4950 fix(combobox): display placeholder text
  packages/angular/golden/clr-angular.d.ts
  packages/angular/projects/clr-angular/src/forms/combobox/combobox.html
  packages/angular/projects/clr-angular/src/forms/combobox/combobox.spec.ts
  packages/angular/projects/clr-angular/src/forms/combobox/combobox.ts
  packages/angular/projects/dev/src/app/combobox/combobox.demo.html
Labels: component: combobox, type: bug, v4

#4957 fix: core mising disabled styles
  packages/core/src/internal/base/base.element.scss
  packages/core/src/tag/tag.element.scss
  packages/core/src/tag/tag.stories.ts
Labels: @clr/core, v4

#4954 fix: core list margins
  packages/core/src/list/list.scss
  packages/core/src/list/list.stories.mdx
  packages/core/src/list/list.stories.ts
  packages/core/src/styles/typography/_typography.scss
Labels: @clr/core, v4

#4960 fix: core modal prevent close button wrap
  packages/core/src/modal/modal.element.ts
  packages/core/src/modal/modal.stories.ts
Labels: @clr/core, v4

#4955 fix: core icon button a11y
  packages/core/src/button/icon-button.element.ts
Labels: @clr/core, v4

#4958 fix: core readme and package build
  apps/README.md
  packages/core/README.md
  packages/core/package.js
  packages/core/package.json
Labels: @clr/core

#4959 fix: core modal focus trap
  packages/core/src/internal/base/base.element.scss
  packages/core/src/internal/base/focus-trap.base.spec.ts
  packages/core/src/internal/base/focus-trap.base.ts
  packages/core/src/modal/modal.element.ts
Labels: @clr/core, v4

#4936 fix(datagrid): header visually goes over the data
  src/clr-angular/data/datagrid/_datagrid.clarity.scss
Labels: component: datagrid, v2

#4935 fix(datagrid): header visually goes over the data
  packages/angular/projects/clr-angular/src/data/datagrid/_datagrid.clarity.scss
Labels: component: datagrid, v4

#4894 fix(a11y): match the DOM order of the Modal's title and close button with their visual order
  packages/angular/projects/clr-angular/src/modal/_modal.clarity.scss
  packages/angular/projects/clr-angular/src/modal/modal.html
  packages/angular/projects/clr-angular/src/modal/modal.spec.ts
  packages/angular/projects/clr-angular/src/wizard/_wizard.clarity.scss
Labels: v4

#4970 fix: accept clrLabelSize values provided without binding (backport)
  packages/angular/projects/clr-angular/src/modal/_modal.clarity.scss
  packages/angular/projects/clr-angular/src/modal/modal.html
  packages/angular/projects/clr-angular/src/modal/modal.spec.ts
  packages/angular/projects/clr-angular/src/wizard/_wizard.clarity.scss
Labels: @clr/angular, v4

#4969 fix(a11y): match the DOM order of the Modal's title and close button with their visual order (backport)
  packages/angular/projects/clr-angular/src/modal/_modal.clarity.scss
  packages/angular/projects/clr-angular/src/modal/modal.html
  packages/angular/projects/clr-angular/src/modal/modal.spec.ts
  packages/angular/projects/clr-angular/src/wizard/_wizard.clarity.scss
Labels: @clr/angular, v4

#4968 core: backport modal focus fix
  packages/core/src/internal/base/base.element.scss
  packages/core/src/internal/base/focus-trap.base.spec.ts
  packages/core/src/internal/base/focus-trap.base.ts
  packages/core/src/modal/modal.element.ts
Labels: @clr/core, v4

#4967 core: backport readme/package fix
  apps/README.md
  packages/core/README.md
  packages/core/package.js
  packages/core/package.json
Labels: @clr/core, v4

#4966 core: backport icon button fix
  packages/core/src/button/icon-button.element.ts
Labels: @clr/core, v4

#4965 core: backport modal fix
  packages/core/src/modal/modal.element.ts
  packages/core/src/modal/modal.stories.ts
Labels: @clr/core, v4

#4964 core: backport lists
  packages/core/src/list/list.scss
  packages/core/src/list/list.stories.mdx
  packages/core/src/list/list.stories.ts
  packages/core/src/styles/typography/_typography.scss
Labels: @clr/core, v4

#4961 fix: core improved link button behavior/docs
  packages/core/src/button/base-button.element.scss
  packages/core/src/button/button.element.spec.ts
  packages/core/src/button/button.stories.ts
  packages/core/src/button/icon-button.stories.ts
  packages/core/src/button/inline-button.stories.mdx
  packages/core/src/button/inline-button.stories.ts
  packages/core/src/internal/base/base.element.scss
  packages/core/src/internal/base/button.base.ts
  packages/core/src/styles/typography/_typography.scss
  packages/core/src/tag/tag.element.scss
  packages/core/src/tag/tag.stories.mdx
  packages/core/src/tag/tag.stories.ts
Labels: @clr/core, v4

#4974 backport: disabled tag styles
  packages/core/src/tag/tag.element.scss
  packages/core/src/tag/tag.stories.ts
Labels: @clr/core, v4

#4975 backport: core improved link button behavior/docs
  packages/core/src/button/base-button.element.scss
  packages/core/src/button/button.element.spec.ts
  packages/core/src/button/button.stories.ts
  packages/core/src/button/icon-button.stories.ts
  packages/core/src/button/inline-button.stories.mdx
  packages/core/src/button/inline-button.stories.ts
  packages/core/src/internal/base/base.element.scss
  packages/core/src/internal/base/button.base.ts
  packages/core/src/tag/tag.element.scss
  packages/core/src/tag/tag.stories.mdx
  packages/core/src/tag/tag.stories.ts
Labels: @clr/core, v4

#4962 fix: build script for react wrapper
  packages/core/package.js
  packages/react/package.js
  packages/react/package.json
  packages/react/tsconfig.build.json
  packages/react/tsconfig.json
Labels: v4

#4977 fix(datagrid): colType and field are set before trying to configure f…
  packages/angular/golden/clr-angular.d.ts
  packages/angular/projects/clr-angular/src/data/datagrid/datagrid-column.spec.ts
  packages/angular/projects/clr-angular/src/data/datagrid/datagrid-column.ts
Labels: v4

#4978 fix: header visually goes over the data
  packages/angular/projects/clr-angular/src/data/datagrid/_datagrid.clarity.scss
Labels: v4

#4976 fix: core link styles a11y
  packages/core/src/button/inline-button.element.scss
  packages/core/src/button/inline-button.element.ts
  packages/core/src/styles/typography/_typography.scss
Labels: @clr/core, target: master, v5

#4980 refactor(schematics): update dependencies, add unit tests, stop using fs for file updates (backport)
  package.json
  packages/schematics/README.md
  packages/schematics/package.json
  packages/schematics/src/add/index.ts
  packages/schematics/src/add/index_spec.ts
  packages/schematics/src/add/schema.d.ts
  packages/schematics/src/utility/add-module-import-to-module.ts
  packages/schematics/src/utility/ast-utils.ts
  packages/schematics/src/utility/change.ts
  packages/schematics/src/utility/find-app-module.ts
  packages/schematics/src/utility/find-module.ts
  packages/schematics/src/utility/get-file-content.ts
  packages/schematics/src/utility/get-json-file.ts
  packages/schematics/src/utility/get-main-path.ts
  packages/schematics/src/utility/get-typescript-source-file.ts
  packages/schematics/src/utility/ng-ast-utils.ts
  packages/schematics/src/utility/route-utils.ts
  packages/schematics/src/utility/setup-project.ts
  packages/schematics/src/utility/test/create-app-module.ts
  packages/schematics/src/utility/test/index.ts
  packages/schematics/src/utility/update-json-file.ts
  packages/schematics/tsconfig.test.json
  yarn.lock
Labels: @clr/schematics, v4

#4981 fix: core check that prop exists before warning
  packages/core/src/icon/icon.element.ts
  packages/core/src/internal/decorators/property.spec.ts
  packages/core/src/internal/decorators/property.ts
Labels: @clr/core, v4, v5

#4985 fix: backport core check that prop exists before warning
  packages/core/src/icon/icon.element.ts
  packages/core/src/internal/decorators/property.spec.ts
  packages/core/src/internal/decorators/property.ts
Labels: v4
