Repository vmware/clarity, pull requests merged in 2020-11, with the labels that each got.

#5227 fix(form): clr-date-container max-width
  packages/angular/projects/clr-angular/src/forms/datepicker/_datepicker.clarity.scss
  packages/angular/projects/clr-angular/src/forms/datepicker/date-container.ts
  packages/angular/projects/clr-angular/src/forms/styles/_containers.clarity.scss
Labels: @clr/angular, component: date-picker, component: forms

#5240 fix: start value has mixed support, consider using flex-start instead
  packages/angular/projects/clr-angular/src/data/datagrid/_datagrid.clarity.scss
Labels: @clr/ui, type: bug

#5241 fix: start value has mixed support, consider using flex-start instead
  packages/angular/projects/clr-angular/src/data/datagrid/_datagrid.clarity.scss
Labels: v4

#5242 fix: start value has mixed support, consider using flex-start instead
  src/clr-angular/data/datagrid/_datagrid.clarity.scss
Labels: v3

#5243 fix: start value has mixed support, consider using flex-start instead
  src/clr-angular/data/datagrid/_datagrid.clarity.scss
Labels: v2

#5228 fix: checkbox/toggles had wrong label color
  packages/angular/projects/clr-angular/src/forms/styles/_properties.forms.scss
  packages/angular/projects/clr-angular/src/forms/styles/_variables.forms.scss
Labels: @clr/ui, type: bug

#5253 fix: checkbox/toggles had wrong label color (backport v4)
  packages/angular/projects/clr-angular/src/forms/styles/_properties.forms.scss
  packages/angular/projects/clr-angular/src/forms/styles/_variables.forms.scss
Labels: v4

#5254 fix: checkbox/toggles had wrong label color (backport v3)
  src/clr-angular/forms/styles/_properties.forms.scss
  src/clr-angular/forms/styles/_variables.forms.scss
Labels: v3

#5250 fix(icons): fixing a11y issues related to icons in core
  packages/core/src/alert/alert.element.spec.ts
  packages/core/src/alert/alert.element.ts
  packages/core/src/icon/icon.element.spec.ts
  packages/core/src/icon/icon.element.ts
  packages/core/src/icon/icon.stories.mdx
  packages/core/src/icon/icon.stories.ts
  packages/core/test-bundles/bundlesize.json
Labels: @clr/core, component: icons, flag: breaking change, priority: 4 medium-high, status: in progress, type: accessibility, type: bug, v5

#5233 fix(a11y): removing restriction for banner/app alerts to be one line
  packages/core/src/alert/alert.element.scss
Labels: @clr/core, Dev, component: alert, flag: breaking change, priority: 5 high, status: in progress, type: accessibility, v5

#5195 fix(datagrid): add an aria-label to the column chooser dialog
  packages/angular/projects/clr-angular/src/data/datagrid/datagrid-column-toggle.ts
Labels: hacktoberfest, hacktoberfest-accepted

#5245 fix: improve clr-angular dev app build and run-time
  packages/angular/tsconfig.json
Labels: type: build

#5209 ⚠️ chore: update project to angular 11.0.0.rc-0
  packages/angular/angular.json
  packages/angular/package.json
  packages/angular/projects/clr-angular/src/forms/combobox/combobox-container.spec.ts
  packages/angular/projects/dev/src/app/app.routing.ts
  packages/angular/projects/dev/src/styles.scss
  yarn.lock
Labels: @clr/angular, type: build

#5261 fix(website): responsive / mobile
  apps/website/.vuepress/config.js
  apps/website/.vuepress/theme/components/AlgoliaSearchBox.vue
  apps/website/.vuepress/theme/components/Home.vue
  apps/website/.vuepress/theme/components/NavToc.vue
  apps/website/.vuepress/theme/components/Navbar.vue
  apps/website/.vuepress/theme/enhanceApp.js
  apps/website/.vuepress/theme/index.js
  apps/website/.vuepress/theme/styles/index.scss
  apps/website/.vuepress/theme/styles/overrides.scss
  apps/website/components/badge/code.md
  apps/website/package.json
  netlify.toml
  yarn.lock
Labels: type: website

#5271 safe check clr-icon registry in customElements
  packages/icons/src/index.ts
Labels: @clr/icons, flag: external contribution, type: enhancement, v5

#5281 fix: updated a11y of alerts and alert groups
  packages/core/src/alert/alert-group.element.spec.ts
  packages/core/src/alert/alert-group.element.ts
  packages/core/src/alert/alert-group.stories.ts
  packages/core/src/alert/alert.element.spec.ts
  packages/core/src/alert/alert.element.ts
  packages/core/src/alert/alert.stories.ts
  packages/core/src/progress-circle/progress-circle.element.spec.ts
  packages/core/src/progress-circle/progress-circle.element.ts
Labels: @clr/core, component: alert, type: accessibility, type: enhancement, v5

#5286 feat: add schematic for updating to Clarity 5.0
  packages/schematics/package.json
  packages/schematics/src/add/index.spec.ts
  packages/schematics/src/migration-collection.json
  packages/schematics/src/update/update-5.0.0.spec.ts
  packages/schematics/src/update/update-5.0.0.ts
  packages/schematics/src/utility/update-json-file.ts
Labels: @clr/angular, @clr/schematics, type: build, v5

#5296 refactor: rename the ESLint plugin to `@clr/eslint-plugin-clarity-adoption`
  package.json
  packages/eslint-plugin-clarity-adoption/.gitignore
  packages/eslint-plugin-clarity-adoption/README.md
  packages/eslint-plugin-clarity-adoption/docs/rules/no-clr-alert.md
  packages/eslint-plugin-clarity-adoption/docs/rules/no-clr-button.md
  packages/eslint-plugin-clarity-adoption/package.json
  packages/eslint-plugin-clarity-adoption/src/html-parser.ts
  packages/eslint-plugin-clarity-adoption/src/index.ts
  packages/eslint-plugin-clarity-adoption/src/rules/no-clr-alert/index.ts
  packages/eslint-plugin-clarity-adoption/src/rules/no-clr-button/disallowed-classes.ts
  packages/eslint-plugin-clarity-adoption/src/rules/no-clr-button/index.ts
  packages/eslint-plugin-clarity-adoption/src/rules/utils.ts
  packages/eslint-plugin-clarity-adoption/src/types/index.d.ts
  packages/eslint-plugin-clarity-adoption/test/no-clr-alert.spec.ts
  packages/eslint-plugin-clarity-adoption/test/no-clr-button.spec.ts
  packages/eslint-plugin-clarity-adoption/test/test-helper.ts
  packages/eslint-plugin-clarity-adoption/tsconfig.json
  packages/eslint-plugin-clarity-adoption/tslint.json
Labels: @clr/eslint-plugin-clarity-adoption

#5297 fix(label): updated a11y of tags
  packages/core/src/button/button.element.spec.ts
  packages/core/src/internal/base/button.base.ts
  packages/core/src/tag/tag.element.scss
  packages/core/src/tag/tag.stories.mdx
  packages/core/src/tag/tag.stories.ts
Labels: @clr/core, Documentation, status: in progress, type: accessibility, type: enhancement, v5

#5302 fix: core a11y button issue with submit event
  packages/core/src/alert/alert.element.spec.ts
  packages/core/src/button/button.element.spec.ts
  packages/core/src/button/button.element.ts
  packages/core/src/button/icon-button.element.spec.ts
  packages/core/src/button/icon-button.element.ts
  packages/core/src/button/inline-button.element.ts
  packages/core/src/forms/control-action/control-action.element.ts
  packages/core/src/icon/icon.element.scss
  packages/core/src/internal-components/close-button/close-button.element.ts
  packages/core/src/internal/base/button.base.ts
  packages/core/src/tag/tag.element.ts
Labels: @clr/core, component: button, type: accessibility, type: enhancement, v5

#5280 chore: move jasmine code coverage as seperate task to improve speed
  packages/angular/package.json
Labels: type: build, v5

#5306 chore: move jasmine code coverage as seperate task to improve speed (backport to v4)
  packages/angular/package.json
Labels: v4

#5305 🥳 chore: updating Angular to 11.0.0
  packages/angular/package.json
  packages/angular/projects/clr-angular/package.json
  yarn.lock
Labels: @clr/angular, type: build

#5265 fix(dropdown): ensured unlisten method is only called when needed
  packages/angular/projects/clr-angular/src/popover/dropdown/dropdown-item.ts
Labels: component: dropdown, v3, v4, v5

#5327 fix(dropdown): ensured unlisten method is only called when needed
  src/clr-angular/popover/dropdown/dropdown-item.ts
Labels: dco-required

#5334 Fix/datagrid backporting issue
  src/clr-angular/data/datagrid/datagrid.ts
  src/clr-angular/data/datagrid/wrapped-cell.ts
  src/clr-angular/data/datagrid/wrapped-column.ts
  src/clr-angular/data/datagrid/wrapped-row.ts
Labels: component: datagrid, dco-required, type: bug

#5328 fix(accordion): stop emitting the same event twice
  packages/angular/projects/clr-angular/src/accordion/accordion-panel.ts
Labels: component: accordion, v4
