Repository vmware/clarity, pull requests merged in 2020-10, with the labels that each got.

#5108 feat(a11y): deprecate aria live service
  apps/website/components/alert/api.md
  apps/website/components/form/README.md
  apps/website/foundation/accessibility/README.md
  packages/angular/projects/clr-angular/src/utils/a11y/aria-live.service.ts
Labels: flag: deprecation, type: accessibility, v5

#5111 fix(a11y): improve default core tag accessibility
  packages/core/src/tag/tag.element.scss
Labels: v5

#5112 fix(a11y): improve default core tag accessibility (backport to v4)
  packages/core/src/tag/tag.element.scss
Labels: v4

#5113 fix(accordion): css variables for accordion (backport v4)
  packages/angular/projects/clr-angular/src/accordion/_accordion.clarity.scss
Labels: v4

#5129 Topic/website build deploy next
  netlify.toml
  scripts/website.sh
Labels: type: build, type: website

#5134 feat(icons): [core] allow for custom icons to be added from icon templates
  packages/core/src/icon/index.ts
Labels: @clr/core, @clr/icons, Oops, type: enhancement, v4, v5

#5135 feat(icons): [core] allow for custom icons to be added from icon templates (backport v4)
  packages/core/src/icon/index.ts
Labels: @clr/core, component: icons, type: enhancement, v4

#5078 docs: add components overview page
  apps/website/.vuepress/sidebar.js
  apps/website/.vuepress/theme/global-components/ComponentsOverview.vue
  apps/website/.vuepress/theme/global-components/ItemOverview.vue
  apps/website/components/README.md
Labels: type: website

#5110 fix: remove core icons deprecated styles and methods
  packages/core/src/icon/icon.element.scss
  packages/core/src/icon/icon.element.spec.ts
  packages/core/src/icon/icon.element.ts
  packages/core/src/icon/icon.service.spec.ts
  packages/core/src/icon/icon.service.ts
  packages/core/src/icon/utils/icon.classnames.spec.ts
  packages/core/src/icon/utils/icon.classnames.ts
Labels: @clr/core, component: icons

#5117 fix: (datagrid) filtering not working well with Ivy off
  packages/angular/projects/clr-angular/src/data/datagrid/datagrid.ts
Labels: DO NOT MERGE

#5141 fix(datagrid): skipped change detection cycle on select
  packages/angular/projects/clr-angular/src/data/datagrid/datagrid.spec.ts
  packages/angular/projects/clr-angular/src/data/datagrid/providers/selection.spec.ts
  packages/angular/projects/clr-angular/src/data/datagrid/providers/selection.ts
Labels: @clr/angular, component: datagrid

#5144 fix: (combobox) update of pill design and demo
  packages/angular/projects/clr-angular/src/forms/combobox/_combobox.clarity.scss
  packages/angular/projects/clr-angular/src/forms/combobox/_variables.combobox.scss
  packages/angular/projects/dev/src/app/combobox/combobox.demo.html
Labels: v4

#5157 fix(datagrid): skipped change detection cycle on select (backport)
  packages/angular/projects/clr-angular/src/data/datagrid/datagrid.spec.ts
  packages/angular/projects/clr-angular/src/data/datagrid/providers/selection.spec.ts
  packages/angular/projects/clr-angular/src/data/datagrid/providers/selection.ts
Labels: @clr/angular

#5159 [v4 BACKPORT] fix(form): mark only blurred control as touched instead of whole form
  packages/angular/projects/clr-angular/src/forms/common/wrapped-control.spec.ts
  packages/angular/projects/clr-angular/src/forms/common/wrapped-control.ts
Labels: v4

#5148 fix(combobox): disable openClose button
  packages/angular/projects/clr-angular/src/forms/combobox/_combobox.clarity.scss
  packages/angular/projects/clr-angular/src/forms/combobox/combobox.html
  packages/angular/projects/clr-angular/src/forms/combobox/combobox.spec.ts
Labels: component: combobox, type: bug, v4

#5163 fix(combobox): disable openClose button (backport)
  packages/angular/projects/clr-angular/src/forms/combobox/_combobox.clarity.scss
  packages/angular/projects/clr-angular/src/forms/combobox/combobox.html
  packages/angular/projects/clr-angular/src/forms/combobox/combobox.spec.ts
Labels: @clr/angular, component: combobox

#5130 fix(signpost): put header before contents to fix DOM/a11y tree order
  packages/angular/projects/clr-angular/src/popover/signpost/signpost-content.ts
Labels: @clr/angular, component: signpost, hacktoberfest-accepted, type: accessibility

#5178 fix(datagrid): remove column a11y name override
  packages/angular/projects/clr-angular/src/data/datagrid/datagrid-column.spec.ts
  packages/angular/projects/clr-angular/src/data/datagrid/datagrid-column.ts
Labels: type: accessibility, v2, v3, v4

#5183 fix: remove legacy util files from scss
  packages/core/src/modal/modal.element.scss
  packages/core/src/styles/utils/_close.scss
  packages/core/src/styles/utils/_legacy-spinner.scss
Labels: @clr/core, type: task, v5

#5191 docs(website): updates
  apps/website/.vuepress/config.js
  apps/website/.vuepress/theme/components/AlgoliaSearchBox.vue
  apps/website/.vuepress/theme/components/Home.vue
  apps/website/.vuepress/theme/components/Sidebar.vue
  apps/website/.vuepress/theme/global-components/Release.vue
  apps/website/.vuepress/theme/global-components/ReleaseGroup.vue
  apps/website/.vuepress/theme/global-components/ReleaseItem.vue
  changelogs/schema.json
  changelogs/v4/v4.json
  netlify.toml
  scripts/netlify-build.sh
Labels: type: build, type: website

#5193 build: prevent dependency installs on netlify infrastructure
  netlify.toml
  scripts/netlify-build.sh
Labels: type: build

#5187 fix: report correct location of ESLint error in component templates
  packages/eslint-plugin-clarity-migration/package.json
  packages/eslint-plugin-clarity-migration/src/rules/no-clr-button/index.ts
  packages/eslint-plugin-clarity-migration/test/no-clr-button.spec.ts
  yarn.lock
Labels: @clr/eslint-plugin-clarity-migration

#5120 chore: provide a way to visualy test components
  package.json
  tools/visual-tester/.gitignore
  tools/visual-tester/README.md
  tools/visual-tester/index.js
  tools/visual-tester/package.json
  tools/visual-tester/specs/dev.spec.js
  tools/visual-tester/src/config.js
  tools/visual-tester/src/reporters/base-reporter.js
  tools/visual-tester/src/reporters/console-reporter.js
  tools/visual-tester/src/reporters/dot-reporter.js
  tools/visual-tester/src/runner.js
  yarn.lock
Labels: type: build

#5196 chore: add back no-unused-imports lint rule
  packages/angular/.eslintrc.js
  packages/angular/package.json
  packages/angular/projects/clr-angular/src/data/datagrid/datagrid-column.spec.ts
  packages/angular/projects/clr-angular/src/deprecations.spec.ts
  packages/angular/projects/clr-angular/src/forms/common/if-control-state/if-success.ts
  packages/angular/projects/clr-angular/src/utils/popover/popover-close-button.spec.ts
  packages/angular/src/stories/combobox/combobox.stories.ts
  packages/angular/src/stories/signpost/signpost.stories.ts
Labels: type: build, v4

#5201 docs(website): add sticky header for docs pages
  apps/website/.vuepress/theme/components/AlgoliaSearchBox.vue
  apps/website/.vuepress/theme/components/Home.vue
  apps/website/.vuepress/theme/components/Page.vue
  apps/website/.vuepress/theme/components/PageSubnav.vue
  apps/website/.vuepress/theme/global-components/DocIconsPreviewSettings.vue
  apps/website/.vuepress/theme/global-components/DocIconsSearch.vue
  apps/website/.vuepress/theme/global-components/DocIconsSet.vue
  apps/website/.vuepress/theme/global-components/Release.vue
Labels: type: website

#5214 fix(alert): fix alignment and spinner issues
  packages/core/src/alert/alert.element.scss
  packages/core/src/alert/alert.element.ts
  packages/core/src/progress-circle/progress-circle.element.scss
  packages/core/src/progress-circle/progress-circle.element.ts
  packages/core/src/progress-circle/progress-circle.stories.ts
Labels: @clr/core, component: alert, type: bug, v5

#5219 fix: datagrid issue with placeholder position (v4 backport)
  packages/angular/projects/clr-angular/src/data/datagrid/_datagrid.clarity.scss
Labels: @clr/ui, type: bug, v4

#5218 fix: datagrid issue with placeholder position (v2 backport)
  src/clr-angular/data/datagrid/_datagrid.clarity.scss
Labels: @clr/ui, type: bug, v2

#5217 fix: datagrid issue with placeholder position (v3 backport)
  src/clr-angular/data/datagrid/_datagrid.clarity.scss
Labels: @clr/ui, type: bug, v3

#5164 fix: datagrid issue with placeholder position
  packages/angular/projects/clr-angular/src/data/datagrid/_datagrid.clarity.scss
Labels: @clr/ui, component: datagrid

#5220 fix: accessibility issues with clr-icon involving title and aria-hidden (v4 backport)
  packages/angular/projects/clr-angular/src/data/datagrid/datagrid-column-toggle.spec.ts
  packages/angular/projects/clr-angular/src/data/datagrid/datagrid-column-toggle.ts
  packages/angular/projects/clr-angular/src/data/datagrid/datagrid-column.spec.ts
  packages/angular/projects/clr-angular/src/data/datagrid/datagrid-column.ts
  packages/angular/projects/clr-angular/src/layout/tabs/tabs.spec.ts
  packages/angular/projects/clr-angular/src/layout/tabs/tabs.ts
Labels: @clr/angular, type: accessibility, v4

#5140 fix: accessibility issues with clr-icon involving title and aria-hidden
  packages/angular/projects/clr-angular/src/data/datagrid/datagrid-column-toggle.spec.ts
  packages/angular/projects/clr-angular/src/data/datagrid/datagrid-column-toggle.ts
  packages/angular/projects/clr-angular/src/data/datagrid/datagrid-column.spec.ts
  packages/angular/projects/clr-angular/src/data/datagrid/datagrid-column.ts
  packages/angular/projects/clr-angular/src/layout/tabs/tabs.spec.ts
  packages/angular/projects/clr-angular/src/layout/tabs/tabs.ts
Labels: component: datagrid, component: tab, type: accessibility

#5221 fix(form): input width issue introduced for a fix to datepicker
  packages/angular/projects/clr-angular/src/forms/datepicker/_datepicker.clarity.scss
  packages/angular/projects/clr-angular/src/forms/styles/_input.clarity.scss
Labels: @clr/angular, component: date-picker

#5100 feat: core accordion
  apps/core-angular-cli/src/app/app.component.html
  apps/core-angular-cli/src/app/app.component.ts
  apps/core-vue-cli/src/App.vue
  packages/core/import-map.importmap
  packages/core/src/accordion/accordion-content.element.spec.ts
  packages/core/src/accordion/accordion-content.element.ts
  packages/core/src/accordion/accordion-header.element.spec.ts
  packages/core/src/accordion/accordion-header.element.ts
  packages/core/src/accordion/accordion-panel.element.scss
  packages/core/src/accordion/accordion-panel.element.spec.ts
  packages/core/src/accordion/accordion-panel.element.ts
  packages/core/src/accordion/accordion-panel.stories.mdx
  packages/core/src/accordion/accordion-panel.stories.ts
  packages/core/src/accordion/accordion.element.scss
  packages/core/src/accordion/accordion.element.spec.ts
  packages/core/src/accordion/accordion.element.ts
  packages/core/src/accordion/accordion.stories.mdx
  packages/core/src/accordion/accordion.stories.ts
  packages/core/src/accordion/entrypoint.tsconfig.json
  packages/core/src/accordion/index.ts
  packages/core/src/accordion/package.json
  packages/core/src/accordion/register.ts
  packages/core/src/internal/utils/metadata.ts
  packages/core/tokens.yml
  packages/react/App.tsx
  packages/react/src/accordion/__snapshots__/index.test.tsx.snap
  packages/react/src/accordion/entrypoint.tsconfig.json
  packages/react/src/accordion/index.test.tsx
  packages/react/src/accordion/index.tsx
Labels: @clr/core, component: accordion

#5131 fix(datagrid): add aria-label to string filter input
  packages/angular/golden/clr-angular.d.ts
  packages/angular/projects/clr-angular/src/data/datagrid/built-in/filters/datagrid-string-filter.spec.ts
  packages/angular/projects/clr-angular/src/data/datagrid/built-in/filters/datagrid-string-filter.ts
  packages/angular/projects/clr-angular/src/utils/i18n/common-strings.default.ts
  packages/angular/projects/clr-angular/src/utils/i18n/common-strings.interface.ts
  packages/core/src/internal/services/common-strings.default.ts
  packages/core/src/internal/services/common-strings.interface.ts
Labels: component: datagrid, hackoberfest, hackoberfest-accepted, type: accessibility

#5124 fix(stack-view): use normal outline focus indicators
  packages/angular/projects/clr-angular/src/data/stack-view/_stack-view.clarity.scss
Labels: @clr/ui, hackoberfest, hackoberfest-accepted
