Repository vmware/clarity, pull requests merged in 2020-02, with the labels that each got.

#4253 feat(datagrid): Add API/Configuration for disabling direct page acces…
  golden/clr-angular.d.ts
  src/clr-angular/data/datagrid/datagrid-pagination.spec.ts
  src/clr-angular/data/datagrid/datagrid-pagination.ts
  src/dev/src/app/datagrid/pagination/pagination.html
  src/dev/src/app/datagrid/pagination/pagination.ts
  src/website/src/app/documentation/demos/datagrid/pagination/pagination.html
Labels: @clr/angular, component: datagrid, target: master & n-1, type: enhancement, ux: ready

#4283 fix(a11y): change how wizard use h1, h2 and h3 tags for accessibility
  src/clr-angular/wizard/_wizard.clarity.scss
  src/clr-angular/wizard/wizard.html
  src/website/src/styles/global.scss
Labels: component: wizard, type: accessibility

#4296 fix(datagrid): change order of datagrid filter, sorting buttons
  src/clr-angular/data/datagrid/datagrid-column.ts
Labels: component: datagrid, flag: breaking change, type: accessibility

#4281 fix(button): only toggle overflow when button is in overflow menu
  src/clr-angular/button/button-group/button.spec.ts
  src/clr-angular/button/button-group/button.ts
  src/website/tsconfig.app.json
Labels: component: button

#4312 fix: clr-snippet-code sometimes won't render the code
  src/website/src/app/documentation/demos/stepper/angular-stepper-reactive.demo.html
  src/website/src/app/documentation/demos/stepper/angular-stepper-template.demo.html
  src/website/src/app/utils/code-snippet.ts
Labels: type: bug, type: website

#4315 fix(stepper): limit title width to stepper only and not effecting accordion title
  gemini/dark-screens/accordion/default/chrome.png
  gemini/dark-screens/stepper/default/chrome.png
  gemini/screens/accordion/default/chrome.png
  gemini/screens/stepper/default/chrome.png
  src/clr-angular/accordion/_accordion.clarity.scss
Labels: component: stepper, type: bug

#4310 feat(a11y): introduce ClrAriaLiveService as public service for developers
  golden/clr-angular.d.ts
  src/clr-angular/data/datagrid/datagrid-row.spec.ts
  src/clr-angular/deprecations.spec.ts
  src/clr-angular/emphasis/alert/alert.spec.ts
  src/clr-angular/emphasis/alert/alert.ts
  src/clr-angular/forms/common/error.spec.ts
  src/clr-angular/forms/common/error.ts
  src/clr-angular/forms/common/form.spec.ts
  src/clr-angular/forms/common/form.ts
  src/clr-angular/forms/datepicker/daypicker.spec.ts
  src/clr-angular/forms/datepicker/daypicker.ts
  src/clr-angular/forms/datepicker/yearpicker.spec.ts
  src/clr-angular/forms/datepicker/yearpicker.ts
  src/clr-angular/progress/progress-bars/progress-bar.spec.ts
  src/clr-angular/progress/progress-bars/progress-bar.ts
  src/clr-angular/progress/spinner/spinner.spec.ts
  src/clr-angular/progress/spinner/spinner.ts
  src/clr-angular/utils/a11y/aria-live.service.mock.ts
  src/clr-angular/utils/a11y/aria-live.service.spec.ts
  src/clr-angular/utils/a11y/aria-live.service.ts
  src/clr-angular/utils/a11y/index.ts
  src/clr-angular/utils/index.ts
  src/website/src/app/documentation/demos/a11y/a11y.demo.module.ts
  src/website/src/app/documentation/demos/a11y/accessibility.demo.html
  src/website/src/app/documentation/demos/a11y/accessibility.demo.ts
  src/website/src/app/documentation/demos/alert/alerts.demo.html
  src/website/src/app/documentation/demos/forms/forms.demo.html
  src/website/src/app/documentation/demos/progress-bars/progress-bar-component.demo.html
  src/website/src/app/documentation/demos/spinners/spinner-component.html
  src/website/src/app/documentation/documentation-routing.module.ts
  src/website/src/settings/componentlist.json
Labels: component: alert, component: datagrid, component: forms, flag: deprecation, type: accessibility
