Repository vmware/clarity, pull requests merged in 2020-04, with the labels that each got.

#4408 fix(a11y): prevent clr-control-error from announcing unwanted messages
  golden/clr-angular.d.ts
  src/clr-angular/forms/common/error.ts
Labels: component: forms, type: accessibility, type: bug

#4346 feat(form): add error object to clrIfError context
  src/clr-angular/forms/common/if-error/if-error.spec.ts
  src/clr-angular/forms/common/if-error/if-error.ts
  src/website/src/app/documentation/demos/forms/forms.demo.html
  src/website/src/app/documentation/demos/forms/ng/generic.html
Labels: target: master & n-1

#4455 fix: tape drive icon html issue
  src/clr-icons/shapes/technology-shapes.ts
Labels: target: master & n-1

#4442 docs(timeline): update ng component status
  src/website/src/settings/componentlist.json
Labels: Documentation

#4483 fix(schematics): ng add was not resolving Angular version
  src/schematics/src/add/index.ts
Labels: @clr/schematics, target: master & n-1

#4467 docs(alert): Fix typo 'genrated'
  src/website/src/app/documentation/demos/alert/alerts.demo.html
Labels: Documentation, component: alert

#4431 feat(dnd): add clrDragStartDelay input property to clrDraggable
  golden/clr-angular.d.ts
  src/clr-angular/utils/drag-and-drop/drag-and-drop-integrated.spec.ts
  src/clr-angular/utils/drag-and-drop/drag-event.ts
  src/clr-angular/utils/drag-and-drop/draggable-ghost.spec.ts
  src/clr-angular/utils/drag-and-drop/draggable-ghost.ts
  src/clr-angular/utils/drag-and-drop/draggable/draggable.spec.ts
  src/clr-angular/utils/drag-and-drop/draggable/draggable.ts
  src/clr-angular/utils/drag-and-drop/droppable/droppable.spec.ts
  src/clr-angular/utils/drag-and-drop/droppable/droppable.ts
  src/clr-angular/utils/drag-and-drop/helpers.spec.ts
  src/clr-angular/utils/drag-and-drop/interfaces/drag-event.interface.ts
  src/clr-angular/utils/drag-and-drop/providers/drag-event-listener.service.mock.ts
  src/clr-angular/utils/drag-and-drop/providers/drag-event-listener.service.spec.ts
  src/clr-angular/utils/drag-and-drop/providers/drag-event-listener.service.ts
  src/dev/src/app/drag-and-drop/basic-draggable.demo.html
  src/dev/src/app/drag-and-drop/draggable-handle.demo.html
Labels: @clr/angular, component: utilities, target: master

#4489 fix: dropdown arrow position placement related to issue #3355
  gemini/dark-screens/dropdown/angular-nested/clicked/chrome.png
  gemini/dark-screens/dropdown/angular-nested/submenu-left/chrome.png
  gemini/dark-screens/dropdown/angular-nested/submenu-right/chrome.png
  gemini/dark-screens/dropdown/default/default/chrome.png
  gemini/screens/dropdown/angular-nested/clicked/chrome.png
  gemini/screens/dropdown/angular-nested/submenu-left/chrome.png
  gemini/screens/dropdown/angular-nested/submenu-right/chrome.png
  gemini/screens/dropdown/default/default/chrome.png
  src/clr-angular/popover/dropdown/_dropdown.clarity.scss
Labels: component: dropdown, type: ui library, v1

#4495 fix(icons): changing private property on core icon element
  src/clr-core/icon-shapes/icon.element.ts
Labels: target: master & n-1

#4490 [BACKPORT] fix(stepper): make sure openFirstPanel is call only once
  src/clr-angular/accordion/stepper/models/stepper.model.spec.ts
  src/clr-angular/accordion/stepper/models/stepper.model.ts
  src/website/src/app/documentation/demos/stepper/angular-stepper-reactive.demo.html
Labels: component: stepper, type: bug, v2

#4403 feat(input): input groups style changes
  gemini/dark-screens/checkboxes/default/chrome.png
  gemini/dark-screens/datepicker/datepicker nested in table/default/chrome.png
  gemini/dark-screens/datepicker/layout/default/chrome.png
  gemini/dark-screens/forms/form-compact-grid/default/chrome.png
  gemini/dark-screens/forms/form-compact/default/chrome.png
  gemini/dark-screens/forms/form-input-group/default/chrome.png
  gemini/dark-screens/forms/form-text/default/chrome.png
  gemini/dark-screens/input/default/chrome.png
  gemini/dark-screens/password/default/chrome.png
  gemini/dark-screens/radios/default/chrome.png
  gemini/dark-screens/ranges/default/chrome.png
  gemini/dark-screens/selects/default/chrome.png
  gemini/dark-screens/textarea/default/chrome.png
  gemini/dark-screens/toggles/default/chrome.png
  gemini/screens/checkboxes/default/chrome.png
  gemini/screens/datepicker/datepicker nested in table/default/chrome.png
  gemini/screens/datepicker/layout/default/chrome.png
  gemini/screens/forms/form-compact-grid/default/chrome.png
  gemini/screens/forms/form-compact/default/chrome.png
  gemini/screens/forms/form-input-group/default/chrome.png
  gemini/screens/input/default/chrome.png
  gemini/screens/password/default/chrome.png
  gemini/screens/radios/default/chrome.png
  gemini/screens/ranges/default/chrome.png
  gemini/screens/selects/default/chrome.png
  gemini/screens/textarea/default/chrome.png
  gemini/screens/toggles/default/chrome.png
  gemini/tests/set2/forms.js
  src/clr-angular/forms/styles/_containers.clarity.scss
  src/clr-angular/forms/styles/_input-group.clarity.scss
  src/clr-angular/utils/_theme.dark.clarity.scss
  src/dev/src/app/forms/input-group/input-group.html
Labels: component: forms, flag: breaking change, type: enhancement

#4499 fix: refactor badges and tags to use design tokens and layouts
  package.json
  src/clr-core/badge/badge.element.scss
  src/clr-core/badge/badge.element.ts
  src/clr-core/badge/badge.stories.ts
  src/clr-core/button/base-button.element.scss
  src/clr-core/button/button.element.scss
  src/clr-core/button/button.element.spec.ts
  src/clr-core/button/button.element.ts
  src/clr-core/button/button.stories.mdx
  src/clr-core/button/button.stories.ts
  src/clr-core/button/entrypoint.tsconfig.json
  src/clr-core/button/icon-button.element.scss
  src/clr-core/button/icon-button.element.spec.ts
  src/clr-core/button/icon-button.element.ts
  src/clr-core/button/icon-button.stories.mdx
  src/clr-core/button/icon-button.stories.ts
  src/clr-core/button/index.ts
  src/clr-core/icon-shapes/collections/collections.spec.ts
  src/clr-core/internal/base/button.base.ts
  src/clr-core/internal/utils/dom.spec.ts
  src/clr-core/internal/utils/dom.ts
  src/clr-core/karma.conf.js
  src/clr-core/styles/tokens/tokens.yml
  src/clr-core/tag/entrypoint.tsconfig.json
  src/clr-core/tag/tag.element.scss
  src/clr-core/tag/tag.element.spec.ts
  src/clr-core/tag/tag.element.ts
  src/clr-core/tag/tag.stories.mdx
  src/clr-core/tag/tag.stories.ts
  src/clr-core/test-bundles/bundlesize.json
Labels: needs: ux input

#4509 fix(icons): migrate core icons scss to use tokens
  src/clr-core/icon-shapes/icon.element.scss
Labels: @clr/core, component: icons, type: task

#4520 fix: core - adding block buttons back in, tag fixes
  src/clr-core/badge/badge.element.scss
  src/clr-core/button/base-button.element.scss
  src/clr-core/button/button.stories.mdx
  src/clr-core/button/button.stories.ts
  src/clr-core/button/icon-button.stories.mdx
  src/clr-core/button/icon-button.stories.ts
  src/clr-core/tag/tag.element.scss
  src/clr-core/tag/tag.stories.ts
Labels: @clr/core, Oops, component: button
