Repository vmware/clarity, pull requests merged in 2020-09, with the labels that each got.

#4988 chore: update core possible enums to const enums
  packages/core/src/button/button.element.ts
  packages/core/src/icon/utils/icon.classnames.ts
  packages/core/src/internal/enums/aria-roles.ts
Labels: @clr/core

#4933 fix(button): project button content into one slot
  packages/core/package.json
  packages/core/src/badge/badge.element.scss
  packages/core/src/button/base-button.element.scss
  packages/core/src/button/button.element.scss
  packages/core/src/button/button.element.spec.ts
  packages/core/src/button/button.element.ts
  packages/core/src/button/button.stories.mdx
  packages/core/src/button/button.stories.ts
  packages/core/src/internal/base/button.base.ts
  packages/core/src/internal/utils/dom.spec.ts
  packages/core/src/internal/utils/dom.ts
  packages/core/src/internal/utils/supports.spec.ts
  packages/core/src/internal/utils/supports.ts
Labels: target: master, v5

#4987 fix: core remove unnecessary position on layout
  packages/core/src/styles/layout/_type-horizontal.scss
Labels: @clr/core, v4, v5

#4998 fix: core backport remove unnecessary position on layout
  packages/core/src/styles/layout/_type-horizontal.scss
Labels: @clr/core, v4

#4995 fix: core build tasks
  docs/BUILD.md
  docs/CONTRIBUTING_DEVELOPMENT.md
  package.json
  packages/core/package-css.js
  packages/core/package.json
Labels: @clr/core, v5

#4992 fix: core modal exception
  packages/core/src/internal/base/focus-trap.base.spec.ts
  packages/core/src/internal/base/focus-trap.base.ts
  packages/core/src/internal/utils/focus-trap.ts
Labels: @clr/core, v4, v5

#5007 fix: handle TypeError when calling triggerStatusChange
  packages/angular/projects/clr-angular/src/forms/common/if-control-state/if-control-state.service.spec.ts
  packages/angular/projects/clr-angular/src/forms/common/if-control-state/if-control-state.service.ts
Labels: component: date-picker, type: bug, v4

#5019 fix: back port core modal exception
  packages/core/src/internal/base/focus-trap.base.spec.ts
  packages/core/src/internal/base/focus-trap.base.ts
  packages/core/src/internal/utils/focus-trap.ts
Labels: @clr/core, v4

#5000 fix: prevent combobox form submit on selection with enter
  packages/angular/projects/clr-angular/src/forms/combobox/combobox.html
  packages/angular/projects/clr-angular/src/forms/combobox/providers/combobox-focus-handler.service.spec.ts
  packages/angular/projects/clr-angular/src/forms/combobox/providers/combobox-focus-handler.service.ts
Labels: v4, v5

#4999 fix(form): export form layout enum for strict typing
  packages/angular/golden/clr-angular.d.ts
  packages/angular/projects/clr-angular/src/forms/common/index.ts
  packages/angular/projects/clr-angular/src/forms/common/label.spec.ts
  packages/angular/projects/clr-angular/src/forms/common/layout.spec.ts
  packages/angular/projects/clr-angular/src/forms/common/layout.ts
  packages/angular/projects/clr-angular/src/forms/common/providers/layout.service.spec.ts
  packages/angular/projects/clr-angular/src/forms/common/providers/layout.service.ts
  packages/angular/projects/clr-angular/src/forms/datepicker/date-container.spec.ts
  packages/angular/projects/clr-angular/src/forms/tests/container.spec.ts
Labels: v4

#4951 fix(form): display the correct error when validating
  packages/angular/projects/clr-angular/src/forms/common/all.spec.ts
  packages/angular/projects/clr-angular/src/forms/common/if-control-state/if-error.spec.ts
  packages/angular/projects/clr-angular/src/forms/common/if-control-state/if-error.ts
  packages/angular/projects/dev/src/app/forms/validation/validation.html
Labels: component: forms, type: bug, v4

#4781 fix(datagrid): current selection immutability
  packages/angular/projects/clr-angular/src/data/datagrid/providers/selection.spec.ts
  packages/angular/projects/clr-angular/src/data/datagrid/providers/selection.ts
Labels: v4

#5020 fix: core test cleanup and docs
  packages/core/docs/development/unit-testing.stories.mdx
  packages/core/src/alert/alert-actions.element.spec.ts
  packages/core/src/alert/alert-group.element.spec.ts
  packages/core/src/alert/alert.element.spec.ts
  packages/core/src/badge/badge.element.spec.ts
  packages/core/src/button/button.element.spec.ts
  packages/core/src/button/icon-button.element.spec.ts
  packages/core/src/button/inline-button.element.spec.ts
  packages/core/src/checkbox/checkbox-group.element.spec.ts
  packages/core/src/checkbox/checkbox.element.spec.ts
  packages/core/src/datalist/datalist.element.spec.ts
  packages/core/src/date/date.element.spec.ts
  packages/core/src/file/file.element.spec.ts
  packages/core/src/forms/control-action/control-action.element.spec.ts
  packages/core/src/forms/control-group/control-group.element.spec.ts
  packages/core/src/forms/control-inline/control-inline.element.spec.ts
  packages/core/src/forms/control-label/control-label.element.spec.ts
  packages/core/src/forms/control-message/control-message.element.spec.ts
  packages/core/src/forms/control/control.element.spec.ts
  packages/core/src/forms/form-group/form-group.element.spec.ts
  packages/core/src/forms/utils/index.spec.ts
  packages/core/src/forms/utils/index.ts
  packages/core/src/forms/utils/validate.spec.ts
  packages/core/src/icon/icon.element.spec.ts
  packages/core/src/icon/utils/icon.classnames.spec.ts
  packages/core/src/input/input-group.element.spec.ts
  packages/core/src/input/input.element.spec.ts
  packages/core/src/internal-components/close-button/close-button.element.spec.ts
  packages/core/src/internal/base/focus-trap.base.spec.ts
  packages/core/src/internal/decorators/event.spec.ts
  packages/core/src/internal/decorators/global-style.spec.ts
  packages/core/src/internal/decorators/query-slot.spec.ts
  packages/core/src/internal/directives/spread-props.spec.ts
  packages/core/src/internal/i18n/utils.spec.ts
  packages/core/src/internal/utils/a11y.spec.ts
  packages/core/src/internal/utils/css.spec.ts
  packages/core/src/internal/utils/dom.spec.ts
  packages/core/src/internal/utils/focus-trap.spec.ts
  packages/core/src/internal/utils/responsive.spec.ts
  packages/core/src/internal/utils/size.spec.ts
  packages/core/src/internal/utils/supports.ts
  packages/core/src/modal/modal-actions.element.spec.ts
  packages/core/src/modal/modal-content.element.spec.ts
  packages/core/src/modal/modal-header-actions.element.spec.ts
  packages/core/src/modal/modal-header.element.spec.ts
  packages/core/src/modal/modal.element.spec.ts
  packages/core/src/password/password.element.spec.ts
  packages/core/src/progress-circle/progress-circle.element.spec.ts
  packages/core/src/radio/radio-group.element.spec.ts
  packages/core/src/radio/radio.element.spec.ts
  packages/core/src/range/range.element.spec.ts
  packages/core/src/search/search.element.spec.ts
  packages/core/src/select/select.element.spec.ts
  packages/core/src/tag/tag.element.spec.ts
  packages/core/src/test-dropdown/test-dropdown.element.spec.ts
  packages/core/src/test/utils.ts
  packages/core/src/textarea/textarea.element.spec.ts
  packages/core/src/time/time.element.spec.ts
  packages/core/src/toggle/toggle-group.element.spec.ts
  packages/core/src/toggle/toggle.element.spec.ts
Labels: @clr/core, v5

#5033 fix(alert): sync child alerts when slot changes in alert group (v4 backport)
  packages/core/src/alert/alert-group.element.spec.ts
  packages/core/src/alert/alert-group.element.ts
Labels: v4

#5026 fix(alert): sync child alerts when slot changes in alert group
  packages/core/src/alert/alert-group.element.spec.ts
  packages/core/src/alert/alert-group.element.ts
Labels: v4, v5

#5008 fix: handle TypeError when calling triggerStatusChange
  packages/angular/projects/clr-angular/src/forms/common/if-control-state/if-control-state.service.spec.ts
  packages/angular/projects/clr-angular/src/forms/common/if-control-state/if-control-state.service.ts
Labels: component: date-picker, v5

#5034 fix(accordion): updated panel property to match stepper panel for TS 4
  packages/angular/golden/clr-angular.d.ts
  packages/angular/projects/clr-angular/src/accordion/accordion-panel.ts
Labels: v4

#5036 fix: datagrid pane was losing state when rows update
  packages/angular/projects/clr-angular/src/data/datagrid/datagrid.spec.ts
  packages/angular/projects/clr-angular/src/data/datagrid/datagrid.ts
Labels: @clr/angular, component: datagrid, type: bug, v4

#5035 fix: datagrid pane was losing state when rows update
  packages/angular/projects/clr-angular/src/data/datagrid/datagrid.spec.ts
  packages/angular/projects/clr-angular/src/data/datagrid/datagrid.ts
Labels: @clr/angular, component: datagrid, type: bug, v5

#5039 fix: datagrid pane was losing state when rows update
  src/clr-angular/data/datagrid/datagrid.spec.ts
  src/clr-angular/data/datagrid/datagrid.ts
Labels: component: datagrid, v3

#5027 docs: core rollup-js demo
  .prettierignore
  apps/core-rollup-js/.gitignore
  apps/core-rollup-js/README.md
  apps/core-rollup-js/package.json
  apps/core-rollup-js/postcss.config.js
  apps/core-rollup-js/rollup.config.js
  apps/core-rollup-js/src/favicon.ico
  apps/core-rollup-js/src/index.css
  apps/core-rollup-js/src/index.html
  apps/core-rollup-js/src/index.js
  apps/package.json
  package.json
  packages/core/package.js
  yarn.lock
Labels: @clr/core, v5

#5037 fix(accordion): updated panel property to match stepper panel for TS 4
  packages/angular/golden/clr-angular.d.ts
  packages/angular/projects/clr-angular/src/accordion/accordion-panel.ts
Labels: v4

#5045 fix(datagrid): double event on selection
  packages/angular/projects/clr-angular/src/data/datagrid/providers/selection.spec.ts
  packages/angular/projects/clr-angular/src/data/datagrid/providers/selection.ts
Labels: v4

#4913 fix(datagrid): trackBy items by provided trackBy option
  src/clr-angular/data/datagrid/datagrid-items.spec.ts
  src/clr-angular/data/datagrid/datagrid-items.ts
Labels: component: datagrid, v2, v3, v4

#5048 fix: typo in button react wrapper
  packages/react/src/button/index.tsx
Labels: @clr/core, Oops, v4, v5

#5049 fix: typo in button react wrapper (v4 backport)
  packages/react/src/button/index.tsx
Labels: v4

#5050 fix: core range input layout (backport)
  packages/core/src/range/range.element.scss
Labels: @clr/core, v4

#4996 fix: datagrid-row correct way of assigning clrDgSelectable
  packages/angular/projects/clr-angular/src/data/datagrid/datagrid-row.spec.ts
  packages/angular/projects/clr-angular/src/data/datagrid/datagrid-row.ts
  packages/angular/projects/dev/src/app/datagrid/conditional-selection/conditional-selection.html
  packages/angular/projects/dev/src/app/datagrid/conditional-selection/conditional-selection.ts
Labels: component: datagrid, v4

#5052 fix: core update hot reload for storybook
  packages/core/.storybook/preview.js
  packages/core/package.json
  yarn.lock
Labels: @clr/core, v5

#5053 fix: clr-input-wrapper max width
  packages/angular/projects/clr-angular/src/forms/styles/_input.clarity.scss
Labels: target: master & n-2

#5054 fix: make datagrid header sticky no matter how many rows
  packages/angular/projects/clr-angular/src/data/datagrid/_datagrid.clarity.scss
Labels: target: master & n-1, target: master & n-2

#5047 feat: adding cds-divider component to core
  packages/core/.storybook/preview.js
  packages/core/.storybook/public/demo.css
  packages/core/import-map.importmap
  packages/core/src/divider/divider.element.scss
  packages/core/src/divider/divider.element.spec.ts
  packages/core/src/divider/divider.element.ts
  packages/core/src/divider/divider.stories.mdx
  packages/core/src/divider/divider.stories.ts
  packages/core/src/divider/entrypoint.tsconfig.json
  packages/core/src/divider/index.ts
  packages/core/src/divider/package.json
  packages/core/src/divider/register.ts
  packages/core/src/styles/layout/layout.stories.ts
  packages/core/tsconfig.project.json
  packages/react/App.tsx
  packages/react/src/divider/__snapshots__/index.test.tsx.snap
  packages/react/src/divider/entrypoint.tsconfig.json
  packages/react/src/divider/index.test.tsx
  packages/react/src/divider/index.tsx
  packages/react/src/divider/package.json
  packages/react/tsconfig.project.json
Labels: @clr/core, type: new component, v5

#5066 fix: broken link in website documentation
  packages/angular/projects/website/src/app/documentation/demos/app-layout/app-layout.demo.html
Labels: Documentation, type: website

#5084 docs: add npm version badges
  README.md
  packages/angular/projects/clr-angular/README.md
  packages/core/README.md
  packages/icons/README.md
  packages/react/README.md
  packages/ui/README.md
Labels: Documentation

#5072 fix: Allow className to be passed down to the underlying component (backport v4)
  packages/react/src/converter/react-wrapper.test.tsx
  packages/react/src/converter/react-wrapper.tsx
Labels: v4

#5081 fix(v3 backport): datagrid sticky header fix
  src/clr-angular/data/datagrid/_datagrid.clarity.scss
Labels: status: backlog, v3

#5080 fix(v4 backport): make datagrid header sticky no matter how many rows
  packages/angular/projects/clr-angular/src/data/datagrid/_datagrid.clarity.scss
Labels: status: backlog, v4

#5088 fix: refactor focus-traps
  packages/core/src/internal-components/close-button/close-button.stories.ts
  packages/core/src/internal/base/focus-trap.base.spec.ts
  packages/core/src/internal/base/focus-trap.base.ts
  packages/core/src/internal/services/focus-trap-tracker.service.spec.ts
  packages/core/src/internal/services/focus-trap-tracker.service.ts
  packages/core/src/internal/utils/array.spec.ts
  packages/core/src/internal/utils/array.ts
  packages/core/src/internal/utils/dom.spec.ts
  packages/core/src/internal/utils/dom.ts
  packages/core/src/internal/utils/focus-trap.spec.ts
  packages/core/src/internal/utils/focus-trap.ts
  packages/core/src/styles/layout/_container.scss
  packages/react/App.tsx
Labels: @clr/core, component: dropdown, v5

#5087 fix: website accessibility fixes
  apps/website/.vuepress/theme/components/Sidebar.vue
  apps/website/.vuepress/theme/global-components/DocIcon.vue
  apps/website/foundation/app-layout/README.md
  apps/website/get-started/README.md
Labels: type: accessibility, type: website
