Repository vmware/clarity, pull requests merged in 2020-03, with the labels that each got.

#4339 fix(dropdown): let user overwrite ClrDropdownItem id
  golden/clr-angular.d.ts
  src/clr-angular/popover/dropdown/dropdown-item.spec.ts
  src/clr-angular/popover/dropdown/dropdown-item.ts
  src/clr-angular/popover/dropdown/providers/dropdown-focus-handler.service.ts
  src/clr-angular/popover/dropdown/providers/dropdown-focus-handler.spec.ts
Labels: component: dropdown, type: bug

#4342 Hotfix/add aria label for nav btn
  src/clr-angular/layout/vertical-nav/vertical-nav.html
  src/clr-angular/layout/vertical-nav/vertical-nav.spec.ts
Labels: component: vertical-nav, needs: accessibility input, type: accessibility

#4291 fix(a11y): type error on focus initialization
  src/clr-angular/utils/focus/key-focus/key-focus.spec.ts
  src/clr-angular/utils/focus/key-focus/key-focus.ts
Labels: @clr/angular, component: tab, target: master & n-2, type: bug

#4214 feat(vertical-nav): add aria-current to active link
  src/website/src/app/documentation/demos/vertical-nav/vertical-nav.demo.html
Labels: component: vertical-nav, needs: accessibility input, target: master & n-1, type: accessibility

#4352 fix: id="null" for clr-buttons
  src/clr-angular/button/button-group/button.spec.ts
  src/clr-angular/button/button-group/button.ts
Labels: component: button, target: master & n-1, type: enhancement

#4323 fix(tabs): tab overflow and its focus management
  gemini/dark-screens/tabs/angular/overflowing/chrome.png
  gemini/dark-screens/tabs/angular/vertical-hover/chrome.png
  gemini/screens/tabs/angular/overflowing/chrome.png
  gemini/screens/tabs/angular/vertical-hover/chrome.png
  golden/clr-angular.d.ts
  src/clr-angular/deprecations.spec.ts
  src/clr-angular/layout/tabs/index.ts
  src/clr-angular/layout/tabs/tab-link.directive.spec.ts
  src/clr-angular/layout/tabs/tab-link.directive.ts
  src/clr-angular/layout/tabs/tabs.spec.ts
  src/clr-angular/layout/tabs/tabs.ts
  src/clr-angular/utils/focus/key-focus/key-focus-item.spec.ts
  src/clr-angular/utils/focus/key-focus/key-focus-item.ts
  src/clr-angular/utils/focus/key-focus/key-focus.spec.ts
  src/clr-angular/utils/focus/key-focus/key-focus.ts
Labels: @clr/angular, needs: accessibility input, target: master

#4358 fix(schematics): set correct version of Clarity during ng add in older Angular projects
  commitlint.config.js
  src/schematics/src/add/index.ts
Labels: target: master

#4386 docs: add clarity survey alert to website
  src/website/src/app/app.component.html
  src/website/src/app/app.component.ts
  src/website/src/index.html
  src/website/typings.d.ts
Labels: type: website

#4385 fix(stepper): make sure openFirstPanel is call only once
  src/clr-angular/accordion/stepper/models/stepper.model.spec.ts
  src/clr-angular/accordion/stepper/models/stepper.model.ts
  src/website/src/app/documentation/demos/stepper/angular-stepper-reactive.demo.html
Labels: component: stepper, type: bug

#4399 docs: fix website detail pane demo from extra pixel in row
  src/website/src/app/documentation/demos/datagrid/detail/detail.html
Labels: Documentation

#4423 fix: fix heading typography changes, add inline
  src/clr-core/styles/typography/_typography.scss
  src/clr-core/styles/typography/typography.stories.mdx
  src/clr-core/styles/typography/typography.stories.ts
Labels: @clr/core, Documentation, component: utilities, status: in progress, type: bug
