Repository vmware/clarity, pull requests merged in 2020-05, with the labels that each got.

#4529 fix: cleaning up stray sass variables
  packages/angular/projects/clr-angular/src/button/_properties.buttons.scss
  packages/angular/projects/clr-angular/src/forms/styles/_properties.forms.scss
  packages/angular/projects/clr-angular/src/layout/_properties.login.scss
Labels: target: master & n-1

#4540 fix(datagrid): async row cell order
  packages/angular/projects/clr-angular/src/data/datagrid/datagrid-row.html
  packages/angular/projects/clr-angular/src/data/datagrid/datagrid.spec.ts
Labels: @clr/angular, component: datagrid

#4163 fix(a11y): datagrid expandable row accessibility limitations
  packages/angular/golden/clr-angular.d.ts
  packages/angular/projects/clr-angular/src/data/datagrid/datagrid-if-expanded.service.spec.ts
  packages/angular/projects/clr-angular/src/data/datagrid/datagrid-if-expanded.service.ts
  packages/angular/projects/clr-angular/src/data/datagrid/datagrid-row-detail.spec.ts
  packages/angular/projects/clr-angular/src/data/datagrid/datagrid-row-detail.ts
  packages/angular/projects/clr-angular/src/data/datagrid/datagrid-row.html
  packages/angular/projects/clr-angular/src/data/datagrid/datagrid-row.spec.ts
  packages/angular/projects/clr-angular/src/data/datagrid/datagrid-row.ts
  packages/angular/projects/clr-angular/src/data/datagrid/datagrid.spec.ts
  packages/angular/projects/clr-angular/src/utils/i18n/common-strings.default.ts
  packages/angular/projects/clr-angular/src/utils/i18n/common-strings.interface.ts
  packages/core/src/internal/services/common-strings.default.ts
  packages/core/src/internal/services/common-strings.interface.ts
  src/website/src/app/documentation/demos/i18n/i18n.demo.ts
Labels: component: datagrid, needs: accessibility input, status: in progress, target: master & n-1, type: accessibility

#4557 fix(alert): fix alert-text width for IE11
  packages/angular/projects/clr-angular/src/emphasis/alert/_alert.clarity.scss
Labels: browser: ie11, component: alert, type: bug, v1, v2, v3

#4575 fix: numberic filters type was not applyed on dg-column
  src/clr-angular/data/datagrid/datagrid-column.spec.ts
  src/clr-angular/data/datagrid/datagrid-column.ts
Labels: component: datagrid, type: bug, v2

#4555 feat(a11y): expandable datagrid-row (backport to v3)
  golden/clr-angular.d.ts
  src/clr-angular/data/datagrid/datagrid-if-expanded.service.spec.ts
  src/clr-angular/data/datagrid/datagrid-if-expanded.service.ts
  src/clr-angular/data/datagrid/datagrid-row-detail.spec.ts
  src/clr-angular/data/datagrid/datagrid-row-detail.ts
  src/clr-angular/data/datagrid/datagrid-row.html
  src/clr-angular/data/datagrid/datagrid-row.spec.ts
  src/clr-angular/data/datagrid/datagrid-row.ts
  src/clr-angular/data/datagrid/datagrid.spec.ts
  src/clr-angular/utils/i18n/common-strings.default.ts
  src/clr-angular/utils/i18n/common-strings.interface.ts
  src/clr-core/internal/services/common-strings.default.ts
  src/clr-core/internal/services/common-strings.interface.ts
  src/website/src/app/documentation/demos/i18n/i18n.demo.ts
Labels: component: datagrid, type: enhancement, v3

#4589 fix(alert): fix ie11 width issue for long alerts (V3 branch)
  src/clr-angular/emphasis/alert/_alert.clarity.scss
Labels: v3

#4590 fix(alert): fix ie11 width issue for long alerts (V2 branch)
  src/clr-angular/emphasis/alert/_alert.clarity.scss
Labels: v2

#4591 fix(alert): fix ie11 width issue for long alerts (V1 branch)
  src/clr-angular/emphasis/alert/_alert.clarity.scss
Labels: v1

#4607 feat: adding smaller values to core layout spacing
  packages/core/docs/browser-support.stories.mdx
  packages/core/docs/getting-started.stories.mdx
  packages/core/src/button/base-button.element.scss
  packages/core/src/button/button.stories.ts
  packages/core/src/button/icon-button.stories.ts
  packages/core/src/list/list.scss
  packages/core/src/modal/modal.element.ts
  packages/core/src/modal/modal.stories.mdx
  packages/core/src/modal/modal.stories.ts
  packages/core/src/styles/color/color.stories.mdx
  packages/core/src/styles/layout/_optimize.scss
  packages/core/src/styles/layout/docs/grid.stories.mdx
  packages/core/src/styles/layout/docs/horizontal.stories.mdx
  packages/core/src/styles/layout/docs/layout.stories.mdx
  packages/core/src/styles/layout/docs/patterns.stories.mdx
  packages/core/src/styles/layout/docs/spacing.stories.mdx
  packages/core/src/styles/layout/docs/utilities.stories.mdx
  packages/core/src/styles/layout/docs/vertical.stories.mdx
  packages/core/src/styles/layout/layout.stories.ts
  packages/core/src/styles/layout/mixins/_mixins.scss
  packages/core/src/styles/spacing/spacing.stories.mdx
  packages/core/src/styles/tokens/tokens.stories.mdx
  packages/core/src/styles/tokens/tokens.stories.ts
  packages/core/src/styles/typography/typography.stories.mdx
  packages/core/src/styles/typography/typography.stories.ts
  packages/core/src/tag/tag.stories.ts
  packages/core/test-bundles/bundlesize.json
  packages/core/tokens.yml
Labels: @clr/core, component: utilities, type: enhancement

#4564 fix(dropdown): adds input setter coercion
  packages/angular/golden/clr-angular.d.ts
  packages/angular/projects/clr-angular/src/utils/conditional/if-open.directive.ts
Labels: component: dropdown, type: enhancement

#4645 backport: prevent of calling indexOf on non array inside the datagrid and selection service
  packages/angular/projects/clr-angular/src/data/datagrid/providers/selection.spec.ts
  packages/angular/projects/clr-angular/src/data/datagrid/providers/selection.ts
Labels: component: datagrid, target: master, type: bug

#4626 fix: prevent of calling indexOf on non array inside the datagrid and selection service
  src/clr-angular/data/datagrid/providers/selection.spec.ts
  src/clr-angular/data/datagrid/providers/selection.ts
Labels: component: datagrid, type: bug, v3

#4470 fix: don't update view after opening and immediately closing a popover
  packages/angular/projects/clr-angular/src/utils/popover/popover-content.spec.ts
  packages/angular/projects/clr-angular/src/utils/popover/popover-content.ts
Labels: @clr/angular, target: master & n-1, type: bug, v3

#4608 fix: firstItem-related issues
  src/clr-angular/data/datagrid/all.spec.ts
  src/clr-angular/data/datagrid/providers/state.provider.spec.ts
  src/dev/src/app/datagrid/full/full.ts
  src/dev/src/app/datagrid/preserve-selection/preserve-selection.ts
  src/dev/src/app/datagrid/selection-single/selection-single.ts
  src/dev/src/app/datagrid/selection/selection.ts
  src/dev/src/app/datagrid/server-driven/server-driven.ts
  src/website/src/app/documentation/demos/datagrid/full/full.ts
  src/website/src/app/documentation/demos/datagrid/pagination/pagination.html
  src/website/src/app/documentation/demos/datagrid/server-driven/examples.ts
  src/website/src/app/documentation/demos/datagrid/server-driven/server-driven.ts
Labels: component: datagrid, type: website

#4535 feat: datagrid column resizing with keyboard
  packages/angular/golden/clr-angular.d.ts
  packages/angular/projects/clr-angular/src/data/datagrid/_datagrid.clarity.scss
  packages/angular/projects/clr-angular/src/data/datagrid/datagrid-column-separator.spec.ts
  packages/angular/projects/clr-angular/src/data/datagrid/datagrid-column-separator.ts
  packages/angular/projects/clr-angular/src/data/datagrid/datagrid.spec.ts
  packages/angular/projects/clr-angular/src/data/datagrid/providers/column-resizer.service.spec.ts
  packages/angular/projects/clr-angular/src/data/datagrid/providers/column-resizer.service.ts
  packages/angular/projects/clr-angular/src/utils/i18n/common-strings.default.ts
  packages/angular/projects/clr-angular/src/utils/i18n/common-strings.interface.ts
Labels: @clr/angular, component: datagrid, type: accessibility
