Repository vmware/clarity, pull requests merged in 2020-12, with the labels that each got.

#5350 fix: local package copy script
  package.json
  scripts/update-local-packages.js
Labels: v5

#5337 feat(icons): export icon names in entrypoint of @clr/core/icon
  packages/core/src/icon/icon.stories.mdx
  packages/core/src/icon/index.ts
  packages/react/src/icon/index.tsx
Labels: BLOCKED: CORE, component: icons, type: enhancement, v5

#5378 feat: volume-18 icons
  packages/core/src/icon/collections/essential.ts
  packages/core/src/icon/collections/technology.ts
  packages/core/src/icon/shapes/announcement.ts
  packages/core/src/icon/shapes/birthday-cake.ts
  packages/core/src/icon/shapes/pdf-file.ts
  packages/core/src/icon/shapes/script-execute.ts
  packages/core/src/icon/shapes/script-schedule.ts
  packages/core/src/icon/shapes/xls-file.ts
Labels: @clr/core, component: icons, type: enhancement

#5382 fix: update json for sketch link
  packages/angular/projects/website/src/releases/release-list.json
Labels: type: website

#5295 feat: core i18n
  apps/core-parcel-js/src/index.html
  apps/core-parcel-js/src/init.js
  packages/core/docs/utilities.stories.ts
  packages/core/src/alert/alert-group.stories.ts
  packages/core/src/alert/alert.element.spec.ts
  packages/core/src/alert/alert.element.ts
  packages/core/src/file/file.element.ts
  packages/core/src/index.ts
  packages/core/src/internal/decorators/i18n.spec.ts
  packages/core/src/internal/decorators/i18n.ts
  packages/core/src/internal/index.ts
  packages/core/src/internal/services/common-strings.default.ts
  packages/core/src/internal/services/common-strings.interface.ts
  packages/core/src/internal/services/common-strings.service.spec.ts
  packages/core/src/internal/services/common-strings.service.ts
  packages/core/src/internal/services/i18n.service.spec.ts
  packages/core/src/internal/services/i18n.service.ts
  packages/core/src/modal/modal.element.spec.ts
  packages/core/src/modal/modal.element.ts
  packages/core/src/password/password.element.ts
  packages/core/src/test-dropdown/test-dropdown.element.ts
Labels: @clr/core, component: i18n, flag: breaking change, type: accessibility, type: enhancement, v5

#5387 fix: update core element beta tags
  packages/core/src/accordion/accordion-panel.element.ts
  packages/core/src/accordion/accordion.element.ts
  packages/core/src/button/button.element.ts
  packages/core/src/button/icon-button.element.ts
  packages/core/src/button/inline-button.element.ts
  packages/core/src/internal-components/close-button/close-button.element.ts
  packages/core/src/modal/modal-actions.element.ts
  packages/core/src/modal/modal-content.element.ts
  packages/core/src/modal/modal-header-actions.element.ts
  packages/core/src/modal/modal-header.element.ts
  packages/core/src/tag/tag.element.ts
Labels: @clr/core

#5389 feat: allow env flag set for core logging
  packages/core/src/internal/services/log.service.spec.ts
  packages/core/src/internal/services/log.service.ts
  packages/core/src/internal/utils/global.ts
Labels: @clr/core

#5388 fix: core form alignment with range and input icon
  packages/core/build/build.tokens.ts
  packages/core/karma.conf.js
  packages/core/src/forms/control/control.element.ts
  packages/core/src/forms/form-group/form-group.element.spec.ts
  packages/core/src/forms/form-group/form-group.element.ts
  packages/core/src/forms/utils/index.ts
  packages/core/src/icon/icon.element.spec.ts
  packages/core/src/icon/icon.element.ts
  packages/core/src/icon/utils/icon.classnames.spec.ts
  packages/core/src/icon/utils/icon.classnames.ts
  packages/core/src/internal/utils/css.spec.ts
  packages/core/src/internal/utils/css.ts
  packages/core/src/internal/utils/size.spec.ts
  packages/core/src/internal/utils/size.ts
  packages/core/src/range/range.global.scss
  packages/core/src/styles/global.scss
  packages/core/test-bundles/index.js
Labels: @clr/core

#5385 fix(datagrid): allow apps to disable focus management on page change
  golden/clr-angular.d.ts
  src/clr-angular/data/datagrid/datagrid.spec.ts
  src/clr-angular/data/datagrid/datagrid.ts
Labels: Backport, v3

#5396 fix: core icon service sync
  packages/core/src/icon/icon.element.spec.ts
  packages/core/src/icon/icon.element.ts
  packages/core/src/icon/icon.service.ts
  packages/core/src/internal/index.ts
  packages/core/src/internal/utils/event-subject.spec.ts
  packages/core/src/internal/utils/event-subject.ts
  packages/core/test-bundles/bundlesize.json
Labels: @clr/core

#5386 fix(datagrid): allow apps to disable focus management on page change
  packages/angular/golden/clr-angular.d.ts
  packages/angular/projects/clr-angular/src/data/datagrid/datagrid.spec.ts
  packages/angular/projects/clr-angular/src/data/datagrid/datagrid.ts
Labels: Backport, v4

#5399 feat(website): adding modal docs
  apps/website/.vuepress/code/core-usage-demos/modal/sizes.html
  apps/website/.vuepress/theme/styles/demo.scss
  apps/website/web-components/modal/README.md
  apps/website/web-components/modal/code.md
Labels: @clr/core, Documentation, type: enhancement, type: website

#5400 fix: core themes
  packages/core/.storybook/public/demo.css
  packages/core/build/tokens.ts
  packages/core/src/alert/alert-actions.element.scss
  packages/core/src/alert/alert-actions.element.ts
  packages/core/src/alert/alert-group.element.scss
  packages/core/src/alert/alert-group.element.spec.ts
  packages/core/src/alert/alert-group.element.ts
  packages/core/src/alert/alert-group.stories.mdx
  packages/core/src/alert/alert-group.stories.ts
  packages/core/src/alert/alert.element.scss
  packages/core/src/alert/alert.element.spec.ts
  packages/core/src/alert/alert.element.ts
  packages/core/src/alert/alert.interfaces.ts
  packages/core/src/alert/alert.stories.mdx
  packages/core/src/alert/alert.stories.ts
  packages/core/src/alert/banner-alerts.stories.mdx
  packages/core/src/alert/ligntweight-alerts.stories.mdx
  packages/core/src/badge/badge.element.scss
  packages/core/src/badge/badge.element.ts
  packages/core/src/button/base-button.element.scss
  packages/core/src/button/button.element.ts
  packages/core/src/icon/icon.element.scss
  packages/core/src/icon/icon.element.ts
  packages/core/src/internal/interfaces/index.ts
  packages/core/src/progress-circle/progress-circle.element.scss
  packages/core/src/progress-circle/progress-circle.element.spec.ts
  packages/core/src/progress-circle/progress-circle.element.ts
  packages/core/src/styles/module.reset.scss
  packages/core/src/styles/theme.dark.scss
  packages/core/src/styles/themes/status.stories.mdx
  packages/core/src/styles/tokens/color.stories.mdx
  packages/core/src/styles/tokens/tokens.stories.ts
  packages/core/src/tag/tag.element.scss
  packages/core/src/tag/tag.element.ts
  packages/core/test-bundles/bundlesize.json
Labels: @clr/core

#5401 feat(icons): not found icon loading state and flip orientation fix
  packages/core/src/icon/icon.element.scss
  packages/core/src/icon/icon.element.spec.ts
  packages/core/src/icon/icon.stories.mdx
  packages/core/src/icon/icon.stories.ts
  packages/core/src/icon/shapes/unknown.ts
Labels: @clr/core, component: icons, type: bug, type: enhancement, v5

#5405 fix(icons): fixing inherit styles
  packages/core/src/icon/icon.element.scss
Labels: @clr/core, component: icons, flag: regression, v5

#5416 fix(combobox): display placeholder text (backport v4)
  packages/angular/golden/clr-angular.d.ts
  packages/angular/projects/clr-angular/src/forms/combobox/combobox.html
  packages/angular/projects/clr-angular/src/forms/combobox/combobox.spec.ts
  packages/angular/projects/clr-angular/src/forms/combobox/combobox.ts
  packages/angular/projects/dev/src/app/combobox/combobox.demo.html
Labels: component: combobox, v4
