Repository vmware/clarity, pull requests merged in 2021-02, with the labels that each got.

#5539 fix(website): timeline demos
  apps/website/.vuepress/code/demos/timeline/horizontal-ng.html
  apps/website/.vuepress/code/demos/timeline/horizontal.html
  apps/website/.vuepress/code/demos/timeline/vertical-ng.html
  apps/website/.vuepress/code/demos/timeline/vertical.html
Labels: component: timeline, type: website

#5533 fix: tag a11y enhancement
  packages/core/src/button/button.element.spec.ts
  packages/core/src/internal/base/button.base.ts
  packages/core/src/tag/tag.element.ts
  packages/core/src/tag/tag.stories.ts
Labels: @cds/core, Documentation, type: accessibility

#5543 feat: add no-clr-accordion rule to the ESLint plugin
  packages/eslint-plugin-clarity-adoption/README.md
  packages/eslint-plugin-clarity-adoption/docs/rules/no-clr-accordion.md
  packages/eslint-plugin-clarity-adoption/src/index.ts
  packages/eslint-plugin-clarity-adoption/src/rules/no-clr-accordion/index.ts
  packages/eslint-plugin-clarity-adoption/src/rules/no-clr-accordion/no-clr-accordion.spec.ts
Labels: @clr/eslint-plugin-clarity-adoption

#5546 fix: angular header icons
  apps/website/.vuepress/code/demos/header/basic.html
  apps/website/.vuepress/code/demos/header/colors.html
  apps/website/.vuepress/code/demos/header/subnav.html
  apps/website/.vuepress/code/demos/header/types.html
  apps/website/.vuepress/theme/styles/overrides.scss
  apps/website/angular-components/header/README.md
Labels: Documentation, type: website

#5547 fix: input groups and button content
  apps/website/core-components/button/README.md
  apps/website/core-components/input-group/README.md
Labels: component: button, component: forms, needs: api design

#5535 fix: react update base wrapper to lit implementation
  packages/react/App.tsx
  packages/react/src/accordion/__snapshots__/index.test.tsx.snap
  packages/react/src/accordion/index.tsx
  packages/react/src/alert/__snapshots__/index.test.tsx.snap
  packages/react/src/alert/index.tsx
  packages/react/src/badge/__snapshots__/index.test.tsx.snap
  packages/react/src/badge/index.tsx
  packages/react/src/button/__snapshots__/index.test.tsx.snap
  packages/react/src/button/index.tsx
  packages/react/src/checkbox/__snapshots__/index.test.tsx.snap
  packages/react/src/checkbox/index.tsx
  packages/react/src/converter/__snapshots__/react-wrapper.test.tsx.snap
  packages/react/src/converter/react-wrapper.test.tsx
  packages/react/src/converter/react-wrapper.tsx
  packages/react/src/datalist/__snapshots__/index.test.tsx.snap
  packages/react/src/datalist/index.tsx
  packages/react/src/date/__snapshots__/index.test.tsx.snap
  packages/react/src/date/index.tsx
  packages/react/src/divider/__snapshots__/index.test.tsx.snap
  packages/react/src/divider/index.tsx
  packages/react/src/file/__snapshots__/index.test.tsx.snap
  packages/react/src/file/index.tsx
  packages/react/src/forms/__snapshots__/index.test.tsx.snap
  packages/react/src/forms/index.tsx
  packages/react/src/icon/__snapshots__/index.test.tsx.snap
  packages/react/src/icon/index.tsx
  packages/react/src/input/__snapshots__/index.test.tsx.snap
  packages/react/src/input/index.tsx
  packages/react/src/modal/__snapshots__/index.test.tsx.snap
  packages/react/src/modal/index.tsx
  packages/react/src/password/__snapshots__/index.test.tsx.snap
  packages/react/src/password/index.tsx
  packages/react/src/progress-circle/__snapshots__/index.test.tsx.snap
  packages/react/src/progress-circle/index.tsx
  packages/react/src/radio/__snapshots__/index.test.tsx.snap
  packages/react/src/radio/index.tsx
  packages/react/src/range/__snapshots__/index.test.tsx.snap
  packages/react/src/range/index.tsx
  packages/react/src/search/__snapshots__/index.test.tsx.snap
  packages/react/src/search/index.tsx
  packages/react/src/select/__snapshots__/index.test.tsx.snap
  packages/react/src/select/index.tsx
  packages/react/src/tag/__snapshots__/index.test.tsx.snap
  packages/react/src/tag/index.tsx
  packages/react/src/textarea/__snapshots__/index.test.tsx.snap
  packages/react/src/textarea/index.tsx
  packages/react/src/time/__snapshots__/index.test.tsx.snap
  packages/react/src/time/index.tsx
  packages/react/src/toggle/__snapshots__/index.test.tsx.snap
  packages/react/src/toggle/index.tsx
Labels: @cds/react

#5569 fix: core input readonly style
  packages/core/src/forms/control/control.element.spec.ts
  packages/core/src/forms/control/control.element.ts
  packages/core/src/input/input.element.scss
  packages/core/src/input/input.stories.mdx
  packages/core/src/input/input.stories.ts
  packages/core/src/internal/utils/events.ts
Labels: @cds/core, component: forms, type: bug

#5567 fix: core button space and inverse style
  packages/core/src/button/base-button.element.scss
  packages/core/src/button/button.element.ts
  packages/core/src/button/icon-button.element.scss
  packages/core/src/button/inline-button.element.scss
Labels: @cds/core, component: button, type: bug

#5570 fix: core input control disabled style
  packages/core/src/forms/control/control.element.scss
Labels: @cds/core, component: forms, type: bug

#5571 fix: core input control spacing
  packages/core/src/forms/control/control.element.spec.ts
  packages/core/src/forms/control/control.element.ts
  packages/core/src/search/search.stories.mdx
  packages/core/src/search/search.stories.ts
Labels: @cds/core, component: forms, type: bug

#5572 fix: core control docs inline content
  packages/core/src/forms/control.stories.mdx
  packages/core/src/forms/control.stories.ts
Labels: @cds/core

#5550 feat: add no-clr-checkbox rule to the ESLint plugin
  packages/eslint-plugin-clarity-adoption/README.md
  packages/eslint-plugin-clarity-adoption/docs/rules/no-clr-checkbox.md
  packages/eslint-plugin-clarity-adoption/src/index.ts
  packages/eslint-plugin-clarity-adoption/src/rules/decorator-template-helper.ts
  packages/eslint-plugin-clarity-adoption/src/rules/no-clr-checkbox/index.ts
  packages/eslint-plugin-clarity-adoption/src/rules/no-clr-checkbox/no-clr-checkbox.spec.ts
Labels: @clr/eslint-plugin-clarity-adoption

#5524 fix: core safari flex shim
  packages/core/src/internal/base/base.element.scss
  packages/core/src/internal/base/css-gap.base.spec.ts
  packages/core/src/internal/base/css-gap.base.ts
  packages/core/src/internal/utils/register.ts
Labels: @cds/core

#5577 fix: core inline button color
  packages/core/src/button/inline-button.element.scss
Labels: @cds/core, component: button, type: bug

#5574 fix: datagrids in forms with checkboxes
  packages/angular/golden/clr-angular.d.ts
  packages/angular/projects/clr-angular/src/data/datagrid/datagrid-row.html
  packages/angular/projects/clr-angular/src/data/datagrid/datagrid-row.spec.ts
  packages/angular/projects/clr-angular/src/data/datagrid/datagrid.html
  packages/angular/projects/clr-angular/src/data/datagrid/datagrid.ts
Labels: type: backport, v4

#5587 fix: datagrids in forms with checkboxes
  packages/angular/golden/clr-angular.d.ts
  packages/angular/projects/clr-angular/src/data/datagrid/datagrid-row.html
  packages/angular/projects/clr-angular/src/data/datagrid/datagrid-row.spec.ts
  packages/angular/projects/clr-angular/src/data/datagrid/datagrid.html
  packages/angular/projects/clr-angular/src/data/datagrid/datagrid.ts
Labels: component: datagrid, type: backport, v4

#5594 fix: core accordion register icon element
  packages/core/src/accordion/register.ts
Labels: @cds/core, component: accordion

#5593 feat: core enable token formats
  packages/core/.storybook/preview.js
  packages/core/build/build.tokens.ts
  packages/core/build/token-utils.ts
  packages/core/src/button/base-button.element.scss
  packages/core/src/button/icon-button.element.scss
  packages/core/src/internal/base/base.element.scss
  packages/core/src/styles/global.scss
  packages/core/src/styles/module.reset.scss
  packages/core/src/styles/module.shims.scss
  packages/core/src/styles/module.tokens.scss
  packages/core/src/styles/module.typography.scss
  packages/core/src/styles/theme.dark.scss
  packages/core/src/styles/themes/themes.stories.ts
  packages/core/src/styles/tokens/platform.stories.mdx
  packages/core/src/styles/tokens/tokens.stories.ts
  packages/core/test-bundles/bundlesize.json
Labels: @cds/core

#5596 docs: general content fixes
  apps/website/angular-components/button/README.md
  apps/website/core-components/accordion/code.md
  apps/website/core-components/alert/code.md
  apps/website/core-components/badge/code.md
  apps/website/core-components/button/README.md
  apps/website/core-components/button/code.md
  apps/website/core-components/checkbox/code.md
  apps/website/core-components/control/code.md
  apps/website/core-components/datalist/code.md
  apps/website/core-components/divider/code.md
  apps/website/core-components/file/code.md
  apps/website/core-components/icon-button/code.md
  apps/website/core-components/inline-button/code.md
  apps/website/core-components/input-group/code.md
  apps/website/core-components/input/code.md
  apps/website/core-components/list/code.md
  apps/website/core-components/modal/code.md
  apps/website/core-components/password/code.md
  apps/website/core-components/progress-circle/code.md
  apps/website/core-components/radio/code.md
  apps/website/core-components/range/code.md
  apps/website/core-components/search/code.md
  apps/website/core-components/select/code.md
  apps/website/core-components/tag/code.md
  apps/website/core-components/textarea/code.md
  apps/website/core-components/time/code.md
  apps/website/core-components/toggle/code.md
  apps/website/foundation/icons/accessibility.md
Labels: type: website

#5620 fix(alert): vertically center text in alert
  packages/angular/projects/clr-angular/src/emphasis/alert/_alert.clarity.scss
Labels: component: alert

#5610 feat: add ESLint rules warning against the usage of @clr/angular components
  packages/eslint-plugin-clarity-adoption/README.md
  packages/eslint-plugin-clarity-adoption/docs/rules/no-clr-datalist.md
  packages/eslint-plugin-clarity-adoption/docs/rules/no-clr-form.md
  packages/eslint-plugin-clarity-adoption/docs/rules/no-clr-icon.md
  packages/eslint-plugin-clarity-adoption/docs/rules/no-clr-input.md
  packages/eslint-plugin-clarity-adoption/docs/rules/no-clr-list.md
  packages/eslint-plugin-clarity-adoption/docs/rules/no-clr-modal.md
  packages/eslint-plugin-clarity-adoption/docs/rules/no-clr-password.md
  packages/eslint-plugin-clarity-adoption/docs/rules/no-clr-radio.md
  packages/eslint-plugin-clarity-adoption/docs/rules/no-clr-range.md
  packages/eslint-plugin-clarity-adoption/docs/rules/no-clr-select.md
  packages/eslint-plugin-clarity-adoption/docs/rules/no-clr-textarea.md
  packages/eslint-plugin-clarity-adoption/docs/rules/no-clr-toggle.md
  packages/eslint-plugin-clarity-adoption/package.json
  packages/eslint-plugin-clarity-adoption/src/index.ts
  packages/eslint-plugin-clarity-adoption/src/rules/no-clr-datalist/index.ts
  packages/eslint-plugin-clarity-adoption/src/rules/no-clr-datalist/no-clr-datalist.spec.ts
  packages/eslint-plugin-clarity-adoption/src/rules/no-clr-form/index.ts
  packages/eslint-plugin-clarity-adoption/src/rules/no-clr-form/no-clr-form.spec.ts
  packages/eslint-plugin-clarity-adoption/src/rules/no-clr-icon/no-clr-icon.spec.ts
  packages/eslint-plugin-clarity-adoption/src/rules/no-clr-input/index.ts
  packages/eslint-plugin-clarity-adoption/src/rules/no-clr-input/no-clr-input.spec.ts
  packages/eslint-plugin-clarity-adoption/src/rules/no-clr-list/index.ts
  packages/eslint-plugin-clarity-adoption/src/rules/no-clr-list/no-clr-list.spec.ts
  packages/eslint-plugin-clarity-adoption/src/rules/no-clr-modal/index.ts
  packages/eslint-plugin-clarity-adoption/src/rules/no-clr-modal/no-clr-modal.spec.ts
  packages/eslint-plugin-clarity-adoption/src/rules/no-clr-password/index.ts
  packages/eslint-plugin-clarity-adoption/src/rules/no-clr-password/no-clr-password.spec.ts
  packages/eslint-plugin-clarity-adoption/src/rules/no-clr-radio/index.ts
  packages/eslint-plugin-clarity-adoption/src/rules/no-clr-radio/no-clr-radio.spec.ts
  packages/eslint-plugin-clarity-adoption/src/rules/no-clr-range/index.ts
  packages/eslint-plugin-clarity-adoption/src/rules/no-clr-range/no-clr-range.spec.ts
  packages/eslint-plugin-clarity-adoption/src/rules/no-clr-select/index.ts
  packages/eslint-plugin-clarity-adoption/src/rules/no-clr-select/no-clr-select.spec.ts
  packages/eslint-plugin-clarity-adoption/src/rules/no-clr-textarea/index.ts
  packages/eslint-plugin-clarity-adoption/src/rules/no-clr-textarea/no-clr-textarea.spec.ts
  packages/eslint-plugin-clarity-adoption/src/rules/no-clr-toggle/index.ts
  packages/eslint-plugin-clarity-adoption/src/rules/no-clr-toggle/no-clr-toggle.spec.ts
Labels: @clr/eslint-plugin-clarity-adoption

#5622 fix(alert): vertically center text in alert (Backport v4)
  packages/angular/projects/clr-angular/src/emphasis/alert/_alert.clarity.scss
Labels: @clr/angular, component: alert, type: backport

#5623 fix: core button padding
  packages/core/src/button/base-button.element.scss
Labels: @cds/core, component: button

#5616 fix: strictTemplates errors
  packages/angular/golden/clr-angular.d.ts
  packages/angular/projects/clr-angular/src/data/datagrid/datagrid-row.ts
  packages/angular/projects/clr-angular/src/layout/vertical-nav/vertical-nav-group.ts
  packages/angular/projects/clr-angular/src/layout/vertical-nav/vertical-nav.ts
  packages/angular/projects/clr-angular/src/utils/conditional/if-open.directive.ts
Labels: @clr/angular

#5639 fix: website modal demos not working
  apps/website/.vuepress/code/core-usage-demos/modal/sizes.html
Labels: @cds/core, Documentation, component: modal, type: website

#5638 fix(website): fixing landing first image on super wide screen
  apps/website/.vuepress/theme/components/Home.vue
Labels: type: website

#5647 fix(form): radio button disabled styles
  packages/angular/projects/clr-angular/src/forms/styles/_radio.clarity.scss
  packages/angular/projects/clr-angular/src/forms/styles/_variables.forms.scss
Labels: @clr/angular, component: forms

#5652 fix(form): disabled radio button style (backport)
  packages/angular/projects/clr-angular/src/forms/styles/_radio.clarity.scss
  packages/angular/projects/clr-angular/src/forms/styles/_variables.forms.scss
Labels: @clr/angular, component: forms

#5646 fix: react input update
  packages/core/src/forms/control-inline/control-inline.element.spec.ts
  packages/core/src/forms/control-inline/control-inline.element.ts
  packages/core/src/internal/utils/framework.spec.ts
  packages/react/src/converter/react-wrapper.tsx
Labels: @cds/react
