Repository vmware/clarity, pull requests merged in 2021-04, with the labels that each got.

#5772 fix: core dynamic control groups
  packages/core/src/checkbox/checkbox-group.element.ts
  packages/core/src/forms/control-group/control-group.element.ts
  packages/core/src/forms/control/control.element.spec.ts
  packages/core/src/forms/control/control.element.ts
  packages/core/src/input/input-group.element.ts
  packages/core/src/radio/radio-group.element.ts
  packages/core/src/toggle/toggle-group.element.ts
Labels: @cds/core

#5796 fix(button): typeScript type error when setting `loadingState` in React
  apps/core-create-react-app/src/App.tsx
  packages/core/src/button/button.element.spec.ts
  packages/core/src/button/button.element.ts
  packages/core/src/button/icon-button.element.spec.ts
  packages/core/src/button/icon-button.element.ts
Labels: @cds/core, @cds/react

#5798 docs: remove leftover TODOs in a `Alert` and `Form` articles
  apps/website/angular-components/alert/README.md
  apps/website/core-components/form/README.md
Labels: type: website

#5802 fix(button): register progress-circle component on button component
  apps/core-create-react-app/src/App.tsx
  packages/core/src/button/entrypoint.tsconfig.json
  packages/core/src/button/register.ts
Labels: @cds/core, component: button, v5

#5801 fix(website): add v5 release date on support page
  apps/website/get-started/support.md
Labels: Documentation, type: website

#5800 fix: core form label case transform
  packages/core/src/forms/control-label/control-label.element.scss
Labels: @cds/core

#5678 Migrate Datepicker to extend ClrAbstractContainer as all other containers
  packages/angular/golden/clr-angular.d.ts
  packages/angular/projects/clr-angular/src/forms/datepicker/date-container.spec.ts
  packages/angular/projects/clr-angular/src/forms/datepicker/date-container.ts
Labels: @clr/angular, component: date-picker

#5807 fix(dropdown): fixes dropdown toggle css preventing cds-icon direction
  packages/angular/projects/clr-angular/src/popover/dropdown/_dropdown.clarity.scss
Labels: @clr/ui, component: dropdown, flag: regression

#5748 chore: update to Angular 11.2.5 and Ivy distribution mode
  packages/angular/golden/clr-angular.d.ts
  packages/angular/package.json
  packages/angular/projects/cds-angular/src/all.spec.ts
  packages/angular/projects/cds-angular/tsconfig.lib.prod.json
  packages/angular/projects/clr-angular/src/data/datagrid/datagrid-action-overflow.spec.ts
  packages/angular/projects/clr-angular/src/data/datagrid/helpers.spec.ts
  packages/angular/projects/clr-angular/src/forms/datepicker/date-input.spec.ts
  packages/angular/projects/clr-angular/tsconfig.lib.prod.json
  scripts/core-ng-module-generator.js
  yarn.lock
Labels: @cds/angular, @clr/angular

#5809 chore: fix @cds/angular unit tests
  packages/angular/projects/cds-angular/src/all.spec.ts
Labels: @cds/angular

#5799 docs: fix Alert Error description
  apps/website/core-components/alert/README.md
Labels: type: website

#5810 fix(accordion): adds css to fix cds-icon clr-accordion toggle animation
  packages/angular/projects/clr-angular/src/accordion/_accordion.clarity.scss
Labels: @cds/angular, component: accordion, flag: regression

#5812 fix: core storybook internal doc paths
  packages/core/src/internal-components/close-button/close-button.stories.mdx
  packages/core/src/internal-components/overlay/overlay.stories.mdx
  packages/core/src/internal-components/panel/panel.stories.mdx
  packages/core/src/internal-components/panel/panel.stories.ts
  packages/core/src/internal/motion/motion.stories.mdx
Labels: @cds/core

#5818 fix(datagrid): align datagrid selected count checkbox
  packages/angular/package.json
  packages/angular/projects/clr-angular/src/data/datagrid/_datagrid.clarity.scss
Labels: @clr/angular, component: datagrid

#5826 docs: fix Modal binding description in the API docs
  apps/website/data/angular-api.json
Labels: Documentation

#5842 docs: remove leftover character
  packages/core/src/icon/icon.stories.ts
Labels: Documentation

#5849 fix(signpost): add missing css properties to enable theming
  packages/angular/projects/clr-angular/src/popover/signpost/_properties.signpost.scss
  packages/angular/projects/clr-angular/src/popover/signpost/_signposts.clarity.scss
  packages/angular/projects/clr-angular/src/popover/signpost/_variables.signpost.scss
Labels: @clr/angular, component: signpost

#5856 fix: use css var in nav styles to enable theming
  packages/angular/projects/clr-angular/src/layout/nav/_nav.clarity.scss
Labels: @clr/angular, component: vertical-nav, type: bug

#5835 fix(icons): fix the size of clr-icons positioned inside small buttons
  packages/angular/projects/clr-angular/src/button/_buttons.clarity.scss
Labels: component: button, component: icons, flag: regression

#5855 fix: update dark theme border and box shadow sizes to match the light theme
  packages/angular/projects/clr-angular/src/utils/_theme.dark.clarity.scss
Labels: @clr/angular, component: themes

#5862 fix(vertical-nav): fix the alignment of the collapse/expand icon in navigation groups
  packages/angular/projects/clr-angular/src/layout/vertical-nav/_vertical-nav.clarity.scss
Labels: @clr/angular, component: vertical-nav, flag: regression

#5840 chore(modal): remove vestigal overlayIsActive getter and related test
  packages/core/src/internal-components/overlay/overlay.element.spec.ts
  packages/core/src/internal-components/overlay/overlay.element.ts
Labels: @cds/core

#5875 fix: porting fix over for website checkbox example
  apps/website/.vuepress/code/demos/checkbox/inline-ng.html
Labels: type: website

#5868 fix(website): sidenav buttons did not had unique ids
  apps/website/.vuepress/theme/components/Sidebar.vue
Labels: type: website

#5878 refactor(schematics): fix tests
  packages/schematics/src/add/index.spec.ts
Labels: @clr/angular

#5888 chore: disable Ivy distribution mode
  packages/angular/golden/clr-angular.d.ts
  packages/angular/projects/cds-angular/tsconfig.lib.prod.json
  packages/angular/projects/clr-angular/tsconfig.lib.prod.json
Labels: @cds/angular, @clr/angular

#5914 docs(website): add instructions for setting up Clarity Core with the Angular CLI
  apps/website/get-started/developing/README.md
Labels: type: website

#5918 fix(modal): making modal content items focusable
  packages/core/src/modal/modal-content.element.spec.ts
  packages/core/src/modal/modal-content.element.ts
  packages/core/src/modal/modal.element.spec.ts
Labels: @cds/core, component: modal, type: bug
