Repository vmware/clarity, pull requests merged in 2021-12, with the labels that each got.

#6494 chore(core): remove css flex gap shim
  apps/website/.vuepress/theme/styles/index.scss
  apps/website/get-started/developing/README.md
  packages/core/docs/getting-started.stories.mdx
  packages/core/rollup.config.js
  packages/core/src/accordion/accordion-header.element.scss
  packages/core/src/index.performance.ts
  packages/core/src/internal/base/css-gap.base.spec.ts
  packages/core/src/internal/base/css-gap.base.ts
  packages/core/src/internal/utils/registration.ts
  packages/core/src/styles/layout/shims/_gap.scss
  packages/core/src/styles/module.shims.scss
  packages/schematics/src/cds-add/index.spec.ts
  packages/schematics/src/cds-add/index.ts
Labels: @cds/core, v6

#6496 build(core): fix storybook build config for safari
  packages/core/web-dev-server.storybook.mjs
Labels: @cds/core

#6497 build(angular): update dependencies for angular 13
  .eslintrc.js
  .gitignore
  .nvmrc
  .prettierignore
  apps/core-angular-cli/src/app/app.component.html
  apps/core-angular-cli/src/app/app.component.ts
  apps/core-angular-cli/src/app/app.module.ts
  apps/core-angular-cli/tsconfig.json
  package.json
  packages/angular/package.json
  packages/angular/projects/cds-angular/src/all.spec.ts
  packages/angular/tsconfig.json
  packages/core/package.json
  packages/core/src/internal/decorators/animate.ts
  packages/core/src/internal/decorators/element.ts
  packages/core/src/internal/decorators/event.ts
  packages/core/src/internal/decorators/global-style.ts
  packages/core/src/internal/decorators/i18n.ts
  packages/core/src/internal/decorators/id.ts
  packages/core/src/internal/decorators/query-slot.ts
  packages/core/src/internal/motion/utils.ts
  packages/core/src/internal/utils/global.ts
  packages/core/src/internal/utils/registration.ts
  packages/eslint-plugin-clarity-adoption/package.json
  packages/eslint-plugin-clarity-adoption/src/rules/decorator-template-helper.ts
  packages/eslint-plugin-clarity-adoption/src/rules/no-clr-accordion/index.ts
  packages/eslint-plugin-clarity-adoption/src/rules/no-clr-alert/index.ts
  packages/eslint-plugin-clarity-adoption/src/rules/no-clr-badge/index.ts
  packages/eslint-plugin-clarity-adoption/src/rules/no-clr-button/index.ts
  packages/eslint-plugin-clarity-adoption/src/rules/no-clr-card/index.ts
  packages/eslint-plugin-clarity-adoption/src/rules/no-clr-checkbox/index.ts
  packages/eslint-plugin-clarity-adoption/src/rules/no-clr-datalist/index.ts
  packages/eslint-plugin-clarity-adoption/src/rules/no-clr-form/index.ts
  packages/eslint-plugin-clarity-adoption/src/rules/no-clr-icon/index.ts
  packages/eslint-plugin-clarity-adoption/src/rules/no-clr-input/index.ts
  packages/eslint-plugin-clarity-adoption/src/rules/no-clr-label/index.ts
  packages/eslint-plugin-clarity-adoption/src/rules/no-clr-list/index.ts
  packages/eslint-plugin-clarity-adoption/src/rules/no-clr-modal/index.ts
  packages/eslint-plugin-clarity-adoption/src/rules/no-clr-password/index.ts
  packages/eslint-plugin-clarity-adoption/src/rules/no-clr-radio/index.ts
  packages/eslint-plugin-clarity-adoption/src/rules/no-clr-range/index.ts
  packages/eslint-plugin-clarity-adoption/src/rules/no-clr-select/index.ts
  packages/eslint-plugin-clarity-adoption/src/rules/no-clr-textarea/index.ts
  packages/eslint-plugin-clarity-adoption/src/rules/no-clr-toggle/index.ts
  packages/eslint-plugin-clarity-adoption/tsconfig.json
  packages/react/package.json
  packages/schematics/package.json
  packages/schematics/src/add/index.spec.ts
  packages/schematics/src/cds-add/index.spec.ts
  packages/schematics/src/utility/get-typescript-source-file.ts
  packages/schematics/tsconfig.json
  tools/visual-tester/package.json
  yarn.lock
Labels: flag: breaking change, v6

#6379 refactor(react): fix dev app parcel build issue and refactor to internal-components
  apps/core-create-react-app/tsconfig.json
  apps/core-create-react-app/yarn.lock
  packages/react/App.tsx
  packages/react/package.json
  packages/react/src/close-button/entrypoint.tsconfig.json
  packages/react/src/close-button/package.json
  packages/react/src/internal-components/close-button/__snapshots__/index.test.tsx.snap
  packages/react/src/internal-components/close-button/entrypoint.tsconfig.json
  packages/react/src/internal-components/close-button/index.test.tsx
  packages/react/src/internal-components/close-button/index.tsx
  packages/react/src/internal-components/close-button/package.json
  packages/react/src/internal-components/overlay/__snapshots__/index.test.tsx.snap
  packages/react/src/internal-components/overlay/entrypoint.tsconfig.json
  packages/react/src/internal-components/overlay/index.test.tsx
  packages/react/src/internal-components/overlay/index.tsx
  packages/react/src/internal-components/overlay/package.json
  packages/react/src/internal-components/panel/__snapshots__/index.test.tsx.snap
  packages/react/src/internal-components/panel/entrypoint.tsconfig.json
  packages/react/src/internal-components/panel/index.test.tsx
  packages/react/src/internal-components/panel/index.tsx
  packages/react/src/internal-components/panel/package.json
  packages/react/src/internal-components/popup/__snapshots__/index.test.tsx.snap
  packages/react/src/internal-components/popup/entrypoint.tsconfig.json
  packages/react/src/internal-components/popup/index.test.tsx
  packages/react/src/internal-components/popup/index.tsx
  packages/react/src/internal-components/popup/package.json
  packages/react/src/internal-components/visual-checkbox/__snapshots__/index.test.tsx.snap
  packages/react/src/internal-components/visual-checkbox/entrypoint.tsconfig.json
  packages/react/src/internal-components/visual-checkbox/index.test.tsx
  packages/react/src/internal-components/visual-checkbox/index.tsx
  packages/react/src/internal-components/visual-checkbox/package.json
  packages/react/src/panel/entrypoint.tsconfig.json
  packages/react/src/panel/package.json
  packages/react/src/popup/entrypoint.tsconfig.json
  packages/react/src/popup/package.json
  packages/react/src/visual-checkbox/entrypoint.tsconfig.json
  packages/react/src/visual-checkbox/package.json
  packages/react/tsconfig.project.json
Labels: flag: breaking change, @cds/react, v6

#6513 feat(core): clean up clarity motion decorator
  packages/core/src/accordion/accordion-panel.element.ts
  packages/core/src/internal-components/overlay/overlay.element.ts
  packages/core/src/internal-components/popup/popup.element.ts
  packages/core/src/internal/decorators/animate.spec.ts
  packages/core/src/internal/decorators/animate.ts
  packages/core/src/internal/motion/interfaces.ts
  packages/core/src/internal/motion/motion.stories.mdx
  packages/core/src/internal/motion/utils.spec.ts
  packages/core/src/internal/motion/utils.ts
  packages/core/src/internal/utils/global.ts
  packages/core/src/modal/modal.element.ts
  packages/core/src/navigation/navigation-group.element.ts
  packages/core/src/navigation/navigation.element.ts
  packages/core/src/tree-view/tree-item.element.ts
Labels: flag: breaking change, @cds/core, component: utilities, v6
