Repository vmware/clarity, pull requests merged in 2021-07, with the labels that each got.

#6073 build: updating adoption guide
  apps/adoption/src/app/components/codesandbox/codesandbox.parameters.ts
  apps/adoption/src/app/components/codesandbox/codesandbox.service.ts
  apps/adoption/src/app/components/codesandbox/types.ts
  apps/adoption/src/app/components/demo.component.ts
  apps/adoption/src/app/components/stackblitz/stackblitz.service.ts
  apps/adoption/src/app/components/stackblitz/types.ts
  apps/adoption/src/app/pages/getting-started.page.html
  apps/adoption/src/app/pages/getting-started.page.ts
  apps/adoption/src/app/templates/angular.angular.json.txt
  apps/adoption/src/app/templates/angular.app.component.ts.txt
  apps/adoption/src/app/templates/angular.app.module.ts.txt
  apps/adoption/src/app/templates/angular.index.html.txt
  apps/adoption/src/app/templates/angular.package.json.txt
  apps/adoption/src/app/templates/angular/angular-cli.json.txt
  apps/adoption/src/app/templates/angular/app.component.ts.txt
  apps/adoption/src/app/templates/angular/app.module.ts.txt
  apps/adoption/src/app/templates/angular/index.ts
  apps/adoption/src/app/templates/angular/package.json.txt
  apps/adoption/src/app/templates/angular/stackblitz-template.ts
  apps/adoption/src/app/templates/angular/styles.css.txt
  apps/adoption/src/app/templates/app.component.ts.txt
  apps/adoption/src/app/templates/clarity-package-versions.ts
  apps/adoption/src/app/templates/core.angular.json.txt
  apps/adoption/src/app/templates/core.app.module.ts.txt
  apps/adoption/src/app/templates/core.index.html.txt
  apps/adoption/src/app/templates/core.package.json.txt
  apps/adoption/src/app/templates/core/angular-cli.json.txt
  apps/adoption/src/app/templates/core/app.component.ts.txt
  apps/adoption/src/app/templates/core/index.ts
  apps/adoption/src/app/templates/core/main.ts.txt
  apps/adoption/src/app/templates/core/package.json.txt
  apps/adoption/src/app/templates/core/polyfills.ts.txt
  apps/adoption/src/app/templates/core/stackblitz-template.ts
  apps/adoption/src/app/templates/core/styles.css.txt
  apps/adoption/src/app/templates/core/tsconfig.json.txt
  apps/adoption/src/app/templates/hybrid.angular.json.txt
  apps/adoption/src/app/templates/index.ts
  apps/adoption/src/app/templates/main.ts.txt
  apps/adoption/src/app/templates/polyfills.ts.txt
  apps/adoption/src/app/templates/styles.scss.txt
  apps/adoption/src/app/templates/tsconfig.json.txt
  apps/adoption/src/app/templates/types.ts
Labels: type: build

#6112 build: make sure to use always npm for angular branch
  package.json
  projects/schematics/README.md
Labels: @clr/angular, type: build

#6115 fix(core:tag): horizontally center cds-tag content to support fixed width
  packages/core/src/tag/tag.element.ts
Labels: @cds/core, type: support

#6114 fix(core:controls): enable aria-labelledby
  packages/core/src/forms/control-inline/control-inline.element.spec.ts
  packages/core/src/forms/control-inline/control-inline.element.ts
  packages/core/src/forms/control/control.element.spec.ts
  packages/core/src/forms/control/control.element.ts
  packages/core/src/internal/utils/a11y.spec.ts
  packages/core/src/internal/utils/a11y.ts
  packages/core/src/radio/radio.element.spec.ts
  packages/core/src/radio/radio.element.ts
Labels: @cds/core

#6102 fix: core inline version
  packages/core/rollup.config.js
Labels: @cds/core, type: build

#6120 feat(adoption): adding card page
  apps/adoption/src/app/app-routing.module.ts
  apps/adoption/src/app/app.component.html
  apps/adoption/src/app/app.module.ts
  apps/adoption/src/app/migrations/card/card.1.angular.txt
  apps/adoption/src/app/migrations/card/card.1.core.txt
  apps/adoption/src/app/migrations/card/card.2.angular.txt
  apps/adoption/src/app/migrations/card/card.2.core.txt
  apps/adoption/src/app/pages/adoption-tooling.page.ts
  apps/adoption/src/app/pages/card.page.ts
Labels: component: card

#6024 feat: mvp cds-navigation
  packages/core/rollup.config.js
  packages/core/src/internal/index.ts
  packages/core/src/internal/motion/animations/cds-navigation-group-open.ts
  packages/core/src/internal/motion/animations/cds-navigation-open.ts
  packages/core/src/internal/services/i18n.service.ts
  packages/core/src/internal/utils/array.ts
  packages/core/src/internal/utils/lit.ts
  packages/core/src/navigation/entrypoint.tsconfig.json
  packages/core/src/navigation/index.ts
  packages/core/src/navigation/interfaces/navigation.interfaces.ts
  packages/core/src/navigation/navigation-group.element.scss
  packages/core/src/navigation/navigation-group.element.spec.ts
  packages/core/src/navigation/navigation-group.element.ts
  packages/core/src/navigation/navigation-item.element.scss
  packages/core/src/navigation/navigation-item.element.spec.ts
  packages/core/src/navigation/navigation-item.element.ts
  packages/core/src/navigation/navigation-start.element.scss
  packages/core/src/navigation/navigation-start.element.spec.ts
  packages/core/src/navigation/navigation-start.element.ts
  packages/core/src/navigation/navigation.element.scss
  packages/core/src/navigation/navigation.element.spec.ts
  packages/core/src/navigation/navigation.element.ts
  packages/core/src/navigation/navigation.stories.mdx
  packages/core/src/navigation/navigation.stories.ts
  packages/core/src/navigation/register.ts
  packages/core/src/navigation/utils/index.spec.ts
  packages/core/src/navigation/utils/index.ts
  packages/core/web-dev-server.config.mjs
  packages/core/web-test-runner.config.mjs
  packages/react/App.tsx
  packages/react/src/navigation/__snapshots__/index.test.tsx.snap
  packages/react/src/navigation/entrypoint.tsconfig.json
  packages/react/src/navigation/index.test.tsx
  packages/react/src/navigation/index.tsx
  packages/react/src/navigation/package.json
  packages/react/tsconfig.project.json
Labels: @cds/core, navigation

#6134 fix(website): add unique name attributes to examples
  apps/website/.vuepress/code/demos/checkbox/basic-css.html
  apps/website/.vuepress/code/demos/checkbox/basic-ng.html
  apps/website/.vuepress/code/demos/checkbox/disabled-css.html
  apps/website/.vuepress/code/demos/checkbox/disabled-ng.html
  apps/website/.vuepress/code/demos/checkbox/helper-css.html
  apps/website/.vuepress/code/demos/checkbox/helper-ng.html
  apps/website/.vuepress/code/demos/checkbox/inline-css.html
  apps/website/.vuepress/code/demos/checkbox/inline-ng.html
  yarn.lock
Labels: dco-required

#6133 fix(website): add unique name attributes to examples
  projects/website/src/app/documentation/demos/checkboxes/checkboxes.demo.html
  projects/website/src/app/documentation/demos/checkboxes/ng/disabled.html
  projects/website/src/app/documentation/demos/checkboxes/ng/helpers.html
  projects/website/src/app/documentation/demos/checkboxes/ng/inline.html
  projects/website/src/app/documentation/demos/checkboxes/ng/label.html
  projects/website/src/app/documentation/demos/checkboxes/ui/disabled.html
  projects/website/src/app/documentation/demos/checkboxes/ui/error.html
  projects/website/src/app/documentation/demos/checkboxes/ui/full.html
  projects/website/src/app/documentation/demos/checkboxes/ui/inline.html
Labels: dco-required

#6020 feat(tree-view): core tree view
  package.json
  packages/core/rollup.config.js
  packages/core/src/internal-components/visual-checkbox/entrypoint.tsconfig.json
  packages/core/src/internal-components/visual-checkbox/index.ts
  packages/core/src/internal-components/visual-checkbox/register.ts
  packages/core/src/internal-components/visual-checkbox/visual-checkbox.element.scss
  packages/core/src/internal-components/visual-checkbox/visual-checkbox.element.spec.ts
  packages/core/src/internal-components/visual-checkbox/visual-checkbox.element.ts
  packages/core/src/internal/index.ts
  packages/core/src/internal/interfaces/index.ts
  packages/core/src/internal/motion/animations/cds-tree-item-expand.ts
  packages/core/src/internal/services/i18n.service.ts
  packages/core/src/internal/utils/array.spec.ts
  packages/core/src/internal/utils/array.ts
  packages/core/src/tree-view/entrypoint.tsconfig.json
  packages/core/src/tree-view/index.ts
  packages/core/src/tree-view/register.ts
  packages/core/src/tree-view/tree-item.element.scss
  packages/core/src/tree-view/tree-item.element.spec.ts
  packages/core/src/tree-view/tree-item.element.ts
  packages/core/src/tree-view/tree.element.scss
  packages/core/src/tree-view/tree.element.spec.ts
  packages/core/src/tree-view/tree.element.ts
  packages/core/src/tree-view/tree.stories.mdx
  packages/core/src/tree-view/tree.stories.ts
  packages/core/web-dev-server.config.mjs
  packages/react/App.tsx
  packages/react/src/tree-view/__snapshots__/index.test.tsx.snap
  packages/react/src/tree-view/entrypoint.tsconfig.json
  packages/react/src/tree-view/index.test.tsx
  packages/react/src/tree-view/index.tsx
  packages/react/src/tree-view/package.json
  packages/react/tsconfig.project.json
Labels: @cds/core, component: tree view

#6145 fix: realistic group demos
  .github/workflows/build.yml
  packages/core/src/navigation/navigation.element.scss
  packages/core/src/navigation/navigation.stories.ts
  packages/core/web-dev-server.config.mjs
Labels: @cds/core, navigation

#6097 fix: core update service to global state service
  packages/core/bundlesize.config.json
  packages/core/src/icon/icon.element.ts
  packages/core/src/icon/icon.service.ts
  packages/core/src/icon/interfaces/icon.interfaces.ts
  packages/core/src/icon/utils/icon.service-helpers.spec.ts
  packages/core/src/icon/utils/icon.service-helpers.ts
  packages/core/src/internal-components/overlay/overlay.element.spec.ts
  packages/core/src/internal-components/overlay/overlay.element.ts
  packages/core/src/internal/decorators/i18n.spec.ts
  packages/core/src/internal/decorators/i18n.ts
  packages/core/src/internal/motion/motion.service.ts
  packages/core/src/internal/services/focus-trap-tracker.service.spec.ts
  packages/core/src/internal/services/focus-trap-tracker.service.ts
  packages/core/src/internal/services/global.service.spec.ts
  packages/core/src/internal/services/global.service.ts
  packages/core/src/internal/services/i18n.service.ts
  packages/core/src/internal/utils/focus-trap.spec.ts
  packages/core/src/internal/utils/focus-trap.ts
  packages/core/src/internal/utils/global.spec.ts
  packages/core/src/internal/utils/global.ts
  packages/core/src/internal/utils/register.ts
  packages/core/src/styles/module.reset.scss
Labels: @cds/core

#6156 fix: styles selectors fixes for datagrid and select (backport)
  src/clr-angular/data/datagrid/_datagrid.clarity.scss
  src/clr-angular/forms/styles/_select.clarity.scss
  src/dev/src/app/selects/selects.demo.html
Labels: target: n-1 or n-2, v3

#6150 a11y(core:navigation): fixes keyboard activation for items
  packages/core/src/navigation/navigation.element.spec.ts
  packages/core/src/navigation/navigation.element.ts
  packages/core/src/navigation/utils/index.ts
Labels: navigation

#6116 chore(core): upgrade custom-elements.json
  apps/website/.vuepress/theme/global-components/DocWebComponentAPI.vue
  apps/website/data/clarity-web-components.js
  packages/core/npm.json
  packages/core/package.json
  packages/core/rollup.utils.js
  packages/core/src/breadcrumb/breadcrumb.stories.ts
  packages/core/src/card/card.stories.ts
  scripts/core-ng-module-generator.js
  yarn.lock
Labels: @cds/core

#6125 fix(website): using frontmatter to hide navigation in sidebar
  apps/website/.vuepress/sidebar.js
  apps/website/.vuepress/theme/components/Sidebar.vue
  apps/website/core-components/accordion/README.md
  apps/website/core-components/card/README.md
  apps/website/core-components/divider/README.md
  apps/website/core-components/file/README.md
  apps/website/core-components/progress-circle/README.md
  apps/website/core-components/search/README.md
  apps/website/core-components/time/README.md
Labels: type: website

#6128 chore(core): update normalize css recommendation
  apps/core-vue-cli/package.json
  apps/core-vue-cli/src/App.vue
  apps/website/get-started/developing/README.md
  packages/core/.storybook/public/demo.css
  packages/core/docs/getting-started.stories.mdx
  packages/core/npm.json
  packages/core/package.json
  packages/core/sandbox/index.css
  packages/core/web-test-runner.config.mjs
  packages/react/package.json
  yarn.lock
Labels: @cds/core

#6161 build(core:generated): correct custom element json
  packages/core/.storybook/preview.js
  packages/core/src/breadcrumb/breadcrumb.stories.ts
  packages/core/src/card/card.stories.ts
  packages/core/src/navigation/navigation.stories.ts
Labels: @cds/core

#6164 Adoption netlify
  .github/workflows/build.yml
  package-lock.json
  package.json
  scripts/adoption.sh
  src/app/pages/accordion.page.ts
  src/app/pages/adoption-tooling.page.ts
  src/app/pages/button.page.ts
  src/app/pages/icons.page.ts
  src/app/pages/label.page.ts
Labels: type: build

#6159 fix(angular:schematics): ng add for 12.0.0-next.0
  commitlint.config.js
  projects/schematics/src/add/index.spec.ts
  projects/schematics/src/add/index.ts
Labels: @clr/angular

#6160 Update error object in clrIfError context
  commitlint.config.js
  projects/angular/src/forms/common/if-control-state/if-error.spec.ts
  projects/angular/src/forms/common/if-control-state/if-error.ts
Labels: @clr/angular, component: forms

#6189 fix(adoption): missing icon registration call in demos for icons
  src/app/migrations/icons/icons.1.angular.txt
  src/app/migrations/icons/icons.1.core.txt
  src/app/migrations/icons/icons.2.angular.txt
  src/app/migrations/icons/icons.2.core.txt
  src/app/migrations/icons/icons.3.angular.txt
  src/app/migrations/icons/icons.3.core.txt
  src/app/migrations/icons/icons.4.angular.txt
Labels: Adoption

#6183 fix(core:button): disabled/loading state
  packages/core/src/button/base-button.element.scss
  packages/core/src/button/button.element.spec.ts
  packages/core/src/button/button.element.ts
  packages/core/src/button/icon-button.element.ts
  packages/core/src/button/register.ts
Labels: @cds/core

#6191 chore(website): add netlify id
  .github/workflows/website.yml
Labels: type: task, type: website

#6186 fix(button-group): adds style for clr-dropdown corner radius in button-group
  projects/angular/src/button/button-group/_button-group.clarity.scss
Labels: @clr/angular, component: button

#6192 fix(website): this change fixes two issues with the website
  apps/website/.vuepress/theme/components/Sidebar.vue
  apps/website/.vuepress/theme/global-components/ComponentsOverview.vue
  apps/website/.vuepress/theme/global-components/ItemOverview.vue
Labels: type: website

#6200 a11y(core:accordion): improve accessibility
  packages/core/src/accordion/accordion-content.element.scss
  packages/core/src/accordion/accordion-content.element.spec.ts
  packages/core/src/accordion/accordion-content.element.ts
  packages/core/src/accordion/accordion-header.element.scss
  packages/core/src/accordion/accordion-header.element.ts
  packages/core/src/accordion/accordion-panel.element.spec.ts
  packages/core/src/accordion/accordion-panel.element.ts
  packages/core/src/accordion/accordion-panel.stories.ts
  packages/core/src/accordion/index.ts
Labels: @cds/core, component: accordion, type: accessibility
