Repository vmware/clarity, pull requests merged in 2021-11, with the labels that each got.

#6441 docs(angular): update website with language that accurately describes vertical nav behavior
  projects/website/src/app/documentation/demos/vertical-nav/vertical-nav.demo.html
Labels: @clr/angular, component: vertical-nav

#6433 feat(eslint-plugin-clarity-adoption): add datalist fixer
  packages/eslint-plugin-clarity-adoption/src/rules/html-fixer-helpers.ts
  packages/eslint-plugin-clarity-adoption/src/rules/no-clr-datalist/index.ts
  packages/eslint-plugin-clarity-adoption/src/rules/no-clr-datalist/no-clr-datalist.spec.ts
Labels: @clr/eslint-plugin-clarity-adoption

#6443 fix(angular:form): align input placeholder color to core
  projects/angular/src/color/_properties.color.scss
  projects/angular/src/forms/styles/_properties.forms.scss
  projects/angular/src/forms/styles/_variables.forms.scss
  projects/angular/src/utils/_normalize.scss
  projects/angular/src/utils/_overwrites.clarity.scss
  projects/angular/src/utils/variables/_variables.color.scss
  projects/website/src/sitemap.xml
Labels: component: forms, @clr/angular

#6434 fix(angular): support sub modules
  .gitignore
  apps/core-angular-cli/angular.json
  apps/core-angular-cli/src/app/app.component.html
  apps/core-angular-cli/src/app/app.module.ts
  packages/angular/package.json
  packages/angular/projects/cds-angular/_stubs/directive.ts.mustache
  packages/angular/projects/cds-angular/_stubs/index.ts.mustache
  packages/angular/projects/cds-angular/_stubs/module.ts.mustache
  packages/angular/projects/cds-angular/_stubs/package.json.mustache
  packages/angular/projects/cds-angular/_stubs/public-api.ts.mustache
  packages/angular/projects/cds-angular/_stubs/root-index.ts.mustache
  packages/angular/projects/cds-angular/_stubs/root-module.ts.mustache
  packages/angular/projects/cds-angular/_stubs/test.ts.mustache
  packages/angular/projects/cds-angular/ng-package.json
  packages/angular/projects/cds-angular/package.json
  packages/angular/projects/cds-angular/src/all.spec.ts
  packages/angular/projects/cds-angular/src/cds/_stubs/directive.ts.mustache
  packages/angular/projects/cds-angular/src/cds/cds-base.ts
  packages/angular/projects/cds-angular/tsconfig.lib.json
  packages/core/rollup.config.js
  packages/core/src/badge/badge.element.ts
  packages/core/src/forms/control-group/control-group.element.ts
  packages/core/src/forms/control/control.element.ts
  packages/core/src/internal-components/overlay/overlay.element.ts
  packages/core/src/modal/modal-content.element.ts
  packages/core/src/navigation/navigation-start.element.ts
  packages/core/src/navigation/navigation.element.ts
  packages/core/src/selection-panels/checkbox/index.ts
  packages/core/src/selection-panels/index.ts
  packages/core/src/selection-panels/radio/index.ts
  packages/core/src/selection-panels/register.ts
  scripts/core-ng-module-generator.js
Labels: @cds/angular

#6444 feat(core:progress-circle): intelligently default aria label to i18n string
  packages/core/src/internal/decorators/i18n.spec.ts
  packages/core/src/internal/services/i18n.service.ts
  packages/core/src/internal/utils/identity.spec.ts
  packages/core/src/progress-circle/progress-circle.element.spec.ts
  packages/core/src/progress-circle/progress-circle.element.ts
  packages/core/src/progress-circle/progress-circle.utils.spec.ts
  packages/core/src/progress-circle/progress-circle.utils.ts
Labels: v5

#6440 fix(core): token/figma alignment
  packages/core/build/tokens.ts
  packages/core/src/accordion/accordion-content.element.scss
  packages/core/src/accordion/accordion-header.element.scss
  packages/core/src/accordion/accordion-panel.element.scss
  packages/core/src/alert/alert-group.element.scss
  packages/core/src/alert/alert.element.scss
  packages/core/src/badge/badge.element.scss
  packages/core/src/button/icon-button.stories.ts
  packages/core/src/checkbox/checkbox.element.scss
  packages/core/src/forms/control-label/control-label.element.scss
  packages/core/src/forms/control-message/control-message.element.scss
  packages/core/src/input/input.element.scss
  packages/core/src/internal/base/base.element.scss
  packages/core/src/modal/modal.stories.ts
  packages/core/src/navigation/navigation-item.element.scss
  packages/core/src/navigation/navigation-start.element.scss
  packages/core/src/navigation/navigation-start.element.ts
  packages/core/src/radio/radio.element.scss
  packages/core/src/radio/radio.stories.ts
  packages/core/src/select/select.global.scss
  packages/core/src/styles/tokens/interaction.stories.mdx
  packages/core/src/styles/tokens/tokens.stories.ts
  packages/core/src/tag/tag.element.scss
  packages/core/src/textarea/textarea.element.scss
  packages/core/src/tree-view/tree-item.element.scss
Labels: @cds/core

#6456 fix: support native aria property reflection
  packages/core/rollup.config.js
  packages/core/rollup.utils.js
  packages/core/src/alert/alert-group.element.ts
  packages/core/src/alert/alert.performance.ts
  packages/core/src/badge/badge.performance.ts
  packages/core/src/breadcrumb/breadcrumb.element.ts
  packages/core/src/card/card.element.ts
  packages/core/src/icon/icon.performance.ts
  packages/core/src/internal-components/overlay/overlay.element.ts
  packages/core/src/internal/base/button.base.ts
  packages/core/src/internal/index.ts
  packages/core/src/internal/utils/exists.ts
  packages/core/src/modal/modal-content.element.ts
  packages/core/src/navigation/navigation-item.element.ts
  packages/core/src/navigation/navigation.element.ts
  packages/core/src/password/password.element.ts
  packages/core/src/polyfills/aria-reflect.ts
  packages/core/src/polyfills/index.ts
  packages/core/src/tree-view/tree-item.element.ts
  packages/core/src/tree-view/tree.element.ts
  packages/core/web-dev-server.config.mjs
  packages/core/web-test-runner.config.mjs
Labels: Dependency Regression, @cds/core

#6467 fix: core aria property types
  packages/core/src/polyfills/aria-reflect.ts
Labels: @cds/core

#6486 fix(schematics): modern-normalize import instead of normalize @cds/angular
  packages/schematics/src/cds-add/index.spec.ts
  packages/schematics/src/cds-add/index.ts
Labels: @cds/angular, schematics

#6488 fix(core): lint/logging
  packages/core/src/index.ts
  packages/core/src/internal-components/popup/popup.element.ts
  packages/core/src/internal/motion/utils.spec.ts
  packages/core/src/internal/utils/focus-trap.ts
Labels: @cds/core

#6487 chore(core): remove unused tsconfig files
  packages/core/src/accordion/entrypoint.tsconfig.json
  packages/core/src/alert/entrypoint.tsconfig.json
  packages/core/src/badge/entrypoint.tsconfig.json
  packages/core/src/breadcrumb/entrypoint.tsconfig.json
  packages/core/src/button/entrypoint.tsconfig.json
  packages/core/src/card/entrypoint.tsconfig.json
  packages/core/src/checkbox/entrypoint.tsconfig.json
  packages/core/src/datalist/entrypoint.tsconfig.json
  packages/core/src/date/entrypoint.tsconfig.json
  packages/core/src/divider/entrypoint.tsconfig.json
  packages/core/src/dropdown/entrypoint.tsconfig.json
  packages/core/src/file/entrypoint.tsconfig.json
  packages/core/src/forms/entrypoint.tsconfig.json
  packages/core/src/icon/entrypoint.tsconfig.json
  packages/core/src/input/entrypoint.tsconfig.json
  packages/core/src/internal-components/close-button/entrypoint.tsconfig.json
  packages/core/src/internal-components/overlay/entrypoint.tsconfig.json
  packages/core/src/internal-components/panel/entrypoint.tsconfig.json
  packages/core/src/internal-components/popup/entrypoint.tsconfig.json
  packages/core/src/internal-components/visual-checkbox/entrypoint.tsconfig.json
  packages/core/src/internal/entrypoint.tsconfig.json
  packages/core/src/modal/entrypoint.tsconfig.json
  packages/core/src/navigation/entrypoint.tsconfig.json
  packages/core/src/pagination/entrypoint.tsconfig.json
  packages/core/src/password/entrypoint.tsconfig.json
  packages/core/src/progress-circle/entrypoint.tsconfig.json
  packages/core/src/radio/entrypoint.tsconfig.json
  packages/core/src/range/entrypoint.tsconfig.json
  packages/core/src/search/entrypoint.tsconfig.json
  packages/core/src/select/entrypoint.tsconfig.json
  packages/core/src/selection-panels/checkbox/entrypoint.tsconfig.json
  packages/core/src/selection-panels/radio/entrypoint.tsconfig.json
  packages/core/src/tag/entrypoint.tsconfig.json
  packages/core/src/test-dropdown/entrypoint.tsconfig.json
  packages/core/src/textarea/entrypoint.tsconfig.json
  packages/core/src/time/entrypoint.tsconfig.json
  packages/core/src/toggle/entrypoint.tsconfig.json
  packages/core/src/tree-view/entrypoint.tsconfig.json
  packages/core/tsconfig.project.json
Labels: @cds/core

#6455 chore: update to Angular 13
  .gitignore
  .prettierignore
  angular.json
  golden/clr-angular.d.ts
  package-lock.json
  package.json
  projects/angular/package.json
  projects/angular/src/data/datagrid/render/noop-dom-adapter.ts
  projects/angular/src/test.ts
  projects/angular/src/utils/dom-adapter/dom-adapter.ts
  projects/angular/src/utils/popover/position-operators.spec.ts
  projects/angular/tsconfig.lib.prod.json
  projects/schematics/src/add/schema.json
  projects/schematics/src/migration-collection.json
  projects/schematics/src/update/update-13.0.0.spec.ts
  projects/schematics/src/update/update-13.0.0.ts
  projects/website/src/polyfills.ts
  scripts/write-svg-icons.js
  src/polyfills.ts
Labels: BLOCKED: CORE, @clr/angular

#6476 fix(core): align dark theme to figma
  packages/core/src/styles/theme.dark.scss
Labels: @cds/core

#6477 chore(core): rollup build cleanup
  packages/core/build/build.tokens.ts
  packages/core/custom-elements-manifest.config.mjs
  packages/core/package.json
  packages/core/rollup.config.js
  packages/core/rollup.utils.js
  packages/core/src/alert/alert.performance.ts
  packages/core/src/badge/badge.performance.ts
  packages/core/src/forms/control-group/control-group.element.ts
  packages/core/src/forms/control-inline/control-inline.element.ts
  packages/core/src/forms/control/control.element.ts
  packages/core/src/forms/form-group/form-group.element.ts
  packages/core/src/forms/utils/utils.spec.ts
  packages/core/src/forms/utils/utils.ts
  packages/core/src/icon/icon.performance.ts
  packages/core/src/index.performance.ts
  packages/core/src/internal/base/focus-trap.base.spec.ts
  packages/core/src/internal/decorators/element.ts
  packages/core/src/internal/decorators/property.spec.ts
  packages/core/src/internal/index.ts
  packages/core/src/internal/interfaces/interfaces.ts
  packages/core/src/internal/utils/registration.spec.ts
  packages/core/src/internal/utils/registration.ts
  packages/core/src/navigation/navigation-item.element.ts
  packages/core/src/navigation/navigation-start.element.ts
  packages/core/src/navigation/navigation.element.ts
  packages/core/src/navigation/utils/utils.spec.ts
  packages/core/src/navigation/utils/utils.ts
  packages/core/web-dev-server.config.mjs
  packages/core/web-test-runner.performance.mjs
  scripts/core-ng-module-generator.js
  yarn.lock
Labels: @cds/core
