Repository vmware/clarity, pull requests merged in 2021-03, with the labels that each got.

#5648 fix: fixing static errors inside datagrid-pagination
  packages/angular/golden/clr-angular.d.ts
  packages/angular/projects/clr-angular/src/data/datagrid/datagrid-pagination.ts
Labels: @cds/angular, type: bug

#5643 feat: add ESLint rule fixers for the `List` and `Badge` components
  packages/eslint-plugin-clarity-adoption/README.md
  packages/eslint-plugin-clarity-adoption/src/html-parser.ts
  packages/eslint-plugin-clarity-adoption/src/rules/html-fixer-helpers.ts
  packages/eslint-plugin-clarity-adoption/src/rules/no-clr-badge/index.ts
  packages/eslint-plugin-clarity-adoption/src/rules/no-clr-badge/no-clr-badge.spec.ts
  packages/eslint-plugin-clarity-adoption/src/rules/no-clr-icon/index.ts
  packages/eslint-plugin-clarity-adoption/src/rules/no-clr-icon/no-clr-icon.spec.ts
  packages/eslint-plugin-clarity-adoption/src/rules/no-clr-list/index.ts
  packages/eslint-plugin-clarity-adoption/src/rules/no-clr-list/no-clr-list.spec.ts
Labels: @clr/eslint-plugin-clarity-adoption

#5656 fix: core global css token reference
  packages/core/build/build.tokens.ts
Labels: @cds/core, priority: 4 medium-high

#5682 fix: angular ngcc postinstall
  apps/core-angular-cli/.browserslistrc
  apps/core-angular-cli/README.md
  apps/core-angular-cli/angular.json
  apps/core-angular-cli/karma.conf.js
  apps/core-angular-cli/package.json
  apps/core-angular-cli/src/index.html
  apps/core-angular-cli/src/polyfills.ts
  apps/core-angular-cli/tsconfig.app.json
  apps/core-angular-cli/tsconfig.base.json
  apps/core-angular-cli/tsconfig.json
  apps/core-angular-cli/tsconfig.spec.json
  apps/core-angular-cli/tslint.json
  apps/core-angular-universal/.browserslistrc
  apps/core-angular-universal/README.md
  apps/core-angular-universal/karma.conf.js
  apps/core-angular-universal/package.json
  apps/core-angular-universal/tsconfig.app.json
  apps/core-angular-universal/tsconfig.base.json
  apps/core-angular-universal/tsconfig.json
  apps/core-angular-universal/tsconfig.spec.json
  apps/core-angular-universal/tslint.json
  package.json
  packages/angular/package.json
  yarn.lock
Labels: type: build

#5681 Website: fixing small typos into datalist and toggle demos
  apps/website/.vuepress/code/demos/toggle/inline-demo-ng.html
  apps/website/core-components/datalist/README.md
Labels: type: website

#5698 Build netlify Dev app
  packages/angular/angular.json
  packages/angular/projects/dev/src/_redirects
Labels: type: build

#5701 chore: add notes in core style development documentation
  packages/core/docs/development/templates-and-styles.stories.mdx
Labels: @cds/core, Documentation

#5703 docs: add Adoption tooling page to the Adoption guide
  packages/angular/projects/clarity-adoption/src/app/app-routing.module.ts
  packages/angular/projects/clarity-adoption/src/app/app.component.html
  packages/angular/projects/clarity-adoption/src/app/app.module.ts
  packages/angular/projects/clarity-adoption/src/app/components/sourcecode.component.ts
  packages/angular/projects/clarity-adoption/src/app/pages/adoption-tooling/adoption-tooling.page.html
  packages/angular/projects/clarity-adoption/src/app/pages/adoption-tooling/adoption-tooling.page.ts
Labels: @clr/eslint-plugin-clarity-adoption

#5691 fix: core color token values
  packages/core/build/tokens.ts
  packages/core/src/icon/icon.element.scss
Labels: @cds/core

#5690 fix: core icon render performance
  packages/core/src/icon/utils/icon.classnames.ts
  packages/core/src/internal/base/css-gap.base.spec.ts
  packages/core/src/internal/utils/css.spec.ts
  packages/core/src/internal/utils/css.ts
Labels: @cds/core

#5711 fix: core visibility inheritance
  packages/core/src/internal/base/base.element.scss
Labels: @cds/core, type: bug

#5300 chore: improve build times on local and CI
  apps/core-angular-cli/package.json
  apps/core-angular-cli/yarn.lock
  apps/core-angular-js/package.json
  apps/core-angular-js/yarn.lock
  apps/core-angular-universal/yarn.lock
  apps/core-create-react-app/package.json
  apps/core-create-react-app/yarn.lock
  apps/core-parcel-js/package.json
  apps/core-parcel-js/yarn.lock
  apps/core-rollup-js/package.json
  apps/core-rollup-js/yarn.lock
  apps/core-snowpack/package.json
  apps/core-snowpack/yarn.lock
  apps/core-vue-cli/package.json
  apps/core-vue-cli/yarn.lock
  apps/website/package.json
  package.json
  packages/core/package.json
  yarn.lock
Labels: type: build

#5669 feat: add ESLint rule for the `Label` component
  packages/eslint-plugin-clarity-adoption/README.md
  packages/eslint-plugin-clarity-adoption/docs/rules/no-clr-label.md
  packages/eslint-plugin-clarity-adoption/src/index.ts
  packages/eslint-plugin-clarity-adoption/src/rules/html-fixer-helpers.ts
  packages/eslint-plugin-clarity-adoption/src/rules/no-clr-label/index.ts
  packages/eslint-plugin-clarity-adoption/src/rules/no-clr-label/no-clr-label.spec.ts
  packages/eslint-plugin-clarity-adoption/src/rules/no-clr-list/index.ts
Labels: @clr/eslint-plugin-clarity-adoption

#5720 docs(tooltip): fix css that was hiding tooltips
  apps/website/.vuepress/theme/global-components/DocDemo.vue
Labels: Documentation, component: tooltip, type: website

#5737 chore: update to node 14
  .github/workflows/build.yml
  .github/workflows/dev.yml
  .github/workflows/website.yml
  .nvmrc
  apps/core-angular-cli/package.json
  apps/core-angular-universal/package.json
  apps/website/.vuepress/theme/global-components/Badge.vue
  apps/website/package.json
  package.json
  packages/angular/package.json
  packages/angular/projects/cds-angular/ng-package.json
  packages/angular/projects/cds-angular/package.json
  packages/angular/projects/clarity-adoption/tsconfig.app.json
  packages/angular/projects/clr-angular/package.json
  packages/angular/projects/dev/tsconfig.app.json
  packages/angular/tsconfig.json
  packages/core/package.json
  packages/core/src/internal/decorators/i18n.ts
  packages/core/src/internal/utils/identity.spec.ts
  packages/core/src/internal/utils/identity.ts
  packages/core/src/internal/utils/string.spec.ts
  packages/core/src/internal/utils/string.ts
  packages/icons/npm.json
  packages/icons/package.json
  packages/ui/npm.json
  packages/ui/package.json
  scripts/copy-version.js
  scripts/ngcc-check.js
  scripts/ngcc-clean.js
  scripts/ngcc.js
  yarn.lock
Labels: type: build

#5557 fix: assign correct described-by id to form input and control helpers
  packages/angular/golden/clr-angular.d.ts
  packages/angular/projects/clr-angular/src/forms/checkbox/checkbox-container.ts
  packages/angular/projects/clr-angular/src/forms/combobox/combobox.ts
  packages/angular/projects/clr-angular/src/forms/common/abstract-container.ts
  packages/angular/projects/clr-angular/src/forms/common/abstract-control.ts
  packages/angular/projects/clr-angular/src/forms/common/error.spec.ts
  packages/angular/projects/clr-angular/src/forms/common/error.ts
  packages/angular/projects/clr-angular/src/forms/common/helper.spec.ts
  packages/angular/projects/clr-angular/src/forms/common/helper.ts
  packages/angular/projects/clr-angular/src/forms/common/providers/container-id.service.ts
  packages/angular/projects/clr-angular/src/forms/common/providers/control-class.service.ts
  packages/angular/projects/clr-angular/src/forms/common/providers/ng-control.service.ts
  packages/angular/projects/clr-angular/src/forms/common/success.spec.ts
  packages/angular/projects/clr-angular/src/forms/common/success.ts
  packages/angular/projects/clr-angular/src/forms/common/wrapped-control.spec.ts
  packages/angular/projects/clr-angular/src/forms/common/wrapped-control.ts
  packages/angular/projects/clr-angular/src/forms/datepicker/date-container.spec.ts
  packages/angular/projects/clr-angular/src/forms/datepicker/date-container.ts
  packages/angular/projects/clr-angular/src/forms/radio/radio-container.ts
  packages/angular/projects/clr-angular/src/forms/tests/container.spec.ts
  packages/angular/projects/dev/src/app/forms/validation/validation.html
Labels: @clr/angular, component: forms

#5740 fix: assign correct described-by id to form input and control helpers (backport to v4)
  packages/angular/golden/clr-angular.d.ts
  packages/angular/projects/clr-angular/src/forms/checkbox/checkbox-container.ts
  packages/angular/projects/clr-angular/src/forms/combobox/combobox.ts
  packages/angular/projects/clr-angular/src/forms/common/abstract-container.ts
  packages/angular/projects/clr-angular/src/forms/common/abstract-control.ts
  packages/angular/projects/clr-angular/src/forms/common/error.spec.ts
  packages/angular/projects/clr-angular/src/forms/common/error.ts
  packages/angular/projects/clr-angular/src/forms/common/helper.spec.ts
  packages/angular/projects/clr-angular/src/forms/common/helper.ts
  packages/angular/projects/clr-angular/src/forms/common/providers/container-id.service.ts
  packages/angular/projects/clr-angular/src/forms/common/providers/control-class.service.ts
  packages/angular/projects/clr-angular/src/forms/common/providers/ng-control.service.ts
  packages/angular/projects/clr-angular/src/forms/common/success.spec.ts
  packages/angular/projects/clr-angular/src/forms/common/success.ts
  packages/angular/projects/clr-angular/src/forms/common/wrapped-control.spec.ts
  packages/angular/projects/clr-angular/src/forms/common/wrapped-control.ts
  packages/angular/projects/clr-angular/src/forms/datepicker/date-container.spec.ts
  packages/angular/projects/clr-angular/src/forms/datepicker/date-container.ts
  packages/angular/projects/clr-angular/src/forms/radio/radio-container.ts
  packages/angular/projects/clr-angular/src/forms/tests/container.spec.ts
  packages/angular/projects/dev/src/app/forms/validation/validation.html
Labels: @clr/angular, v4

#5718 fix: react value tracker bug
  packages/core/src/forms/control-inline/control-inline.element.spec.ts
  packages/core/src/forms/control-inline/control-inline.element.ts
  packages/core/src/internal/utils/events.spec.ts
  packages/core/src/internal/utils/events.ts
Labels: @cds/react, type: bug

#5746 fix: core failing async test
  packages/core/src/internal/utils/events.spec.ts
Labels: @cds/core

#5741 feat(label): add core labels text-transformation css prop
  packages/core/src/forms/control-label/control-label.element.scss
  packages/core/src/input/input.stories.ts
Labels: @cds/core

#5742 fix(website): update list documentation
  apps/website/core-components/list/code.md
Labels: type: website

#5713 fix: core accordion layout overflow
  packages/core/src/accordion/accordion-content.element.scss
  packages/core/src/accordion/accordion-panel.element.scss
Labels: @cds/core, type: bug

#5750 fix: core token adjustments
  packages/core/build/tokens.ts
  packages/core/src/alert/alert.element.scss
  packages/core/src/alert/alert.element.ts
  packages/core/src/badge/badge.element.scss
  packages/core/src/styles/theme.dark.scss
Labels: @cds/core

#5744 docs(alert): update core app alert image
  apps/website/core-components/alert/README.md
Labels: Documentation, component: alert, type: website

#5751 docs: fix handful of typos and content improvements
  apps/website/.vuepress/code/demos/toggle/right-demo-css.html
  apps/website/.vuepress/code/demos/toggle/right-demo-ng.html
  apps/website/.vuepress/theme/enhanceApp.js
  apps/website/.vuepress/theme/global-components/DocIcon.vue
  apps/website/.vuepress/theme/global-components/DocIconDetail.vue
  apps/website/.vuepress/theme/global-components/DocIconsSet.vue
  apps/website/.vuepress/theme/styles/a11y-light.scss
  apps/website/angular-components/toggle/README.md
  apps/website/core-components/list/code.md
  apps/website/data/angular-api.json
  apps/website/get-started/developing/README.md
  changelogs/v5.json
Labels: type: website

#5758 docs: add the `no-clr-label` rule to the Adoption Guide
  packages/angular/projects/clarity-adoption/src/app/pages/adoption-tooling/adoption-tooling.page.html
  packages/angular/projects/clarity-adoption/src/app/pages/adoption-tooling/adoption-tooling.page.ts
Labels: Documentation

#5743 fix: core layout improve alignment slot support
  packages/core/src/internal/base/base.element.scss
  packages/core/src/styles/layout/_alignments.scss
  packages/core/src/styles/layout/_shadow-dom.scss
  packages/core/src/styles/layout/_type-horizontal.scss
  packages/core/src/styles/layout/_type-vertical.scss
  packages/core/src/styles/layout/layout.stories.ts
  packages/core/test-bundles/bundlesize.json
Labels: @cds/core

#5761 fix: core accordion header layout
  packages/core/src/accordion/accordion-header.element.ts
  packages/core/src/accordion/accordion.stories.mdx
  packages/core/src/accordion/accordion.stories.ts
Labels: @cds/core

#5753 fix: core storybook motion token support
  packages/core/.storybook/preview.js
  packages/core/.storybook/public/demo.css
  packages/core/src/styles/themes/low-motion-theme.stories.mdx
  packages/core/src/styles/themes/themes.stories.mdx
  packages/core/src/styles/themes/themes.stories.ts
  packages/core/src/styles/tokens/tokens.stories.mdx
  packages/core/src/styles/tokens/tokens.stories.ts
Labels: @cds/core

#5766 fix: core indeterminate checkbox
  packages/core/src/checkbox/checkbox.element.scss
  packages/core/src/internal/utils/events.spec.ts
  packages/core/src/internal/utils/events.ts
Labels: @cds/core

#5768 fix: clr-ui peer dependencies
  package.json
  packages/ui/npm.json
Labels: @clr/ui, priority: 4 medium-high

#5771 fix: core form group control width
  packages/core/src/forms/form-group/form-group.element.spec.ts
  packages/core/src/forms/form-group/form-group.element.ts
Labels: @cds/core

#5754 fix: core storybook i18n doc
  packages/core/.storybook/preview.js
  packages/core/docs/i18n.stories.mdx
  packages/core/docs/utilities.stories.ts
Labels: @cds/core

#5739 fix(form): core control group to disable all children
  packages/core/src/forms/control-group/control-group.element.spec.ts
  packages/core/src/forms/control/control.element.ts
Labels: @cds/core
