Repository vmware/clarity, pull requests merged in 2021-05, with the labels that each got.

#5706 feat: core pagination
  packages/core/.storybook/preview.js
  packages/core/import-map.importmap
  packages/core/src/forms/control/control.element.spec.ts
  packages/core/src/forms/control/control.element.ts
  packages/core/src/forms/utils/index.ts
  packages/core/src/input/input.element.scss
  packages/core/src/internal/decorators/query-slot.spec.ts
  packages/core/src/internal/decorators/query-slot.ts
  packages/core/src/internal/services/log.service.ts
  packages/core/src/internal/utils/responsive.ts
  packages/core/src/pagination/entrypoint.tsconfig.json
  packages/core/src/pagination/index.ts
  packages/core/src/pagination/pagination-button.element.scss
  packages/core/src/pagination/pagination-button.element.spec.ts
  packages/core/src/pagination/pagination-button.element.ts
  packages/core/src/pagination/pagination.element.scss
  packages/core/src/pagination/pagination.element.spec.ts
  packages/core/src/pagination/pagination.element.ts
  packages/core/src/pagination/pagination.stories.mdx
  packages/core/src/pagination/pagination.stories.ts
  packages/core/src/pagination/register.ts
  packages/core/tsconfig.project.json
Labels: @cds/core, component: pagination

#5936 fix(datagrid): pagination icons size and alignment
  packages/angular/projects/clr-angular/src/data/datagrid/_datagrid.clarity.scss
Labels: @clr/angular, component: datagrid

#5937 docs(website): remove highlight status from the Icons article
  apps/website/.vuepress/code/core-usage-demos/icon/colors.html
  apps/website/foundation/icons/README.md
Labels: type: website

#5944 fix(icons): fix the ESLint rule replacements for `is-error`, `is-highlight`, `collapse` and `arrow`
  packages/eslint-plugin-clarity-adoption/src/rules/no-clr-icon/index.ts
  packages/eslint-plugin-clarity-adoption/src/rules/no-clr-icon/no-clr-icon.spec.ts
Labels: @clr/eslint-plugin-clarity-adoption

#5946 fix(dropdown): fix the styles for icons with shape `caret`
  packages/angular/projects/clr-angular/src/popover/dropdown/_dropdown.clarity.scss
Labels: @clr/angular

#5932 fix: empty value boolean properties in @cds/angular
  apps/core-angular-cli/package.json
  apps/core-angular-cli/src/app/app.component.html
  apps/core-angular-cli/src/app/app.component.ts
  packages/angular/projects/cds-angular/src/cds/_stubs/directive.ts.mustache
  scripts/core-ng-module-generator.js
Labels: @cds/angular

#5952 docs: add react-specific documentation to storybook
  packages/core/docs/react.stories.mdx
  packages/core/src/checkbox/checkbox.stories.mdx
Labels: Documentation

#5954 fix: provide vm-bug icon for angular dev app
  packages/angular/projects/dev/src/app/app.component.ts
  packages/angular/projects/dev/src/app/iconography/icon-selection.ts
Labels: @clr/angular, type: bug

#5953 fix(header): dark theme header-7/8 workaround
  packages/angular/projects/clr-angular/src/layout/main-container/_properties.header.scss
  packages/angular/projects/clr-angular/src/layout/main-container/_variables.header.scss
  packages/angular/projects/clr-angular/src/layout/nav/_header.clarity.scss
Labels: @clr/ui, component: themes, target: master

#5885 build: visual diff version 2
  tools/visual-tester/.gitignore
  tools/visual-tester/README.md
  tools/visual-tester/__tests__/README.md
  tools/visual-tester/__tests__/angular.dev.vspec.ts
  tools/visual-tester/__tests__/storybook.vspec.ts
  tools/visual-tester/__tests__/website.vspec.ts
  tools/visual-tester/babel.config.js
  tools/visual-tester/index.js
  tools/visual-tester/jest.config.ts
  tools/visual-tester/jest.setup.js
  tools/visual-tester/package.json
  tools/visual-tester/specs/angular.dev.vspec.js
  tools/visual-tester/specs/dev.spec.js
  tools/visual-tester/specs/storybook.vspec.js
  tools/visual-tester/specs/website.vspec.js
  tools/visual-tester/src/config.js
  tools/visual-tester/src/index.ts
  tools/visual-tester/src/reporters/base-reporter.js
  tools/visual-tester/src/reporters/console-reporter.js
  tools/visual-tester/src/reporters/dot-reporter.js
  tools/visual-tester/src/runner.js
  tools/visual-tester/src/runner/cli.ts
  tools/visual-tester/src/runner/context.ts
  tools/visual-tester/src/runner/index.ts
  tools/visual-tester/src/runner/reporters/dotReporter.ts
  tools/visual-tester/src/runner/reporters/reporter.ts
  tools/visual-tester/src/runner/reporters/specReporter.ts
  tools/visual-tester/src/runner/runner.ts
  tools/visual-tester/src/runner/structure/tree.ts
  tools/visual-tester/src/runner/types.d.ts
  tools/visual-tester/src/visual/visual-diff.ts
  tools/visual-tester/src/visual/visual-error.ts
  tools/visual-tester/tsconfig.json
  tools/visual-tester/yarn.lock
Labels: type: build

#5955 build: output the netlify information into json format
  .gitignore
  scripts/dev.sh
  scripts/website.sh
Labels: type: build

#5962 feat(button): core flat-inline action
  packages/core/src/button/base-button.element.scss
  packages/core/src/button/button.element.scss
  packages/core/src/button/button.element.ts
  packages/core/src/button/button.stories.ts
Labels: @cds/core, component: button

#5958 fix: core dynamic rem calc
  packages/core/.storybook/preview.js
  packages/core/build/build.tokens.ts
  packages/core/build/token-utils.ts
  packages/core/build/tokens.ts
  packages/core/src/checkbox/checkbox.element.scss
  packages/core/src/forms/form-group/form-group.element.spec.ts
  packages/core/src/icon/icon.element.spec.ts
  packages/core/src/icon/utils/icon.classnames.spec.ts
  packages/core/src/internal/utils/css.spec.ts
  packages/core/src/internal/utils/css.ts
  packages/core/src/internal/utils/size.spec.ts
  packages/core/src/styles/layout/_optimize.scss
  packages/core/src/styles/module.reset.scss
Labels: @cds/core

#5970 fix(button): core line-height of flat-inline
  packages/core/src/button/base-button.element.scss
Labels: @cds/core, component: button

#5983 fix(website): animation issues with sidebar carets
  apps/website/.vuepress/theme/components/Sidebar.vue
  apps/website/.vuepress/theme/enhanceApp.js
  apps/website/.vuepress/theme/layouts/Layout.vue
  apps/website/.vuepress/theme/styles/layout.scss
Labels: type: bug, type: website

#5978 fix(datagrid): update placeholder text for contrast
  packages/angular/projects/clr-angular/src/data/datagrid/_properties.datagrid.scss
Labels: @clr/angular, component: datagrid

#5991 fix: core control label layout
  packages/core/src/forms/control/control.element.spec.ts
  packages/core/src/forms/control/control.element.ts
  packages/core/src/input/input-group.element.spec.ts
  packages/core/src/input/input-group.element.ts
  packages/core/src/search/search.stories.ts
Labels: @cds/core

#5992 fix: core token light font-weight
  packages/core/build/tokens.ts
Labels: @cds/core, design-tokens

#5996 fix: adding 'beta' tags for core components that are in beta
  packages/core/src/card/card.element.ts
  packages/core/src/pagination/pagination-button.element.ts
  packages/core/src/pagination/pagination.element.ts
Labels: @cds/core

#5994 fix: export announcement icon as part of @clr/core/icons
  packages/core/src/icon/index.ts
Labels: @cds/core

#6000 feat(card): add react card component
  packages/react/App.tsx
  packages/react/src/card/__snapshots__/index.test.tsx.snap
  packages/react/src/card/entrypoint.tsconfig.json
  packages/react/src/card/index.test.tsx
  packages/react/src/card/index.tsx
  packages/react/src/card/package.json
Labels: @cds/core, component: card

#5940 feat(breadcrumb): core breadcrumb component
  commitlint.config.js
  packages/core/import-map.importmap
  packages/core/src/breadcrumb/breadcrumb.element.scss
  packages/core/src/breadcrumb/breadcrumb.element.spec.ts
  packages/core/src/breadcrumb/breadcrumb.element.ts
  packages/core/src/breadcrumb/breadcrumb.stories.mdx
  packages/core/src/breadcrumb/breadcrumb.stories.ts
  packages/core/src/breadcrumb/entrypoint.tsconfig.json
  packages/core/src/breadcrumb/index.ts
  packages/core/src/breadcrumb/register.ts
  packages/core/tsconfig.project.json
  packages/react/App.tsx
  packages/react/src/breadcrumb/__snapshots__/index.test.tsx.snap
  packages/react/src/breadcrumb/entrypoint.tsconfig.json
  packages/react/src/breadcrumb/index.test.tsx
  packages/react/src/breadcrumb/index.tsx
  packages/react/src/breadcrumb/package.json
Labels: @cds/core

#6003 fix(header): fix typo in the header-8 color
  packages/angular/projects/clr-angular/src/layout/main-container/_variables.header.scss
Labels: @clr/ui, Oops, target: master, v5
