Repository vmware/clarity, pull requests merged in 2021-01, with the labels that each got.

#5417 fix: @types/jsdom build errors
  packages/eslint-plugin-clarity-adoption/src/rules/no-clr-alert/index.ts
  packages/eslint-plugin-clarity-adoption/src/rules/no-clr-button/index.ts
  packages/eslint-plugin-clarity-adoption/tsconfig.json
Labels: @clr/eslint-plugin-clarity-adoption

#5409 fix: prevent core and ui text collisions
  packages/angular/projects/clr-angular/src/typography/_lists.scss
  packages/angular/projects/clr-angular/src/typography/_typography.scss
Labels: @clr/core, @clr/ui, component: utilities, type: bug, v5

#5412 fix(progress-bar): looping progress bar in firefox
  packages/angular/projects/clr-angular/src/progress/progress-bars/_progress-bars.clarity.scss
Labels: @clr/ui, browser: firefox, component: progress, type: bug, v5

#5413 fix(progress-bar): looping progress bar in firefox (backport to v4)
  packages/angular/projects/clr-angular/src/progress/progress-bars/_progress-bars.clarity.scss
Labels: @clr/ui, browser: firefox, component: progress, type: bug, v4

#5423 fix: make the eslint rule for icons work with multiple root elements
  packages/eslint-plugin-clarity-adoption/README.md
  packages/eslint-plugin-clarity-adoption/docs/rules/no-clr-icon.md
  packages/eslint-plugin-clarity-adoption/src/rules/no-clr-icon/index.ts
  packages/eslint-plugin-clarity-adoption/src/rules/no-clr-icon/no-clr-icon.spec.ts
Labels: @clr/eslint-plugin-clarity-adoption

#5428 fix(modal): positioning of overlay backdrop in demos in safari
  packages/core/src/internal-components/overlay/overlay.element.scss
Labels: Documentation, browser: safari, type: bug, v5

#5433 fix: simplifying fallback system fonts
  packages/core/build/tokens.ts
  packages/core/src/forms/control-label/control-label.element.scss
  packages/core/src/styles/typography/_legacy-typography.scss
  packages/core/test-bundles/bundlesize.json
Labels: @clr/core, type: task, v5

#5421 fix: core layout css gap shim
  packages/core/src/forms/control-group/control-group.element.ts
  packages/core/src/forms/control/control.element.ts
  packages/core/src/internal/base/button.base.ts
  packages/core/src/internal/utils/global.ts
  packages/core/src/internal/utils/supports.spec.ts
  packages/core/src/internal/utils/supports.ts
  packages/core/src/styles/module.shims.scss
  packages/core/test-bundles/bundlesize.json
Labels: @clr/core, v5

#5437 fix: package path issues for cdn support
  packages/core/build/build.package.ts
  packages/core/import-map.importmap
  packages/core/package.json
  packages/core/src/accordion/register.ts
  packages/core/src/icon/icon.stories.ts
  packages/core/src/icon/utils/icon.classnames.ts
  packages/core/src/icon/utils/icon.service-helpers.ts
  packages/core/src/internal-components/close-button/close-button.element.ts
  packages/core/src/internal/base/button.base.ts
  packages/core/src/internal/utils/dom.ts
  packages/core/src/internal/utils/exists.ts
  packages/core/src/internal/utils/identity.ts
  packages/core/src/internal/utils/register.ts
  packages/core/src/progress-circle/progress-circle.element.ts
  packages/core/src/tag/register.ts
  yarn.lock
Labels: @clr/core, v5

#5431 fix: core form style hooks, private host styles
  packages/core/src/alert/alert-actions.element.scss
  packages/core/src/alert/alert.element.scss
  packages/core/src/alert/alert.element.spec.ts
  packages/core/src/button/button.element.spec.ts
  packages/core/src/checkbox/checkbox.element.scss
  packages/core/src/checkbox/checkbox.element.spec.ts
  packages/core/src/checkbox/checkbox.element.ts
  packages/core/src/checkbox/checkbox.stories.ts
  packages/core/src/forms/control-action/control-action.element.scss
  packages/core/src/forms/control-group/control-group.element.spec.ts
  packages/core/src/forms/control-group/control-group.element.ts
  packages/core/src/forms/control-inline/control-inline.element.spec.ts
  packages/core/src/forms/control-inline/control-inline.element.ts
  packages/core/src/forms/control-message/control-message.element.scss
  packages/core/src/forms/control/control.element.scss
  packages/core/src/forms/control/control.element.spec.ts
  packages/core/src/forms/control/control.element.ts
  packages/core/src/forms/index.ts
  packages/core/src/icon/icon.element.ts
  packages/core/src/input/input.element.scss
  packages/core/src/internal-components/overlay/overlay.element.scss
  packages/core/src/internal-components/overlay/overlay.stories.ts
  packages/core/src/internal/base/base.element.scss
  packages/core/src/internal/base/button.base.ts
  packages/core/src/internal/base/focus-trap.base.spec.ts
  packages/core/src/internal/base/focus-trap.base.ts
  packages/core/src/internal/decorators/property.spec.ts
  packages/core/src/internal/decorators/property.ts
  packages/core/src/internal/index.ts
  packages/core/src/internal/utils/events.ts
  packages/core/src/modal/modal.element.scss
  packages/core/src/modal/modal.stories.ts
  packages/core/src/radio/radio-group.element.ts
  packages/core/src/radio/radio.element.scss
  packages/core/src/radio/radio.element.spec.ts
  packages/core/src/radio/radio.element.ts
  packages/core/src/range/range.element.scss
  packages/core/src/select/select.element.scss
  packages/core/src/select/select.element.spec.ts
  packages/core/src/styles/module.reset.scss
  packages/core/src/tag/tag.element.scss
  packages/core/src/textarea/textarea.element.scss
  packages/core/src/toggle/toggle.element.scss
  packages/core/src/toggle/toggle.element.spec.ts
  packages/core/src/toggle/toggle.element.ts
Labels: @clr/core, v5

#5418 fix: core disabled/neural states theming
  packages/core/build/tokens.ts
  packages/core/docs/welcome.stories.ts
  packages/core/src/alert/alert.element.scss
  packages/core/src/alert/alert.element.ts
  packages/core/src/button/base-button.element.scss
  packages/core/src/button/button.element.scss
  packages/core/src/button/button.element.ts
  packages/core/src/button/button.stories.ts
  packages/core/src/button/icon-button.stories.ts
  packages/core/src/internal/base/base.element.scss
  packages/core/src/progress-circle/progress-circle.element.scss
  packages/core/src/progress-circle/progress-circle.stories.ts
  packages/core/src/range/range.element.scss
  packages/core/src/styles/theme.dark.scss
  packages/core/src/styles/themes/themes.stories.ts
  packages/core/src/styles/tokens/tokens.stories.ts
Labels: @clr/core, v5

#5392 fix(stack-view): tab navigation inside stack-block is skipped when not expanded
  packages/angular/projects/clr-angular/src/data/stack-view/stack-block.spec.ts
  packages/angular/projects/clr-angular/src/data/stack-view/stack-block.ts
Labels: @clr/angular, component: stack view

#5441 docs: implement changes based on design spec
  apps/website/.vuepress/sidebar.js
  apps/website/.vuepress/theme/components/Home.vue
  apps/website/.vuepress/theme/components/PageSubnav.vue
  apps/website/.vuepress/theme/global-components/DocAlert.vue
  apps/website/.vuepress/theme/global-components/DocPreviewWarning.vue
  apps/website/.vuepress/theme/global-components/WhatsNew.vue
  apps/website/core-components/README.md
  apps/website/foundation/app-layout/README.md
  apps/website/foundation/color/README.md
  apps/website/foundation/internationalization/README.md
  apps/website/foundation/themes/README.md
  apps/website/foundation/typography/README.md
  apps/website/get-started/design.md
  apps/website/get-started/develop.md
  apps/website/get-started/developing/README.md
  apps/website/get-started/developing/angular.md
  apps/website/get-started/updating/README.md
  apps/website/get-started/updating/angular.md
Labels: Documentation, v5

#5427 docs(icons): add icons to adoption app
  packages/angular/projects/clarity-adoption/src/app/app-routing.module.ts
  packages/angular/projects/clarity-adoption/src/app/app.component.html
  packages/angular/projects/clarity-adoption/src/app/app.module.ts
  packages/angular/projects/clarity-adoption/src/app/migrations/4.0.0/icons/badge/icons.core.html
  packages/angular/projects/clarity-adoption/src/app/migrations/4.0.0/icons/badge/icons.core.ts
  packages/angular/projects/clarity-adoption/src/app/migrations/4.0.0/icons/badge/icons.ng.html
  packages/angular/projects/clarity-adoption/src/app/migrations/4.0.0/icons/badge/icons.ng.ts
  packages/angular/projects/clarity-adoption/src/app/migrations/4.0.0/icons/direction/icons.core.html
  packages/angular/projects/clarity-adoption/src/app/migrations/4.0.0/icons/direction/icons.core.ts
  packages/angular/projects/clarity-adoption/src/app/migrations/4.0.0/icons/direction/icons.ng.html
  packages/angular/projects/clarity-adoption/src/app/migrations/4.0.0/icons/direction/icons.ng.ts
  packages/angular/projects/clarity-adoption/src/app/migrations/4.0.0/icons/icons.core.html
  packages/angular/projects/clarity-adoption/src/app/migrations/4.0.0/icons/icons.core.ts
  packages/angular/projects/clarity-adoption/src/app/migrations/4.0.0/icons/icons.ng.html
  packages/angular/projects/clarity-adoption/src/app/migrations/4.0.0/icons/icons.ng.ts
  packages/angular/projects/clarity-adoption/src/app/migrations/4.0.0/icons/status/icons.core.html
  packages/angular/projects/clarity-adoption/src/app/migrations/4.0.0/icons/status/icons.core.ts
  packages/angular/projects/clarity-adoption/src/app/migrations/4.0.0/icons/status/icons.ng.html
  packages/angular/projects/clarity-adoption/src/app/migrations/4.0.0/icons/status/icons.ng.ts
  packages/angular/projects/clarity-adoption/src/app/pages/icons/icons.page.html
  packages/angular/projects/clarity-adoption/src/app/pages/icons/icons.page.ts
Labels: component: icons

#5440 fix: change dev serve task to monitor @clr/ui for changes
  packages/angular/package.json
Labels: Dev, type: build

#5469 fix: core package exports
  packages/core/.storybook/main.js
  packages/core/build/build.package.ts
  packages/core/package.json
  packages/core/src/accordion/package.json
  packages/core/src/alert/package.json
  packages/core/src/badge/package.json
  packages/core/src/button/package.json
  packages/core/src/checkbox/package.json
  packages/core/src/datalist/package.json
  packages/core/src/date/package.json
  packages/core/src/divider/package.json
  packages/core/src/file/package.json
  packages/core/src/forms/package.json
  packages/core/src/icon/package.json
  packages/core/src/input/package.json
  packages/core/src/internal-components/close-button/package.json
  packages/core/src/internal-components/overlay/package.json
  packages/core/src/internal/package.json
  packages/core/src/modal/package.json
  packages/core/src/password/package.json
  packages/core/src/progress-circle/package.json
  packages/core/src/radio/package.json
  packages/core/src/range/package.json
  packages/core/src/search/package.json
  packages/core/src/select/package.json
  packages/core/src/tag/package.json
  packages/core/src/test-dropdown/package.json
  packages/core/src/textarea/package.json
  packages/core/src/time/package.json
  packages/core/src/toggle/package.json
  packages/core/tsconfig.project.json
Labels: @clr/core, v5

#5472 docs: final launch changes
  apps/website/.vuepress/blocks.js
  apps/website/.vuepress/config.js
  apps/website/.vuepress/theme/components/Navbar.vue
  apps/website/.vuepress/theme/components/PageSubnav.vue
  apps/website/.vuepress/theme/styles/overrides.scss
  apps/website/core-components/button/README.md
  apps/website/core-components/checkbox/README.md
  apps/website/core-components/datalist/README.md
  apps/website/core-components/file/README.md
  apps/website/core-components/input-group/README.md
  apps/website/core-components/input/README.md
  apps/website/core-components/password/README.md
  apps/website/core-components/radio/README.md
  apps/website/core-components/range/README.md
  apps/website/core-components/search/README.md
  apps/website/core-components/select/README.md
  apps/website/core-components/tag/README.md
  apps/website/core-components/textarea/README.md
  apps/website/core-components/time/README.md
  apps/website/core-components/toggle/README.md
  netlify.toml
Labels: Documentation, type: website

#5448 feat: turn-on strictTemplates for Angular
  packages/angular/golden/clr-angular.d.ts
  packages/angular/projects/clr-angular/src/accordion/accordion.ts
  packages/angular/projects/clr-angular/src/data/datagrid/datagrid-hideable-column.ts
  packages/angular/projects/clr-angular/src/forms/combobox/combobox.ts
  packages/angular/projects/clr-angular/src/forms/common/layout.ts
  packages/angular/projects/clr-angular/src/forms/common/providers/layout.service.ts
  packages/angular/projects/clr-angular/src/forms/datepicker/date-input.ts
  packages/angular/projects/clr-angular/src/layout/tabs/providers/tabs.service.ts
  packages/angular/projects/clr-angular/src/layout/tabs/tabs.ts
  packages/angular/projects/clr-angular/src/progress/progress-bars/progress-bar.ts
  packages/angular/projects/clr-angular/src/utils/conditional/if-active.directive.ts
  packages/angular/projects/clr-angular/src/utils/conditional/if-expanded.directive.ts
  packages/angular/projects/clr-angular/src/utils/focus-trap/focus-trap.directive.ts
  packages/angular/projects/clr-angular/src/utils/focus/focus-on-view-init/focus-on-view-init.ts
  packages/angular/projects/clr-angular/src/utils/focus/key-focus/key-focus.ts
  packages/angular/projects/clr-angular/src/utils/loading/loading-listener.ts
  packages/angular/projects/clr-angular/src/utils/loading/loading.ts
  packages/angular/projects/clr-angular/src/wizard/wizard-page.ts
  packages/angular/projects/dev/src/app/datagrid/pagination/pagination.ts
  packages/angular/projects/dev/src/app/typography/typography-font-autopsy.html
  packages/angular/projects/dev/src/app/typography/typography-font-autopsy.ts
  packages/angular/projects/dev/src/app/typography/utils/font-switcher.html
  packages/angular/projects/dev/src/app/typography/utils/font-switcher.ts
  packages/angular/tsconfig.json
Labels: @clr/angular, type: enhancement

#5439 fix: reorder link styles so :hover will have effect even on visited links
  packages/angular/projects/clr-angular/src/utils/_reboot.clarity.scss
Labels: @clr/ui

#5493 fix: adds version.json to website for version switchers
  apps/website/.vuepress/public/versions.json
Labels: type: website

#5497 fix: correct links
  apps/website/.vuepress/theme/components/Home.vue
  apps/website/foundation/icons/README.md
  apps/website/get-started/README.md
  apps/website/get-started/design.md
  apps/website/package.json
Labels: type: website

#5512 build: provide a better way of creating github action node cache file
  .github/workflows/build.yml
  .github/workflows/dev.yml
  .github/workflows/website.yml
Labels: type: build

#5511 refactor: remove duplicated code from ESLint plugin tests
  packages/eslint-plugin-clarity-adoption/src/rules/no-clr-alert/no-clr-alert.spec.ts
  packages/eslint-plugin-clarity-adoption/src/rules/no-clr-button/no-clr-button.spec.ts
  packages/eslint-plugin-clarity-adoption/src/rules/no-clr-icon/no-clr-icon.spec.ts
  packages/eslint-plugin-clarity-adoption/src/test-helper.spec.ts
Labels: @clr/eslint-plugin-clarity-adoption

#5407 Update README.md
  packages/icons/README.md
Labels: dco-required

#5422 docs: update main README.md
  README.md
  docs/INSTALLATION.md
Labels: Documentation

#5518 fix: core disabled outline/flat button
  packages/core/src/button/base-button.element.scss
  packages/core/src/button/button.stories.mdx
  packages/core/src/button/button.stories.ts
Labels: @cds/core, component: button, priority: 4 medium-high, type: bug

#5525 Topic/sitemap link fixes
  apps/website/angular-components/button-group/api.md
  apps/website/angular-components/modal/README.md
  apps/website/angular-components/timeline/README.md
  apps/website/core-components/form/README.md
  apps/website/core-components/tag/README.md
  apps/website/foundation/typography/README.md
  apps/website/get-started/README.md
Labels: Documentation

#5536 fix: swap old @clr/ui radios for cds-radio controls
  apps/website/.vuepress/theme/global-components/ClrColorListSet.vue
  apps/website/package.json
  yarn.lock
Labels: Documentation

#5541 build: fix last 404
  .github/workflows/website.yml
  apps/website/angular-components/button-group/api.md
  apps/website/package.json
  yarn.lock
Labels: Documentation, type: website

#5540 fix: clr-ui scss src copy
  packages/ui/package.json
Labels: @clr/ui
