Repository vmware/clarity, pull requests merged in 2021-06, with the labels that each got.

#6017 fix: core button submit behavior
  packages/core/src/button/button.element.spec.ts
  packages/core/src/button/button.stories.ts
  packages/core/src/internal/base/button.base.ts
Labels: @cds/core, priority: 5 high

#6023 feat(modal): making the overflow on the modal content customizable
  packages/core/src/modal/modal.element.scss
  packages/core/src/modal/modal.element.ts
Labels: @cds/core, component: modal, type: enhancement

#6030 fix(input): adds specificity to datagrid style
  packages/angular/projects/clr-angular/src/data/datagrid/_datagrid.clarity.scss
Labels: @clr/angular, Oops, component: forms, flag: regression

#5923 docs(input): demo for core editable input
  packages/core/src/input/input-groups.stories.mdx
  packages/core/src/input/input-groups.stories.ts
  packages/core/src/input/input.stories.ts
Labels: @cds/core

#6014 chore(card): add a11y demonstration and social post like card
  .vscode/settings.json
  packages/core/src/card/card.element.ts
  packages/core/src/card/card.stories.mdx
  packages/core/src/card/card.stories.ts
Labels: @cds/core, component: card

#5993 fix: icons color inside navigation sub-menu
  packages/angular/projects/clr-angular/src/layout/nav/_header.clarity.scss
  packages/angular/projects/dev/src/app/app.component.html
Labels: @clr/angular

#6040 fix: icons color inside navigation sub-menu (Backport)
  projects/angular/src/layout/nav/_header.clarity.scss
  src/app/app.component.html
Labels: @clr/angular, type: backport

#6032 docs: update icons documentation into the website
  apps/website/foundation/icons/README.md
Labels: Documentation, type: website

#6013 fix: accordion and stepper issue with clrAccordionPanelOpenChange event
  packages/angular/projects/clr-angular/src/accordion/accordion-panel.spec.ts
  packages/angular/projects/clr-angular/src/accordion/accordion-panel.ts
  packages/angular/projects/dev/src/app/accordion/accordion.demo.html
  packages/angular/projects/dev/src/app/accordion/accordion.demo.ts
Labels: @clr/angular, component: accordion, component: stepper

#6035 feat(datagrid): reduce change detection cycles for the `clrOutsideClick`
  packages/angular/projects/clr-angular/src/utils/outside-click/outside-click.spec.ts
  packages/angular/projects/clr-angular/src/utils/outside-click/outside-click.ts
Labels: @clr/angular, component: datagrid

#6022 feat(website): add card documentation
  apps/website/.vuepress/theme/core.js
  apps/website/.vuepress/theme/filters/uppercaseSplit.js
  apps/website/.vuepress/theme/global-components/CdsDemos.vue
  apps/website/core-components/card/README.md
  apps/website/core-components/card/api.md
  apps/website/core-components/card/code.md
  packages/core/src/card/card.element.ts
  packages/core/src/card/card.stories.mdx
  packages/core/src/card/card.stories.ts
Labels: @cds/core, component: card

#6048 Prevent disabled buttons from being enabled with ClrLoadingState.default
  packages/core/src/button/button.element.spec.ts
  packages/core/src/button/button.element.ts
Labels: @cds/core, component: button

#6063 fix: add missing beta warnings for components in beta
  packages/core/src/breadcrumb/breadcrumb.stories.mdx
  packages/core/src/card/card.stories.mdx
  packages/core/src/pagination/pagination.stories.mdx
Labels: @cds/core

#6061 build: github actions for angular branch
  .github/workflows/build.yml
  .github/workflows/dev.yml
  .gitignore
  .prettierignore
  package.json
  scripts/dev.sh
  yarn.lock
Labels: @clr/angular, type: build

#6056 fix(input): add top padding to cds-input elements
  packages/core/src/input/input.element.scss
Labels: @cds/core

#6085 fix(commitlint): adding another delimiter for scopes
  scripts/commitlint/angularScopes.js
  scripts/commitlint/common.js
  scripts/commitlint/coreScopes.js
  scripts/commitlint/customScopes.js
  scripts/commitlint/websiteScopes.js
Labels: commitlint

#6047 fix: accordion and stepper issue with clrAccordionPanelOpenChange event
  projects/angular/src/accordion/accordion-panel.spec.ts
  projects/angular/src/accordion/accordion-panel.ts
  src/app/accordion/accordion.demo.html
  src/app/accordion/accordion.demo.ts
Labels: @clr/angular, type: backport

#6062 build: adding visual tests for some parts of the core components
  tools/visual-tester/specs/core.badge.vspec.js
  tools/visual-tester/specs/core.button.vspec.js
  tools/visual-tester/specs/core.foundations.vspec.js
  tools/visual-tester/specs/core.layout.vspec.js
  tools/visual-tester/specs/core.table.vspec.js
  tools/visual-tester/specs/storybook.vspec.js
Labels: type: build

#6050 fix(form): input lines are now proper contrast
  packages/core/build/tokens.ts
  packages/core/src/checkbox/checkbox.element.scss
  packages/core/src/input/input.element.scss
  packages/core/src/radio/radio.element.scss
  packages/core/src/textarea/textarea.element.scss
Labels: type: accessibility

#6041 feat(adoption/card): no-clr-card eslint rule
  packages/eslint-plugin-clarity-adoption/README.md
  packages/eslint-plugin-clarity-adoption/docs/rules/no-clr-card.md
  packages/eslint-plugin-clarity-adoption/src/index.ts
  packages/eslint-plugin-clarity-adoption/src/rules/no-clr-card/index.ts
  packages/eslint-plugin-clarity-adoption/src/rules/no-clr-card/no-clr-card.spec.ts
Labels: @clr/eslint-plugin-clarity-adoption, component: card

#6101 fix: core control label/message alignments
  packages/core/src/checkbox/checkbox.stories.mdx
  packages/core/src/checkbox/checkbox.stories.ts
  packages/core/src/file/file.element.scss
  packages/core/src/file/file.element.ts
  packages/core/src/forms/control-group/control-group.element.scss
  packages/core/src/forms/control-group/control-group.element.spec.ts
  packages/core/src/forms/control-group/control-group.element.ts
  packages/core/src/forms/control-inline/control-inline.element.spec.ts
  packages/core/src/forms/control-inline/control-inline.element.ts
  packages/core/src/forms/control-label/control-label.element.scss
  packages/core/src/forms/control-message/control-message.element.scss
  packages/core/src/forms/control-message/control-message.element.ts
  packages/core/src/forms/control/control.element.scss
  packages/core/src/forms/control/control.element.ts
  packages/core/src/forms/form-group/form-group.element.spec.ts
  packages/core/src/forms/forms.stories.mdx
  packages/core/src/forms/forms.stories.ts
  packages/core/src/input/input-group.element.ts
  packages/core/src/internal/services/global.service.ts
  packages/core/src/pagination/pagination.element.scss
  packages/core/src/pagination/pagination.element.spec.ts
  packages/core/src/pagination/pagination.element.ts
  packages/core/src/radio/radio.stories.mdx
  packages/core/src/radio/radio.stories.ts
  packages/core/src/toggle/toggle.stories.mdx
  packages/core/src/toggle/toggle.stories.ts
Labels: @cds/core
