Repository vmware/clarity, pull requests merged in 2021-09, with the labels that each got.

#6304 fix(angular:datagrid): focus error on the button when details is open…
  commitlint.config.js
  golden/clr-angular.d.ts
  projects/angular/src/data/datagrid/datagrid-row.ts
  projects/angular/src/data/datagrid/datagrid.ts
Labels: component: datagrid, @clr/angular

#6279 fix(website): let badged and alerted icons downloadable as SVGs
  apps/website/.vuepress/theme/global-components/DocIconDetail.vue
Labels: type: website

#6285 fix: use variable for table header color
  projects/angular/src/data/_properties.tables.scss
  projects/angular/src/utils/_theme.dark.clarity.scss
Labels: @clr/ui, @clr/angular

#6296 feat(react:panel): panel wrapper
  packages/react/App.tsx
  packages/react/src/panel/__snapshots__/index.test.tsx.snap
  packages/react/src/panel/entrypoint.tsconfig.json
  packages/react/src/panel/index.test.tsx
  packages/react/src/panel/index.tsx
  packages/react/src/panel/package.json
Labels: @cds/react

#6309 fix(website): no longer depend on the legacy custom-elements json file
  apps/website/.vuepress/theme/global-components/DocWebComponentAPI.vue
  apps/website/data/clarity-web-components.js
Labels: type: website

#6324 fix(website:modal): fix storybook api demo to prevent bad state on website
  packages/core/src/modal/modal.stories.ts
Labels: type: bug, type: website, @cds/core, component: modal

#6329 fix(modal): fix flex issue with the modal header title wrapper (BACKPORT TO V5)
  projects/angular/src/modal/_modal.clarity.scss
Labels: flag: regression, component: modal, @clr/angular, v5, type: backport

#6317 fix(core:control): layout issues from async render
  packages/core/src/forms/control-group/control-group.element.ts
  packages/core/src/forms/control/control.element.scss
  packages/core/src/forms/control/control.element.ts
  packages/core/src/forms/register.ts
  packages/core/src/forms/utils/index.spec.ts
  packages/core/src/forms/utils/index.ts
  packages/core/src/input/input.element.spec.ts
  packages/core/src/internal/base/base.element.scss
  packages/core/src/search/register.ts
  packages/core/src/search/search.element.spec.ts
  packages/core/src/search/search.element.ts
Labels: @cds/core

#6314 fix(adoption): aligning example headers and spacing between examples
  src/app/components/demo.component.ts
  src/app/pages/accordion.page.ts
  src/app/pages/badge.page.ts
  src/app/pages/button.page.ts
  src/app/pages/card.page.ts
  src/app/pages/checkbox.page.ts
  src/app/pages/datalist.page.ts
  src/app/pages/form.page.ts
  src/app/pages/icons.page.ts
  src/app/pages/input.page.ts
  src/app/pages/label.page.ts
  src/app/pages/modal.page.ts
  src/app/pages/password.page.ts
  src/app/pages/range.page.ts
  src/app/pages/select.page.ts
  src/app/pages/textarea.page.ts
  src/app/pages/toggle.page.ts
Labels: Adoption

#6345 fix(core:accordion): header content to wrap in smaller screens
  packages/core/src/accordion/accordion-header.element.ts
Labels: @cds/core, component: accordion

#6349 Backport: fix(angular:datagrid): focus error on the button when details is open/closed
  golden/clr-angular.d.ts
  projects/angular/src/data/datagrid/datagrid-row.ts
  projects/angular/src/data/datagrid/datagrid.ts
Labels: component: datagrid, @clr/angular

#6351 fix(core:typography): fix override issues with accordion header and content
  packages/core/src/accordion/accordion-content.element.scss
  packages/core/src/accordion/accordion-header.element.scss
  packages/core/src/accordion/accordion-header.element.ts
Labels: @cds/core

#6338 fix(core:typography): correct font weight tokens
  packages/core/build/tokens.ts
  packages/core/src/styles/typography/typography.stories.ts
Labels: @cds/core
