Repository vmware/clarity, pull requests merged in 2022-01, with the labels that each got.

#6516 fix(core): additional space design tokens
  packages/core/.browserslistrc
  packages/core/build/build.tokens.ts
  packages/core/build/token-utils.ts
  packages/core/build/tokens.ts
  packages/core/docs/welcome.stories.ts
  packages/core/package.json
  packages/core/rollup.utils.js
  packages/core/src/accordion/accordion-header.element.ts
  packages/core/src/accordion/accordion-panel.element.ts
  packages/core/src/alert/alert-actions.element.ts
  packages/core/src/alert/alert-group.element.spec.ts
  packages/core/src/alert/alert-group.element.ts
  packages/core/src/alert/alert.element.ts
  packages/core/src/breadcrumb/breadcrumb.element.ts
  packages/core/src/button/button.element.scss
  packages/core/src/button/button.element.ts
  packages/core/src/card/card.element.ts
  packages/core/src/card/card.stories.mdx
  packages/core/src/card/card.stories.ts
  packages/core/src/file/file.element.scss
  packages/core/src/forms/control-group/control-group.element.scss
  packages/core/src/forms/control-group/control-group.element.ts
  packages/core/src/forms/control-inline/control-inline.element.ts
  packages/core/src/forms/control-label/control-label.element.scss
  packages/core/src/forms/control-label/control-label.element.ts
  packages/core/src/forms/control-message/control-message.element.scss
  packages/core/src/forms/control/control.element.scss
  packages/core/src/forms/control/control.element.ts
  packages/core/src/forms/form-group/form-group.element.spec.ts
  packages/core/src/forms/form-group/form-group.element.ts
  packages/core/src/index.performance.ts
  packages/core/src/modal/modal-actions.element.spec.ts
  packages/core/src/modal/modal-actions.element.ts
  packages/core/src/modal/modal.element.scss
  packages/core/src/modal/modal.element.ts
  packages/core/src/navigation/navigation-item.element.ts
  packages/core/src/navigation/navigation-start.element.ts
  packages/core/src/navigation/navigation.element.scss
  packages/core/src/pagination/pagination.element.spec.ts
  packages/core/src/pagination/pagination.element.ts
  packages/core/src/selection-panels/shared/selection-panel.element.scss
  packages/core/src/styles/layout/_optimize.scss
  packages/core/src/styles/layout/mixins/_mixins.scss
  packages/core/src/styles/themes/themes.stories.ts
  packages/core/src/styles/tokens/tokens.stories.ts
  packages/core/src/textarea/textarea.element.scss
  packages/core/src/tree-view/tree-item.element.scss
  packages/core/src/tree-view/tree-item.element.ts
  yarn.lock
Labels: @cds/core

#6511 feat(adoption): provide builder page to create StackBlitz demos
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/components/demo.component.ts
  src/app/components/sourcecode.component.ts
  src/app/pages/accordion.page.ts
  src/app/pages/alert.page.ts
  src/app/pages/badge.page.ts
  src/app/pages/button.page.ts
  src/app/pages/card.page.ts
  src/app/pages/checkbox.page.ts
  src/app/pages/datalist.page.ts
  src/app/pages/form.page.ts
  src/app/pages/icons.page.ts
  src/app/pages/input.page.ts
  src/app/pages/label.page.ts
  src/app/pages/list.page.ts
  src/app/pages/password.page.ts
  src/app/pages/range.page.ts
  src/app/pages/select.page.ts
  src/app/pages/template-builder.page.ts
  src/app/pages/textarea.page.ts
  src/app/pages/toggle.page.ts
  src/app/services/template-details.service.ts
  src/app/templates/index.ts
  src/app/templates/v5/angular.package.json.txt
  src/app/templates/v5/core.package.json.txt
Labels: DO NOT MERGE

#6548 chore: update ESLint version
  .eslintrc.js
  package-lock.json
  package.json
  projects/angular/src/layout/grid/mixins/_grid.scss
  projects/angular/src/utils/_theme.dark.clarity.scss
  projects/angular/src/utils/variables/_variables.global.scss
Labels: @clr/angular

#6554 fix(core): add missing metadata for panel inputs
  packages/core/src/selection-panels/checkbox/checkbox-panel.element.ts
  packages/core/src/selection-panels/radio/radio-panel.element.ts
Labels: @cds/core

#6550 fix(react): change react version to be >= 16.13.1 - backport v5
  packages/react/package.json
Labels: type: backport

#6553 fix(react): update required message for aria attributes - backport v5
  packages/core/src/internal/decorators/property.ts
Labels: type: backport

#6551 fix(core:card): alignment in grid layout - backport v5
  packages/core/src/card/card.element.scss
  packages/core/src/card/card.stories.ts
Labels: type: backport

#6529 fix: remove .vscode folder from tracked files
  .gitignore
  .vscode/settings.json
Labels: type: build

#6532 fix: breaking changes for core in v6
  packages/core/src/button-inline/button-inline.element.ts
  packages/core/src/button-inline/register.ts
  packages/core/src/internal/index.ts
  packages/core/src/internal/utils/focus-trap.spec.ts
  packages/core/src/internal/utils/focus-trap.ts
  packages/react/src/button/index.tsx
Labels: flag: breaking change, @cds/core

#6569 fix(angular): fix ellipsis issue in safari
  projects/angular/src/popover/dropdown/_dropdown.clarity.scss
Labels: type: bug, @clr/ui, component: dropdown, clr-angular v12, clr angular v13

#6571 fix(angular): fix ellipsis issue in safari (backport v12)
  projects/angular/src/popover/dropdown/_dropdown.clarity.scss
Labels: type: bug, @clr/ui, component: dropdown, type: backport, clr-angular v12

#6592 chore(core): support mac monterey
  packages/core/package.json
  yarn.lock
Labels: @cds/core

#6594 chore(core:button): support for deprecated button
  packages/core/src/alert/alert-group.stories.ts
  packages/core/src/alert/alert.stories.ts
  packages/core/src/alert/ligntweight-alerts.stories.mdx
  packages/core/src/button-inline/button-inline.element.ts
  packages/core/src/button-inline/button-inline.stories.mdx
  packages/core/src/button-inline/register.ts
  packages/react/src/button/index.tsx
Labels: @cds/core, v6

#6593 fix(core): property initialization
  packages/core/src/breadcrumb/breadcrumb.element.ts
  packages/core/src/card/card.element.ts
  packages/core/src/internal-components/overlay/overlay.element.ts
  packages/core/src/internal-components/popup/pointer.element.ts
  packages/core/src/navigation/navigation-item.element.ts
  packages/core/src/navigation/navigation-start.element.ts
  packages/core/src/navigation/navigation.element.ts
Labels: @cds/core, v5, v6

#6596 fix(react:button): move loadingStatus logic to update to work with react CdsButton (Backport)
  packages/core/src/button/button.element.spec.ts
  packages/core/src/button/button.element.ts
  packages/react/App.tsx
Labels: @cds/core, v5, @cds/react, type: backport

#6617 fix: angular dropdown toggle icon sizing/position
  projects/angular/src/layout/nav/_header.clarity.scss
  projects/angular/src/popover/dropdown/_dropdown.clarity.scss
Labels: type: bug, @clr/ui, component: dropdown, clr-angular v12

#6616 fix: ng dropdown toggle icon sizing for v13
  projects/angular/src/layout/nav/_header.clarity.scss
  projects/angular/src/popover/dropdown/_dropdown.clarity.scss
Labels: @clr/ui, component: dropdown, clr angular v13
