Repository vmware/clarity, pull requests merged in 2022-03, with the labels that each got.

#6706 fix(wizard): modal-content was not expanding vertically
  projects/angular/src/wizard/_wizard.clarity.scss
Labels: @clr/angular, component: wizard

#6705 a11y(angular:datagrid): vpat-763
  golden/clr-angular.d.ts
  projects/angular/src/data/datagrid/datagrid-column-toggle.spec.ts
  projects/angular/src/data/datagrid/datagrid-column-toggle.ts
  projects/angular/src/data/datagrid/datagrid-pagination.spec.ts
  projects/angular/src/data/datagrid/datagrid-pagination.ts
Labels: type: accessibility, component: datagrid, clr angular v13

#6733 fix(stack-view): improve a11y of stackview component
  golden/clr-angular.d.ts
  projects/angular/src/data/stack-view/all.spec.ts
  projects/angular/src/data/stack-view/stack-block.spec.ts
  projects/angular/src/data/stack-view/stack-block.ts
  projects/angular/src/data/stack-view/stack-view-custom-tags.spec.ts
  projects/angular/src/data/stack-view/stack-view-custom-tags.ts
  projects/angular/src/data/stack-view/stack-view.module.ts
Labels: type: enhancement, type: accessibility, component: stack view, @clr/angular, clr angular v13

#6735 fix(stack-view): improve a11y of stackview component
  golden/clr-angular.d.ts
  projects/angular/src/data/stack-view/all.spec.ts
  projects/angular/src/data/stack-view/stack-block.spec.ts
  projects/angular/src/data/stack-view/stack-block.ts
  projects/angular/src/data/stack-view/stack-view-custom-tags.spec.ts
  projects/angular/src/data/stack-view/stack-view-custom-tags.ts
  projects/angular/src/data/stack-view/stack-view.module.ts
Labels: type: accessibility, component: stack view, @clr/angular, type: backport, clr-angular v12

#6726 Topic/vpat 691 unique row identifiers
  golden/clr-angular.d.ts
  projects/angular/src/data/datagrid/datagrid-footer.ts
  projects/angular/src/data/datagrid/datagrid-row.html
  projects/angular/src/data/datagrid/datagrid-row.spec.ts
  projects/angular/src/data/datagrid/datagrid-row.ts
  projects/angular/src/utils/i18n/common-strings.default.ts
  projects/angular/src/utils/i18n/common-strings.interface.ts
  projects/website/src/app/documentation/demos/datagrid/datagrid.demo.html
  projects/website/src/app/documentation/demos/datagrid/datagrid.demo.main.scss
  projects/website/src/app/documentation/demos/datagrid/datagrid.demo.ts
  src/app/datagrid/detail/detail.html
  src/app/datagrid/selection-row-mode/selection-row-mode.html
  src/app/datagrid/selection-single/selection-single.html
  src/app/datagrid/selection/selection.html
Labels: type: accessibility, component: datagrid

#6741 fix(wizard): improve wizard aria-labelledby
  golden/clr-angular.d.ts
  projects/angular/src/modal/modal.html
  projects/angular/src/modal/modal.spec.ts
  projects/angular/src/modal/modal.ts
  projects/angular/src/wizard/wizard.html
  projects/angular/src/wizard/wizard.spec.ts
  projects/angular/src/wizard/wizard.ts
Labels: type: accessibility, component: modal, @clr/angular, component: wizard, clr angular v13

#6743 (backport) fix(tabs): remove unnecessary aria-expanded
  projects/angular/src/layout/tabs/tab-content.ts
  projects/angular/src/layout/tabs/tab-link.directive.ts
Labels: type: backport

#6744 fix(core:icon): export unexported icons from technology collection
  packages/core/src/icon/index.ts
Labels: component: icons, @cds/core

#6746 (backport) fix(date-picker): better denote selected date
  golden/clr-angular.d.ts
  projects/angular/src/forms/datepicker/date-container.spec.ts
  projects/angular/src/forms/datepicker/date-container.ts
  projects/angular/src/forms/datepicker/day.spec.ts
  projects/angular/src/forms/datepicker/day.ts
  projects/angular/src/utils/i18n/common-strings.default.ts
  projects/angular/src/utils/i18n/common-strings.interface.ts
Labels: type: backport

#6747 fix: contrast colors
  packages/core/src/button/button.element.scss
  packages/core/src/card/card.element.scss
  packages/core/src/styles/theme.dark.scss
Labels: @cds/core, @clr/ui

#6752 fix(ui): sass variable assignment
  projects/angular/src/popover/dropdown/_dropdown.clarity.scss
Labels: @clr/ui

#6758 fix(website): navigation page opening in section children
  apps/website/.vuepress/theme/components/Sidebar.vue
Labels: type: website

#6759 fix(website): storybook was hard-setting preview height
  packages/core/.storybook/public/preview.css
Labels: Dependency Regression, @cds/core

#6756 docs(signpost): make icon trigger an icon button
  projects/website/src/app/documentation/demos/signposts/signpost-triggers.demo.html
  projects/website/src/app/documentation/demos/signposts/signpost-triggers.demo.ts
Labels: type: accessibility, @clr/angular, component: signpost, Documentation

#6763 (backport) fix(angular): set build compilation mode
  packages/angular/projects/cds-angular/tsconfig.lib.prod.json
Labels: @cds/angular
