Repository vmware/clarity, pull requests merged in 2022-02, with the labels that each got.

#6618 fix: improve combobox color contrast in shim tokens
  apps/shim-clr-ui/angular.json
  apps/shim-clr-ui/package.json
  apps/shim-clr-ui/yarn.lock
  packages/core/src/styles/shim.clr-ui.scss
Labels: type: accessibility

#6610 fix(modal): let passing different typography for modal title
  projects/angular/src/modal/_modal.clarity.scss
Labels: @clr/ui

#6633 Fixed close icon shape name
  apps/website/.vuepress/code/demos/app-layout/content-container-ng.html
Labels: dco-required

#6612 fix(react): fix jsdom react testing issues
  packages/core/docs/react.stories.mdx
  packages/core/src/internal/utils/environment.spec.ts
  packages/core/src/internal/utils/environment.ts
  packages/core/src/internal/utils/events.ts
  packages/core/src/internal/utils/exists.spec.ts
  packages/core/src/internal/utils/exists.ts
  packages/core/src/internal/utils/global.ts
  packages/core/src/internal/utils/registration.ts
  packages/core/src/polyfills/aria-reflect.ts
Labels: @cds/core, @cds/react, external tooling

#6644 fix(angular:vertical-nav): navgroup togglebtn a11y
  golden/clr-angular.d.ts
  projects/angular/src/layout/vertical-nav/vertical-nav-group.html
  projects/angular/src/layout/vertical-nav/vertical-nav-group.spec.ts
  projects/angular/src/layout/vertical-nav/vertical-nav-group.ts
  src/app/vertical-nav/accessibility/vertical-nav-accessibility.demo.html
  src/app/vertical-nav/highlights/vertical-nav-highlights.demo.html
  src/app/vertical-nav/nested-icon-menus/vertical-nav-nested-icon-menus.demo.html
  src/app/vertical-nav/nested-menus/vertical-nav-nested-menus.demo.html
  src/app/vertical-nav/partially-nested-icon-menu/vertical-nav-partial-nested-icon-menus.demo.html
  src/app/vertical-nav/partially-nested-menu/vertical-nav-partial-nested-menus.demo.html
  src/app/vertical-nav/routing/vertical-nav-routing.demo.html
  src/app/vertical-nav/static/vertical-nav-static.demo.html
  src/app/vertical-nav/unstructured-routes/unstructured-routes.html
  src/app/vertical-nav/without-expanded-directive/without-expanded-directive.html
Labels: type: accessibility, @clr/angular, component: vertical-nav, clr angular v13

#6661 chore(core): storybook code format
  packages/core/.storybook/preview.js
Labels: @cds/core

#6667 fix(core): lit lifecycle type
  packages/core/npm.json
  packages/core/package.json
  packages/core/src/accordion/accordion-panel.element.ts
  packages/core/src/alert/alert-actions.element.ts
  packages/core/src/alert/alert-group.element.ts
  packages/core/src/alert/alert.element.ts
  packages/core/src/button-action/button-action.element.ts
  packages/core/src/button-expand/button-expand.element.ts
  packages/core/src/button/button.element.ts
  packages/core/src/dropdown/dropdown.stories.ts
  packages/core/src/file/file.element.ts
  packages/core/src/forms/control-action/control-action.element.ts
  packages/core/src/forms/control-group/control-group.element.ts
  packages/core/src/forms/control-inline/control-inline.element.ts
  packages/core/src/forms/control/control.element.ts
  packages/core/src/forms/form-group/form-group.element.ts
  packages/core/src/icon/icon.element.ts
  packages/core/src/input/input-group.element.ts
  packages/core/src/internal-components/overlay/overlay.element.spec.ts
  packages/core/src/internal-components/overlay/overlay.element.ts
  packages/core/src/internal-components/popup/popup.element.spec.ts
  packages/core/src/internal-components/popup/popup.element.ts
  packages/core/src/internal/decorators/animate.ts
  packages/core/src/internal/decorators/property.ts
  packages/core/src/internal/decorators/query-slot.ts
  packages/core/src/internal/motion/utils.spec.ts
  packages/core/src/internal/motion/utils.ts
  packages/core/src/internal/utils/lit.ts
  packages/core/src/navigation/navigation-group.element.ts
  packages/core/src/navigation/navigation-item.element.ts
  packages/core/src/navigation/navigation-start.element.ts
  packages/core/src/navigation/navigation.element.ts
  packages/core/src/pagination/pagination-button.element.ts
  packages/core/src/pagination/pagination.element.ts
  packages/core/src/progress-circle/progress-circle.element.ts
  packages/core/src/radio/radio-group.element.ts
  packages/core/src/radio/radio.element.ts
  packages/core/src/range/range.element.ts
  packages/core/src/select/select.element.ts
  packages/core/src/tag/tag.element.ts
  packages/core/src/toggle/toggle.element.ts
  packages/core/src/tree-view/tree-item.element.ts
  yarn.lock
Labels: @cds/core

#6664 (backport) angular directive metadata v5
  packages/angular/projects/cds-angular/_stubs/directive.ts.mustache
  packages/angular/projects/cds-angular/src/all.spec.ts
  packages/core/src/accordion/accordion-panel.element.ts
  packages/core/src/alert/alert.element.ts
  packages/core/src/internal-components/overlay/overlay.element.ts
  scripts/core-ng-module-generator.js
Labels: v5

#6640 [Backport] fix(react): fix jsdom react testing issues
  packages/core/docs/react.stories.mdx
  packages/core/src/internal/index.ts
  packages/core/src/internal/utils/environment.spec.ts
  packages/core/src/internal/utils/environment.ts
  packages/core/src/internal/utils/events.ts
  packages/core/src/internal/utils/exists.spec.ts
  packages/core/src/internal/utils/exists.ts
  packages/core/src/internal/utils/global.ts
  packages/core/src/internal/utils/register.ts
  packages/core/src/polyfills/aria-reflect.ts
Labels: @cds/core, @cds/react, type: backport

#6668 (backport) fix(core): lit lifecycle type
  packages/core/npm.json
  packages/core/package.json
  packages/core/src/accordion/accordion-panel.element.ts
  packages/core/src/alert/alert-actions.element.ts
  packages/core/src/alert/alert-group.element.ts
  packages/core/src/alert/alert.element.ts
  packages/core/src/button/button.element.ts
  packages/core/src/file/file.element.ts
  packages/core/src/forms/control-action/control-action.element.ts
  packages/core/src/forms/control-group/control-group.element.ts
  packages/core/src/forms/control-inline/control-inline.element.ts
  packages/core/src/forms/control/control.element.ts
  packages/core/src/forms/form-group/form-group.element.ts
  packages/core/src/icon/icon.element.ts
  packages/core/src/icon/icon.performance.ts
  packages/core/src/input/input-group.element.ts
  packages/core/src/internal-components/overlay/overlay.element.ts
  packages/core/src/internal/base/button.base.ts
  packages/core/src/internal/decorators/animate.ts
  packages/core/src/internal/decorators/property.ts
  packages/core/src/internal/decorators/query-slot.ts
  packages/core/src/internal/motion/utils.ts
  packages/core/src/internal/utils/lit.ts
  packages/core/src/modal/modal.element.ts
  packages/core/src/pagination/pagination-button.element.ts
  packages/core/src/pagination/pagination.element.ts
  packages/core/src/progress-circle/progress-circle.element.ts
  packages/core/src/radio/radio-group.element.ts
  packages/core/src/radio/radio.element.ts
  packages/core/src/range/range.element.ts
  packages/core/src/select/select.element.ts
  packages/core/src/tag/tag.element.ts
  packages/core/src/toggle/toggle.element.ts
  packages/core/src/tree-view/tree-item.element.ts
  yarn.lock
Labels: v5

#6653 chore: update release notes
  changelogs/v5.json
Labels: Documentation

#6652 chore: update release notes
  projects/website/src/releases/12.x/12.0.11.html
  projects/website/src/releases/release-list.json
  projects/website/src/releases/release-template-stub.json
Labels: Documentation

#6675 fix(tree-view): remove duplicate aria roll from treenode
  projects/angular/src/data/tree-view/tree-node.spec.ts
  projects/angular/src/data/tree-view/tree-node.ts
  projects/website/src/sitemap.xml
Labels: type: bug, type: accessibility, @clr/angular, component: tree view, clr angular v13

#6677 fix(angular:datagrid): backport - fix typo in commonstrings
  golden/clr-angular.d.ts
  projects/angular/src/data/datagrid/datagrid-row-detail.spec.ts
  projects/angular/src/data/datagrid/datagrid-row-detail.ts
  projects/angular/src/utils/i18n/common-strings.default.ts
  projects/angular/src/utils/i18n/common-strings.interface.ts
  projects/website/src/app/documentation/demos/i18n/i18n.demo.ts
Labels: type: bug, Oops, @clr/angular, type: backport, clr-angular v12

#6678 fix(tree-view): remove duplicate aria role from treenode
  projects/angular/src/data/tree-view/tree-node.spec.ts
  projects/angular/src/data/tree-view/tree-node.ts
Labels: type: bug, type: accessibility, @clr/angular, type: backport, clr-angular v12

#6682 fix: render cds-alert-actions in safari
  packages/core/src/alert/alert.element.scss
Labels: browser: safari, @cds/core

#6683 fix(navigation): better aria labels for responsive nav
  golden/clr-angular.d.ts
  projects/angular/src/layout/nav/header.spec.ts
  projects/angular/src/layout/nav/header.ts
  projects/angular/src/utils/i18n/common-strings.default.ts
  projects/angular/src/utils/i18n/common-strings.interface.ts
Labels: type: enhancement, type: accessibility, @clr/angular, navigation, clr angular v13

#6685 a11y(website:login): add visible label for login dropdown
  apps/website/.vuepress/code/demos/login/login-css.html
Labels: type: accessibility, Documentation

#6687 fix(tree-view): putting outline back on navigation trees
  projects/angular/src/data/tree-view/_tree-view.clarity.scss
Labels: type: bug, type: accessibility, @clr/ui, @clr/angular, clr angular v13

#6686 a11y(website:timeline): make button names unique on timeline docs
  apps/website/.vuepress/code/demos/timeline/horizontal-ng.html
  apps/website/.vuepress/code/demos/timeline/horizontal.html
  apps/website/.vuepress/code/demos/timeline/vertical-ng.html
  apps/website/.vuepress/code/demos/timeline/vertical.html
Labels: type: accessibility, Documentation

#6697 a11y(angular:timeline): remove aria-current announcement
  commitlint.config.js
  projects/angular/src/timeline/timeline-step.ts
Labels: @clr/angular, component: timeline

#6700 (backport) fix: include source code in source maps for webpack 5
  packages/core/rollup.config.js
Labels: @cds/core, @cds/react, type: backport, @cds/angular

#6701 (backport) fix(date-picker): add role="modal" to datepicker popup
  projects/angular/src/forms/datepicker/datepicker-view-manager.spec.ts
  projects/angular/src/forms/datepicker/datepicker-view-manager.ts
Labels: type: backport

#6693 build: provide tools to validate release and prevent missing packages
  package.json
  scripts/version-validation.js
Labels: type: build

#6692 build: provide tools to validate release and prevent missing packages
  package.json
  scripts/version-validation.js
Labels: type: build

#6691 build: provide tools to validate release and prevent missing packages
  package.json
  scripts/version-validation.js
Labels: type: build

#6704 fix(angular:popover): popover position left on smaller screens
  projects/angular/src/utils/popover/providers/popover-position.service.ts
Labels: @clr/angular

#6690 build: provide tools to validate release and prevent missing packages
  package.json
  scripts/version-validation.js
Labels: type: build

#6707 fix(wizard): modal-content was not expanding vertically (backport to v12
  projects/angular/src/wizard/_wizard.clarity.scss
Labels: @clr/angular, component: wizard

#6714 fix(tree-view): execute expand on enter and enter
  golden/clr-angular.d.ts
  projects/angular/src/data/tree-view/tree-node.ts
  projects/angular/src/utils/enums/key-codes.enum.ts
Labels: type: bug, type: accessibility, @clr/angular, component: tree view

#6715 fix: icon color in disabled button
  apps/shim-clr-ui/angular.json
  apps/shim-clr-ui/src/app/app.module.ts
  apps/shim-clr-ui/src/app/overview/overview.component.html
  apps/shim-clr-ui/yarn.lock
  packages/core/src/styles/shim.clr-ui.scss
Labels: type: bug

#6716 fix: icon color in disabled buttons
  projects/angular/src/button/_buttons.clarity.scss
  src/app/button-group/static/icon-buttons/icon-button-group.html
  src/app/buttons/buttons-icons.html
  src/app/buttons/real-button.html
Labels: type: bug, @clr/ui

#6721 (backport) fix(date-picker): add role="dialog" to datepicker popup
  projects/angular/src/forms/datepicker/datepicker-view-manager.ts
Labels: type: accessibility, type: backport

#6725 fix(header): improve aria attrs for responsive header
  projects/angular/src/layout/nav/header.ts
  projects/angular/src/utils/i18n/common-strings.default.ts
Labels: type: enhancement, type: accessibility, @clr/angular, navigation, clr angular v13

#6727 (backport) fix(date-picker): add aria-label to datepicker popup
  golden/clr-angular.d.ts
  projects/angular/src/forms/datepicker/datepicker-view-manager.ts
  projects/angular/src/utils/i18n/common-strings.default.ts
  projects/angular/src/utils/i18n/common-strings.interface.ts
Labels: type: backport

#6731 docs: update readme files to reference angular branch
  README.md
  docs/BUILD.md
  docs/CONTRIBUTING.md
  docs/CONTRIBUTING_DEVELOPMENT.md
  docs/CONTRIBUTING_DOCUMENTATION.md
  logo.png
Labels: @clr/angular, Documentation
